/*
@font-face {
    font-family: 'Futura New';
    font-weight: 800;
    font-style: italic;
    src: local('Futura New Bold Obl'), local('Futura-New-Bold-Obl'),
        url('~assets/fonts/FuturaNew/FuturaNewBold-Obl/FuturaNewBold-Obl.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewBold-Obl/FuturaNewBold-Obl.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewBold-Obl/FuturaNewBold-Obl.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Bold Reg'), local('Futura-New-Bold-Reg'),
        url('~assets/fonts/FuturaNew/FuturaNewBold-Reg/FuturaNewBold-Reg.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewBold-Reg/FuturaNewBold-Reg.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewBold-Reg/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Book Obl'), local('Futura-New-Book-Obl'),
        url('~assets/fonts/FuturaNew/FuturaNewBook-Obl/FuturaNewBook-Obl.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewBook-Obl/FuturaNewBook-Obl.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewBook-Obl/FuturaNewBook-Obl.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Book Reg'), local('Futura-New-Book-Reg'),
        url('~assets/fonts/FuturaNew/FuturaNewBook-Reg/FuturaNewBook-Reg.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewBook-Reg/FuturaNewBook-Reg.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewBook-Reg/FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Demi Obl'), local('Futura-New-Demi-Obl'),
        url('~assets/fonts/FuturaNew/FuturaNewDemi-Obl/FuturaNewDemi-Obl.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewDemi-Obl/FuturaNewDemi-Obl.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewDemi-Obl/FuturaNewDemi-Obl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
*/

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Demi Reg'), local('Futura-New-Demi-Reg'),
        url('~assets/fonts/FuturaNew/FuturaNewDemi-Reg/FuturaNewDemi-Reg.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewDemi-Reg/FuturaNewDemi-Reg.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewDemi-Reg/FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/*

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Extra Bold Obl'), local('Futura-New-Extra-Bold-Obl'),
        url('~assets/fonts/FuturaNew/FuturaNewExtraBold-Obl/FuturaNewExtraBold-Obl.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewExtraBold-Obl/FuturaNewExtraBold-Obl.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewExtraBold-Obl/FuturaNewExtraBold-Obl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Extra Bold Reg'), local('Futura-New-Extra-Bold-Reg'),
        url('~assets/fonts/FuturaNew/FuturaNewExtraBold-Reg/FuturaNewExtraBold-Reg.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewExtraBold-Reg/FuturaNewExtraBold-Reg.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewExtraBold-Reg/FuturaNewExtraBold-Reg.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Heavy Obl'), local('Futura-New-Heavy-Obl'),
        url('~assets/fonts/FuturaNew/FuturaNewHeavy-Obl/FuturaNewHeavy-Obl.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewHeavy-Obl/FuturaNewHeavy-Obl.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewHeavy-Obl/FuturaNewHeavy-Obl.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Heavy Reg'), local('Futura-New-Heavy-Reg'),
        url('~assets/fonts/FuturaNew/FuturaNewHeavy-Reg/FuturaNewHeavy-Reg.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewHeavy-Reg/FuturaNewHeavy-Reg.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewHeavy-Reg/FuturaNewHeavy-Reg.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Light Obl'), local('Futura-New-Light-Obl'),
        url('~assets/fonts/FuturaNew/FuturaNewLight-Obl/FuturaNewLight-Obl.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewLight-Obl/FuturaNewLight-Obl.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewLight-Obl/FuturaNewLight-Obl.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Light Reg'), local('Futura-New-Light-Reg'),
        url('~assets/fonts/FuturaNew/FuturaNewLight-Reg/FuturaNewLight-Reg.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewLight-Reg/FuturaNewLight-Reg.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewLight-Reg/FuturaNewLight-Reg.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Medium Obl'), local('Futura-New-Medium-Obl'),
        url('~assets/fonts/FuturaNew/FuturaNewMedium-Obl/FuturaNewMedium-Obl.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewMedium-Obl/FuturaNewMedium-Obl.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewMedium-Obl/FuturaNewMedium-Obl.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Futura New';
    src: local('Futura New Medium Reg'), local('Futura-New-Medium-Reg'),
        url('~assets/fonts/FuturaNew/FuturaNewMedium-Reg/FuturaNewMedium-Reg.woff2') format('woff2'),
        url('~assets/fonts/FuturaNew/FuturaNewMedium-Reg/FuturaNewMedium-Reg.woff') format('woff'),
        url('~assets/fonts/FuturaNew/FuturaNewMedium-Reg/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}*/
/*
@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Black'), local('San-Francisco-Pro-Display-Black'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Black/SFProDisplay-Black.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Black/SFProDisplay-Black.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Black/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Black Italic'), local('San-Francisco-Pro-Display-Black-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
*/
@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Bold'), local('San-Francisco-Pro-Display-Bold'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Bold/SFProDisplay-Bold.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Bold/SFProDisplay-Bold.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Bold/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*
@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Bold Italic'), local('San-Francisco-Pro-Display-Bold-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-BoldItalic/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-BoldItalic/SFProDisplay-BoldItalic.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-BoldItalic/SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Heavy'), local('San-Francisco-Pro-Display-Heavy'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Heavy/SFProDisplay-Heavy.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Heavy/SFProDisplay-Heavy.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Heavy/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Heavy Italic'), local('San-Francisco-Pro-Display-Heavy-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-HeavyItalic/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-HeavyItalic/SFProDisplay-HeavyItalic.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-HeavyItalic/SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Light'), local('San-Francisco-Pro-Display-Light'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Light/SFProDisplay-Light.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Light/SFProDisplay-Light.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Light/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Light Italic'), local('San-Francisco-Pro-Display-Light-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-LightItalic/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-LightItalic/SFProDisplay-LightItalic.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-LightItalic/SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Medium'), local('San-Francisco-Pro-Display-Medium'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Medium/SFProDisplay-Medium.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Medium/SFProDisplay-Medium.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Medium/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Medium Italic'), local('San-Francisco-Pro-Display-Medium-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-MediumItalic/SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-MediumItalic/SFProDisplay-MediumItalic.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-MediumItalic/SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
*/
@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Regular/SFProDisplay-Regular.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Regular/SFProDisplay-Regular.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Regular/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/*
@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Regular Italic'), local('San-Francisco-Pro-Display-Regular-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-RegularItalic/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-RegularItalic/SFProDisplay-RegularItalic.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-RegularItalic/SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Semibold'), local('San-Francisco-Pro-Display-Semibold'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Semibold/SFProDisplay-Semibold.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Semibold Italic'), local('San-Francisco-Pro-Display-Semibold-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-SemiboldItalic/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-SemiboldItalic/SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-SemiboldItalic/SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Thin'), local('San-Francisco-Pro-Display-Thin'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Thin/SFProDisplay-Thin.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Thin/SFProDisplay-Thin.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Thin/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Thin Italic'), local('San-Francisco-Pro-Display-Thin-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-ThinItalic/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-ThinItalic/SFProDisplay-ThinItalic.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-ThinItalic/SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Ultra Light'), local('San-Francisco-Pro-Display-Ultra-Light'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Ultralight/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Ultralight/SFProDisplay-Ultralight.woff') format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-Ultralight/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Ultra Light Italic'), local('San-Francisco-Pro-Display-Ultra-Light-Italic'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-UltralightItalic/SFProDisplay-UltralightItalic.woff2')
            format('woff2'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-UltralightItalic/SFProDisplay-UltralightItalic.woff')
            format('woff'),
        url('~assets/fonts/SFProDisplay/SFProDisplay-UltralightItalic/SFProDisplay-UltralightItalic.ttf')
            format('truetype');
    font-weight: 200;
    font-style: italic;
}
*/
