@keyframes pulsar {
    0%,
    59.9%,
    87%,
    100% {
        color: rgba(@c-active, 1);
    }
    62% {
        color: rgba(@c-primary, 1);
    }
}

.pulsar-example {
    animation: pulsar 5s infinite linear;
}
