@c-background: rgba(252, 252, 252, 1); // Фон - #fcfcfc;
@c-background-light: rgba(255, 255, 255, 1); // Светлый фон (хедер, футер) - #ffffff;
@c-primary: rgba(11, 0, 0, 1); // Основной текст - #0b0000;
@c-hover: rgba(249, 216, 216, 1); // При наведении на новость, при наведении на закладку - #f9d8d8;
@c-active: rgba(226, 59, 60, 1); // При нажатии на кнопку, при наведении на кнопку, при создании закладки - #e23b3c;
@c-active-light: rgba(226, 59, 60, 0.7);
@c-red: rgba(184, 17, 17, 1); // Красный - #b81111;
@c-grey: rgba(52, 65, 74, 0.8); // Фон выезжающего блока карточки новостей
@c-disabled: rgba(129, 129, 129, 1); // Кнопка отключена, страница не выбрана - #818181;
@c-smoke: rgba(224, 224, 224, 1); // Дым - #E0E0E0
@c-grid-color: rgba(226, 59, 60, 0.5); // Цвет grid - #e23b3c;
@c-dark-shadow-color: rgba(0, 0, 0, 0.2); // Цвет теней 1 уровня - #000000;
@c-middle-shadow-color: rgba(0, 0, 0, 0.1); // Цвет теней 2 уровня - #000000;
@c-light-shadow-color: rgba(0, 0, 0, 0.05); // Цвет теней 3 уровня - #000000;
@c-steel-blue: rgba(56, 138, 181, 1); // #388AB5
@c-aquamarine: rgba(78, 162, 146, 1); // Успешное состояние - #4EA292
@c-royal-blue: rgba(97, 123, 207, 1); // Информация - #617BCF
@c-prussian-blue: rgba(0, 49, 83, 1); // #003153
@c-error: rgba(207, 97, 121, 1); // Статус состояния error - #CF6179
@c-warning: rgba(235, 167, 116, 1); // Статус состояния warning - #EBA774
@c-background-warning: rgba(64, 64, 64, 0.7);
@aut-background-color: rgba(256, 256, 256, 0.85);
@aut-icon-color: #6f6f6f;
@aut-icon-color-hover: #1976d2;
@c-background-transparent: rgba(252, 252, 252, 0.85); // Фон спинера - #fcfcfc
@c-background-transparent-mobile: rgba(252, 252, 252, 0.95); // Фон спинера на мобильных устройствах - #

@lg: ~'(min-width: 1221px)';
@md: ~'only screen and (min-width: 851px) and (max-width: 1220px)';
@sm: ~'only screen and (min-width: 541px) and (max-width: 851px)';
@msm: ~'only screen and (min-width: 421px) and (max-width: 540px)';
@xsm: ~'only screen and (max-width: 420px)';
