@font-face {
    font-family: 'Futura New';
    src: local('Futura New Demi Obl'), local('Futura-New-Demi-Obl'), url('FuturaNewDemi-Obl.woff2') format('woff2'),
        url('FuturaNewDemi-Obl.woff') format('woff'), url('FuturaNewDemi-Obl.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
