@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Bold Italic'), local('San-Francisco-Pro-Display-Bold-Italic'),
        url('SFProDisplay-BoldItalic.woff2') format('woff2'), url('SFProDisplay-BoldItalic.woff') format('woff'),
        url('SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
