@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Thin Italic'), local('San-Francisco-Pro-Display-Thin-Italic'),
        url('SFProDisplay-ThinItalic.woff2') format('woff2'), url('SFProDisplay-ThinItalic.woff') format('woff'),
        url('SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
