@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Ultra Light Italic'), local('San-Francisco-Pro-Display-Ultra-Light-Italic'),
        url('SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('SFProDisplay-UltralightItalic.woff') format('woff'),
        url('SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
