@font-face {
    font-family: 'Futura New';
    src: local('Futura New Medium Obl'), local('Futura-New-Medium-Obl'),
        url('FuturaNewMedium-Obl.woff2') format('woff2'), url('FuturaNewMedium-Obl.woff') format('woff'),
        url('FuturaNewMedium-Obl.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
