@font-face {
    font-family: 'Futura New';
    src: local('Futura New Extra Bold Obl'), local('Futura-New-Extra-Bold-Obl'),
        url('FuturaNewExtraBold-Obl.woff2') format('woff2'), url('FuturaNewExtraBold-Obl.woff') format('woff'),
        url('FuturaNewExtraBold-Obl.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
