@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Medium Italic'), local('San-Francisco-Pro-Display-Medium-Italic'),
        url('SFProDisplay-MediumItalic.woff2') format('woff2'), url('SFProDisplay-MediumItalic.woff') format('woff'),
        url('SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
