@font-face {
    font-family: 'Futura New';
    src: local('Futura New Heavy Reg'), local('Futura-New-Heavy-Reg'), url('FuturaNewHeavy-Reg.woff2') format('woff2'),
        url('FuturaNewHeavy-Reg.woff') format('woff'), url('FuturaNewHeavy-Reg.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
