<template>
  <div class="authorization-all">
    <div class="authorization-all-close" @click="closeAuthorizationWindow" />
    <v-app :style="{ width: formWidth }" class="authorization-app">
      <div class="authorization-app-all">
        <div :style="{'margin-top': loginScrollMargin}" class="authorization-app-login" @keydown.enter.prevent="authorization">
          <form :style="{ width: authorizationAd, height:authorizationOd }">
            <div class="authorization-header">
              <div class="authorization-header-empty-div" />
              <p class="authorization-main-title">
                Войти
              </p>
              <button class="authorization-header-close-button" @click="closeAuthorizationWindow">
                <font-awesome-icon class="authorization-cancel-icon" :icon="['far','times-circle']" size="1x" />
              </button>
            </div>
            <div class="authorization-main-box">
              <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                label="E-mail"
                required
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              />
              <v-text-field
                v-model="password"
                :error-messages="passwordErrors"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show1 ? 'text' : 'password'"
                label="Password"
                counter
                required
                @click:append="show1 = !show1"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
              />
              <div
                class="authorization-window-button"
                @click.prevent=""
              >
                <p class="error-message">
                  {{ error }}
                </p>
                <strikecom-button class="authorization-button-enter" :is-disabled="!allValid" @mousedown.prevent="authorization">
                  <p class="authorization-button-enter-text">
                    <span v-if="loading">Загрузка...</span>
                    <span v-else>Войти</span>
                  </p>
                </strikecom-button>
                <div v-if="veryState" class="authorization-verification">
                  <p class="authorization-verification-main-title">
                    Подтверждение Email
                  </p>
                  <p class="authorization-verification-title-1">
                    Вам отправлено письмо
                  </p>
                  <button class="authorization-verification-button" @click="veryWindowClose">
                    Проверить Email
                  </button>
                </div>
                <div class="alternative-entrance">
                  <picture>
                    <source srcset="/imag/google.webp" type="image/webp">
                    <img width="35px" src="/imag/google.png" alt="" @click.prevent="googleAuthorization">
                  </picture>
                </div>
                <div class="authorization-password-recovery" @mousedown.prevent="resetPassword">
                  <p>Забыли свой пароль? Мы можем помочь</p>
                </div>
                <button
                  class="authorization-button-aut-registration"
                  @mousedown.prevent="authorizationRegistrationScroll"
                >
                  Создать аккаунт
                </button>
                <nuxt-link class="authorization-privacy-policy" to="privacyPolicy" @click.native="closeAuthorizationWindow">
                  <p>Политика конфиденциальности</p>
                </nuxt-link>
              </div>
            </div>
          </form>
        </div>
        <div class="authorization-app-registration">
          <form :style="{ width: authorizationAd }">
            <div class="registration-header" @click.prevent="">
              <button class="registration-header-back-button" @mousedown.prevent="authorizationRegistrationScroll">
                <font-awesome-icon class="registration-back-icon" :icon="['far','caret-square-up']" size="2x" />
              </button>
              <p class="registration-main-title">
                Создать аккаунт
              </p>
              <button class="registration-header-close-button" @mousedown.prevent="closeAuthorizationWindow">
                <font-awesome-icon class="registration-cancel-icon" :icon="['far','times-circle']" size="1x" />
              </button>
            </div>
            <div class="registration-main-box">
              <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                label="E-mail"
                required
                @input="$v.email.$touch()"
                @blur="$v. email.$touch()"
              />
              <v-text-field
                v-model="password"
                :error-messages="passwordErrors"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show1 ? 'text' : 'password'"
                label="Password"
                counter
                required
                @click:append="show1 = !show1"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
              />
              <div
                class="registration-window-button"
                @click.prevent=""
              >
                <p class="error-message">
                  {{ registrationError }}
                </p>
                <strikecom-button
                  class="registration-button-enter"
                  :is-disabled="!allValid"
                  @mousedown.prevent="registration"
                >
                  <p class="registration-button-enter-text">
                    <span v-if="loading">Загрузка...</span>
                    <span v-else>Регистрация</span>
                  </p>
                </strikecom-button>
                <nuxt-link class="registration-privacy-policy" to="privacyPolicy" @click.native="closeAuthorizationWindow">
                  <p>Политика конфиденциальности</p>
                </nuxt-link>
              </div>
            </div>
          </form>
        </div>
      </div>
    </v-app>
  </div>
</template>
<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import StrikecomButton from '@/components/StrikecomButton.vue';
import { required, email, minLength } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';


@Component({
  components: { StrikecomButton },
  validations: {
    email: { required, email },
    password: {
      required,
      minLength: minLength(6),
    },
  },
})
export default class AuthorizationWindow extends Vue {
        private mixins: any = [validationMixin];

        private error: string = '';

        private loginScrollMargin: string = '0';

        private formWidth: string = '0%';

        private show1: boolean = false;

        private show2: boolean = true;

        private registerSubmitStatus: string = '';

        private loginSubmitStatus: string = '';

        private email: string = '';

        private password: string = '';

        private get passwordErrors(): string[] {
          const errors: string[] = [];
          if (!this.$v.password.$dirty) return errors;
          !this.$v.password.minLength && errors.push('Password must be at least 8 characters long');
          !this.$v.password.required && errors.push('Password is required.');
          return errors;
        }

        private get emailErrors(): string[] {
          const errors: string[] = [];
          if (!this.$v.email.$dirty) return errors;
          !this.$v.email.email && errors.push('Must be valid e-mail');
          !this.$v.email.required && errors.push('E-mail is required');
          return errors;
        }

        private get veryState(): string {
          return this.$store ? this.$store.state.very : '';
        }

        private get registrationError(): string {
          return this.$store ? this.$store.state.error : '';
        }

        private get authorizationAd(): string {
          return (this.$mq !== 'lg' && this.$mq !== 'md' && this.$mq !== 'sm') ? `${document.documentElement.clientWidth}px` : '500px';
        }

        private get authorizationOd(): string {
          return this.$mq !== 'lg' ? '100%' : '550px';
        }

        private get allValid(): boolean {
          return !this.$v.$invalid;
        }

        private get signInModal(): boolean {
          return this.$store ? this.$store.state.signInModal : false;
        }


        private get loading(): boolean {
          return this.$store ? this.$store.getters.loading : false;
        }

        private authorizationRegistrationScroll(): void {
          if (this.loginScrollMargin === '0') {
            this.loginScrollMargin = '-34em';
          } else {
            this.loginScrollMargin = '0';
          }
        }

        @Watch('signInModal')
        private authorizationWindowWidth(): void {
          this.formWidth = this.authorizationAd;
        }

        private veryWindowClose(): void {
          this.$store.commit('SET_VERY', false);
        }

        private closeAuthorizationWindow(): void {
          this.clearFocus();
          this.$store.commit('SIGN_IN_MODAL_ON', false);
          return this.$store.state.signInModal;
        }

        // eslint-disable-next-line class-methods-use-this
        private clearFocus(): void {
          if (document.activeElement) {
            (document.activeElement as HTMLElement).blur();
          }
        }

        private registration(): void {
          this.$v.$touch();
          if (this.$v.invalid) {
            this.registerSubmitStatus = 'ERROR';
          } else {
            const user = {
              email: this.email,
              password: this.password,
            };
            this.$store.dispatch('registerUser', user)
              .then(() => {
                this.registerSubmitStatus = 'Accept';
                this.authorizationRegistrationScroll();
              })
              .catch(e => {
                this.registerSubmitStatus = e.message;
              });
          }
        }

        private authorization(): void {
          this.$v.$touch();
          if (this.$v.invalid) {
            this.loginSubmitStatus = 'ERROR';
          } else {
            const user = {
              email: this.email,
              password: this.password,
            };
            this.$store.dispatch('loginUser', user)
              .then(() => {
                this.loginSubmitStatus = 'Accept';
              })
              .catch(e => {
                this.loginSubmitStatus = e.message;
                this.error = 'Неверный логин или пароль';
              });
          }
        }

        private googleAuthorization(): void {
          this.$store.dispatch('googleAuthorization');
        }

        private async resetPassword(): Promise<void> {
          await this.$store.dispatch('resetPassword', this.email);
        }


        private mounted(): void {
          setTimeout(() => this.authorizationWindowWidth(), 1);
        }
}
</script>

<style lang="less" scoped>
    .authorization-all {
        font-family: 'San Francisco Pro';
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: @c-background-warning;
        position: fixed;
        align-items: center;

        .authorization-button-act {
            display: flex;
            flex-direction: column;

            button {
                padding: 10px;
                color: @c-background-light;
                font-size: 25px;
                margin-top: 20px;
                border: 2px solid @c-light-shadow-color;
                transition: 0.5s all;

                &:hover {
                    background-color: @c-active;
                    border-color: @c-active;
                }
            }
        }


        .authorization-all-close {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 950;
        }

        .authorization-app {
            z-index: 951;

            width: 500px;
            padding-top: 20px;
            height: 550px;
            transition: 2s all;
            overflow: hidden;
            background-color: @aut-background-color;

            .authorization-app-all {
                display: flex;
                flex-direction: column;
                transition: 0.5s all;

                .authorization-app-login {
                    padding-bottom: 20px;
                    transition: 0.5s all;
                }

                .authorization-app-registration {
                    padding-top: 5px;
                    transition: 0.5s all;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .registration-header {
                        padding-top: 10px;
                        padding-right: 25px;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .registration-header-back-button {
                            margin-left: 25px;
                        }

                        .registration-main-title{
                            padding-top: 3px;
                            font-size: 20px;
                        }

                        .registration-back-icon{
                            color: @aut-icon-color;
                            transition: 0.5s all;

                            &:hover{
                                color: @aut-icon-color-hover;
                            }
                        }

                        .registration-cancel-icon {
                            color: @aut-icon-color;
                            transition: 0.5s all;
                            cursor: pointer;
                            font-size: 30px;

                            &:hover {
                                color: @c-active;
                            }
                        }
                    }

                    .registration-main-box {
                        margin-top: 80px;
                        padding-left: 80px;
                        padding-right: 80px;


                        .registration-window-button {
                            margin-top: 65px;
                            width: 100%;

                            .error-message{
                                display: flex;
                                justify-content: center;
                                color: @c-active;
                                font-size: 12px;
                            }

                            .registration-button-aut-registration {
                                width: 100%;
                                padding: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 20px;
                                border: 2px solid @c-light-shadow-color;
                                transition: 0.5s all;

                                &:hover {
                                    border-color: @c-active;
                                    background-color: @c-active;
                                    color: @c-background-light;
                                }
                            }

                            .registration-password-recovery {
                                display: flex;
                                justify-content: center;
                                color: @c-active;
                                font-size: 13px;
                                transition: 0.5s all;
                                text-decoration: none;
                                margin-top: 20px;

                                &:hover {
                                    color: @aut-icon-color-hover;
                                }
                            }

                            .alternative-entrance {
                                display: flex;
                                margin-top: 28px;
                                justify-content: space-evenly;
                                width: 100%;

                                img {
                                    transition: 0.5s all;
                                    cursor: pointer;
                                }

                                img:hover {
                                    transform: scale(1.2, 1.2);
                                }
                            }

                            .registration-privacy-policy {
                                display: flex;
                                justify-content: center;
                                color: @c-primary;
                                font-size: 14px;
                                transition: 0.5s all;
                                text-decoration: none;
                                margin-top: 35px;

                                &:hover {
                                    color: @aut-icon-color-hover;
                                }
                            }

                            .registration-button-enter {
                                width: 100%;
                                margin: 0 auto;
                            }
                        }
                    }
                }


                .authorization-app-login {


                    .authorization-header {
                        padding-right: 25px;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .authorization-main-title{
                            font-size: 20px;
                        }

                        .authorization-header-empty-div{
                            width: 28px;
                            height: 10px;
                            margin-left: 25px;
                        }


                        .authorization-cancel-icon {
                            color: @aut-icon-color;
                            transition: 0.5s all;
                            cursor: pointer;
                            font-size: 30px;

                            &:hover {
                                color: @c-active;
                            }
                        }
                    }

                    .authorization-main-box {
                        margin-top: 70px;
                        padding-left: 80px;
                        padding-right: 80px;


                        .authorization-window-button {
                            margin-top: 15px;
                            width: 100%;

                            .error-message{
                                display: flex;
                                justify-content: center;
                                color: @c-active;
                                font-size: 12px;
                            }

                            .authorization-verification{
                                background-color: @c-background-light;
                                border-radius: 5px;
                                width: 340px;
                                height: 200px;
                                display: flex;
                                margin-top: -110px;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                position: fixed;

                                .authorization-verification-main-title{
                                    font-size: 22px;
                                }

                                .authorization-verification-title-1{
                                    font-size: 18px;
                                    color: @c-aquamarine;
                                }

                                .authorization-verification-button{
                                    margin-top: 10px;
                                    padding: 15px;
                                    border-radius: 15px;
                                    color: @c-background-light;
                                    background-color: @aut-icon-color-hover;
                                }


                                button{
                                    color: @c-primary;
                                    transition: 0.5s all;

                                    &:hover{
                                        transform: scale(1.1,1.1);
                                    }
                                }
                            }

                            .authorization-button-aut-registration {
                                width: 100%;
                                padding: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 20px;
                                border: 2px solid @c-light-shadow-color;
                                transition: 0.5s all;

                                &:hover {
                                    border-color: @c-active;
                                    background-color: @c-active;
                                    color: @c-background-light;
                                }
                            }

                            .authorization-password-recovery {
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                color: @c-active;
                                font-size: 13px;
                                transition: 0.5s all;
                                text-decoration: none;
                                margin-top: 20px;

                                &:hover {
                                    color: @aut-icon-color-hover;
                                }
                            }

                            .alternative-entrance {
                                display: flex;
                                margin-top: 28px;
                                justify-content: space-evenly;
                                width: 100%;

                                img {
                                    transition: 0.5s all;
                                    cursor: pointer;
                                }

                                img:hover {
                                    transform: scale(1.2, 1.2);
                                }
                            }

                            .authorization-privacy-policy {
                                display: flex;
                                justify-content: center;
                                color: @c-primary;
                                font-size: 13px;
                                transition: 0.5s all;
                                text-decoration: none;
                                margin-top: 15px;

                                &:hover {
                                    color: @aut-icon-color-hover;
                                }
                            }

                            .authorization-button-enter {
                                width: 100%;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
</style>
