<template>
  <div class="chart-skeleton">
    <div class="chart-skeleton-top">
      <div v-for="n in 8" :key="n" class="chart-skeleton-column" />
    </div>
    <div class="chart-skeleton-bottom">
      <div v-for="n in 2" :key="n" class="chart-skeleton-row" />
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ChartSkeleton extends Vue {
}
</script>

<style lang="less" scoped>
@keyframes skeleton-loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
  .chart-skeleton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .chart-skeleton-top {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 70%;

      .chart-skeleton-column {
        flex-grow: 1;
        background: @c-smoke;
        animation: skeleton-loading 1s linear infinite alternate;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
          90deg,
          rgba(#fff, 0) 0,
          rgba(#fff, 0.2) 20%,
          rgba(#fff, 0.5) 60%,
          rgba(#fff, 0)
        );
        animation: shimmer 2s infinite;
        content: '';
      }
    }

    .chart-skeleton-bottom {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 25%;

      .chart-skeleton-row {
        flex-grow: 1;
        border-radius: 5px;
        position: relative;
        background-color: @c-smoke;
        animation: skeleton-loading 1s linear infinite alternate;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transform: translateX(-100%);
          background-image: linear-gradient(
            90deg,
            rgba(#fff, 0) 0,
            rgba(#fff, 0.2) 20%,
            rgba(#fff, 0.5) 60%,
            rgba(#fff, 0)
          );
          animation: shimmer 2s infinite;
          content: '';
        }

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
</style>
