<template>
  <div class="chronology-container">
    <div :id="'chronology-diagram-paper'+diagramKey" class="chronology-diagram-paper" />
  </div>
</template>

<script>
import Vue from 'vue';
import _ from 'lodash';
import $ from 'jquery';
import * as joint from 'jointjs';
import colorVariables from '@/components/maps/color';

export default Vue.extend({
  name: 'ChronologyDiagram',

  props: {
    diagramKey: {
      type: Number,
      required: false,
    },
    eventId: {
      type: Number,
      required: false,
    },
    relatives: {
      type: Array,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      default: 'large',
      required: false,
    },
  },

  data() {
    return {
      graph: null,
    };
  },

  computed: {
    relativesSorted() {
      const relativesSorted = this.relatives;
      return relativesSorted.sort((a, b) => {
        return b.id - a.id;
      });
    },
    fontSizeBottom() {
      return (this.size === 'small') ? '14px' : '16px';
    },
    fontSizeTop() {
      return (this.size === 'small') ? '12px' : '14px';
    },
  },

  async mounted() {
    const paper = this.paperInit();
    this.addItemsToPaper(paper);
  },

  methods: {
    timestampParse(timestamp) {
      return timestamp ? this.$moment(new Date(timestamp * 1000)).format('D MMMM, YYYY') : '';
    },

    eventLink(type, eventId) {
      return `/${type}/${eventId.toString()}`;
    },

    paperInit() {
      this.graph = new joint.dia.Graph([], { cellNamespace: joint.shapes });

      // Инициализируем холст для рисования диаграммы
      const paper = new joint.dia.Paper({
        el: document.getElementById(`chronology-diagram-paper${this.diagramKey}`),
        cellViewNamespace: joint.shapes,
        model: this.graph,
        width: '100%',
        interactive: { linkMove: false },
        height: 500,
        gridSize: 8,
        drawGrid: {
          color: colorVariables['c-grid-color'],
          thickness: 1,
          name: 'dot', // 'dot' | 'fixedDot' | 'mesh' | 'doubleMesh'
        },
        background: {
          color: colorVariables['c-background-light'],
        },
      });

      joint.shapes.html = {};
      return paper;
    },

    addItemsToPaper(paper) {
      const topBlockPosition = {
        x: 60,
        y: 42,
      };
      const initBlockHeight = 100;
      const blockMargin = 50;
      let accumHeight = topBlockPosition.y;
      let isRendered = [];

      joint.shapes.html.Element = joint.shapes.standard.Rectangle.define('html.Element',
        {
          attrs: {
            link: {
              xlinkShow: 'replace',
              cursor: 'pointer',
            },
            body: {
              fill: 'rgba(0,0,0,0)',
              stroke: 'rgba(0,0,0,0)',
            },
            rect: {
              refWidth: '100%',
              refHeight: '100%',
              stroke: 'none',
            },
          },
        }, {
          markup: [{
            // `link` envelops both `body` and `label`
            tagName: 'a',
            selector: 'link',
            children: [{
              tagName: 'rect',
              selector: 'body',
            }, {
              tagName: 'text',
              selector: 'label',
            }],
          }],
        });
      joint.shapes.html.ElementView = joint.dia.ElementView.extend({
        template: `<nuxt-link class="chronology-block">
                         <div class="chronology-block-top">
                            <div class="chronology-block-date"></div>
                            <div class="chronology-block-current"></div>
                         </div>
                         <div class="chronology-block-bottom">
                            <h1 class="chronology-block-title">
                            </h1>
                         </div>
                   </nuxt-link>`,
        events: {
          'touchstart a': 'onAnchorTouchStart',
        },
        onAnchorTouchStart(evt) {
          evt.stopPropagation();
        },
        initialize(...args) {
          _.bindAll(this, 'updateBox');
          joint.dia.ElementView.prototype.initialize.apply(this, args);

          this.$box = $(_.template(this.template)());

          // Prevent paper from handling pointerdown.
          this.$box.find('input,select').on('mousedown click', (evt) => {
            evt.stopPropagation();
          });

          // This is an example of reacting on the input change and storing the input data in the cell model.
          this.$box.find('input').on(
            'change',
            _.bind(evt => {
              this.model.set('input', $(evt.target).val());
            }, this),
          );
          this.$box.find('select').on(
            'change',
            _.bind(evt => {
              this.model.set('select', $(evt.target).val());
            }, this),
          );
          this.$box.find('select').val(this.model.get('select'));
          this.$box.find('.delete').on('click', _.bind(this.model.remove, this.model));

          // Update the box position whenever the underlying model changes.
          this.model.on('change', this.updateBox, this);
          // Remove the box when the model gets removed from the graph.
          this.model.on('remove', this.removeBox, this);

          this.updateBox();
        },
        render(...args) {
          this.$box.find('.chronology-block-title').text(this.model.get('title'));
          this.$box.find('.chronology-block-date').text(this.model.get('date'));
          this.$box.find('.chronology-block-current').text(this.model.get('current'));
          joint.dia.ElementView.prototype.render.apply(this, args);
          this.paper.$el.prepend(this.$box);
          const index = this.model.get('i');

          if (!isRendered.includes(index)) {
            if (!index) {
              isRendered = [];
              accumHeight = topBlockPosition.y;
            }
            isRendered.push(index);
            this.model.resize(
              $('.chronology-block')
                .first()
                .outerWidth(),
              $('.chronology-block')
                .first()
                .outerHeight(),
            );
            this.$box.css({
              width: $('.chronology-block')
                .first()
                .outerWidth(),
              height: $('.chronology-block')
                .first()
                .outerHeight(),
            },
            );
            const bbox = this.model.getBBox();
            this.model.position(
              bbox.x - 30,
              accumHeight);
            accumHeight += $('.chronology-block')
              .first()
              .outerHeight()
                + blockMargin;
            this.paper.setDimensions('100%', accumHeight);
          }
          return this;
        },
        updateBox() {
          // Set the position and dimension of the box so that it covers the JointJS element.
          const bbox = this.model.getBBox();
          this.$box.find('.chronology-block-title').text(this.model.get('title'));
          this.$box.find('.chronology-block-date').text(this.model.get('date'));
          this.$box.find('.chronology-block-current').text(this.model.get('current'));
          // Example of updating the HTML with a data stored in the cell model.
          this.$box.css({
            left: bbox.x,
            top: bbox.y,
            transform: `rotate(${this.model.get('angle') || 0}deg)`,
          });

          this.$box.find('.chronology-block-top').css({
            'background-color': this.model.get('color'),
            'font-size': this.model.get('fontSizeTop'),
          });
          this.$box.find('.chronology-block-bottom').css({
            'font-size': this.model.get('fontSizeBottom'),
          });
          const index = this.model.get('i');

          if (!isRendered.includes(index)) {
            this.model.resize(
              $('.chronology-block')
                .first()
                .outerWidth(),
              $('.chronology-block')
                .first()
                .outerHeight(),
            );
            this.$box.css({
              width: $('.chronology-block')
                .first()
                .outerWidth(),
              height: $('.chronology-block')
                .first()
                .outerHeight(),
            },
            );
          }
        },
        removeBox() {
          this.$box.remove();
        },
      });
      const diagramBlockArray = [];
      let counter = -1;
      const parentEventMap = new Map();
      for (let r = 0; r < this.relativesSorted.length; r++) {
        counter++;
        let eventDate = this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].date ? this.timestampParse(this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].date) : '';
        let eventColor = (this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].id === this.eventId) ? colorVariables['c-active'] : colorVariables['@c-royal-blue'];
        let eventCurrent = (this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].id === this.eventId) ? 'текущее' : '';
        let diagramBlock = new joint.shapes.html.Element({
          i: counter,
          position: {
            x: topBlockPosition.x,
            y: topBlockPosition.y + (initBlockHeight + blockMargin) * counter,
          },
          color: eventColor,
          fontSizeBottom: this.fontSizeBottom,
          fontSizeTop: this.fontSizeTop,
          title: this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].title,
          id: this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].id,
          date: eventDate,
          current: eventCurrent,
        });
        if (this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].id !== this.eventId) {
          diagramBlock.attr({
            link: {
              xlinkHref: this.eventLink(this.type, this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].id),
            },
          });
        }

        diagramBlockArray.push([]);
        diagramBlock.addTo(this.graph);
        diagramBlockArray[r].push(diagramBlock);
        if (this.relativesSorted[r].parentEventId) {
          parentEventMap.set(this.relativesSorted[r].parentEventId, r);
        }

        if (parentEventMap.get(this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].id) + 1) {
          const targetConflict = parentEventMap.get(this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].id);
          const diagramLinkParent = new joint.dia.Link({
            markup: [
              {
                tagName: 'path',
                selector: 'line',
              },
            ],
            source: { id: this.relativesSorted[r].events[this.relativesSorted[r].events.length - 1].id },
            target: { id: this.relativesSorted[targetConflict].events[0].id },
            router: { name: 'manhattan' },
            connector: { name: 'rounded' },
            attrs: {
              line: {
                connection: { stubs: 0 },
                strokeDasharray: '5 12',
                fill: 'none',
                stroke: colorVariables['c-primary'],
                strokeWidth: 2,
                strokeLinejoin: 'round',
              },
            },
          });
          diagramLinkParent.addTo(this.graph);
          const verticesToolParent = new joint.linkTools.Vertices();
          const segmentsToolParent = new joint.linkTools.Segments();
          const sourceAnchorToolParent = new joint.linkTools.SourceAnchor();
          const targetAnchorToolParent = new joint.linkTools.TargetAnchor();
          const boundaryToolParent = new joint.linkTools.Boundary();
          const toolsViewParent = new joint.dia.ToolsView({
            tools: [verticesToolParent, segmentsToolParent, sourceAnchorToolParent, targetAnchorToolParent, boundaryToolParent],
          });
          const linkViewParent = diagramLinkParent.findView(paper);
          linkViewParent.removeTools();
          linkViewParent.addTools(toolsViewParent);
          linkViewParent.hideTools();
          // eslint-disable-next-line no-shadow
          paper.on('link:mouseenter', (linkViewParent) => {
            linkViewParent.showTools();
          });
          // eslint-disable-next-line no-shadow
          paper.on('link:mouseleave', (linkViewParent) => {
            linkViewParent.hideTools();
          });
        }

        for (let i = 1; i < this.relativesSorted[r].events.length; i++) {
          diagramBlockArray.push([]);
          counter++;
          eventDate = this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].date ? this.timestampParse(this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].date) : '';
          eventColor = (this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].id === this.eventId) ? colorVariables['c-active'] : colorVariables['@c-royal-blue'];
          eventCurrent = (this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].id === this.eventId) ? '-текущ.' : '';
          diagramBlock = new joint.shapes.html.Element({
            i: counter,
            position: {
              x: topBlockPosition.x,
              y: topBlockPosition.y + (initBlockHeight + blockMargin) * counter,
            },
            color: eventColor,
            fontSizeBottom: this.fontSizeBottom,
            fontSizeTop: this.fontSizeTop,
            title: this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].title,
            id: this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].id,
            date: eventDate,
            current: eventCurrent,
          });
          if (this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].id !== this.eventId) {
            diagramBlock.attr({
              link: {
                xlinkHref: this.eventLink(this.type, this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].id),
              },
            });
          }
          let sourceId = 0;
          let targetId = 0;
          diagramBlock.addTo(this.graph);
          diagramBlockArray[r].push(diagramBlock);
          sourceId = diagramBlockArray[r][i].id;
          targetId = diagramBlockArray[r][i - 1].id;

          const diagramLink = new joint.dia.Link({
            markup: [
              {
                tagName: 'path',
                selector: 'line',
              },
            ],
            source: { id: sourceId },
            target: { id: targetId },
            router: { name: 'manhattan' },
            connector: { name: 'rounded' },
            attrs: {
              line: {
                connection: { stubs: 0 },
                strokeDasharray: '2 2',
                fill: 'none',
                stroke: colorVariables['c-primary'],
                strokeWidth: 2,
                strokeLinejoin: 'round',
              },
            },
          });
          diagramLink.addTo(this.graph);
          const verticesTool = new joint.linkTools.Vertices();
          const segmentsTool = new joint.linkTools.Segments();
          const sourceAnchorTool = new joint.linkTools.SourceAnchor();
          const targetAnchorTool = new joint.linkTools.TargetAnchor();
          const boundaryTool = new joint.linkTools.Boundary();
          const toolsView = new joint.dia.ToolsView({
            tools: [verticesTool, segmentsTool, sourceAnchorTool, targetAnchorTool, boundaryTool],
          });
          const linkView = diagramLink.findView(paper);
          linkView.removeTools();
          linkView.addTools(toolsView);
          linkView.hideTools();
          // eslint-disable-next-line no-shadow
          paper.on('link:mouseenter', (linkView) => {
            linkView.showTools();
          });
          // eslint-disable-next-line no-shadow
          paper.on('link:mouseleave', (linkView) => {
            linkView.hideTools();
          });
          if (parentEventMap.get(this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].id) + 1) {
            const targetConflict = parentEventMap.get(this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].id);
            const diagramLinkParent = new joint.dia.Link({
              markup: [
                {
                  tagName: 'path',
                  selector: 'line',
                },
              ],
              source: { id: this.relativesSorted[r].events[this.relativesSorted[r].events.length - i - 1].id },
              target: { id: this.relativesSorted[targetConflict].events[0].id },
              router: { name: 'manhattan' },
              connector: { name: 'rounded' },
              attrs: {
                line: {
                  connection: { stubs: 0 },
                  strokeDasharray: '5 12',
                  fill: 'none',
                  stroke: colorVariables['c-primary'],
                  strokeWidth: 2,
                  strokeLinejoin: 'round',
                },
              },
            });
            diagramLinkParent.addTo(this.graph);
            const verticesToolParent = new joint.linkTools.Vertices();
            const segmentsToolParent = new joint.linkTools.Segments();
            const sourceAnchorToolParent = new joint.linkTools.SourceAnchor();
            const targetAnchorToolParent = new joint.linkTools.TargetAnchor();
            const boundaryToolParent = new joint.linkTools.Boundary();
            const toolsViewParent = new joint.dia.ToolsView({
              tools: [verticesToolParent, segmentsToolParent, sourceAnchorToolParent, targetAnchorToolParent, boundaryToolParent],
            });
            const linkViewParent = diagramLinkParent.findView(paper);
            linkViewParent.removeTools();
            linkViewParent.addTools(toolsViewParent);
            linkViewParent.hideTools();
            // eslint-disable-next-line no-shadow
            paper.on('link:mouseenter', (linkViewParent) => {
              linkViewParent.showTools();
            });
            // eslint-disable-next-line no-shadow
            paper.on('link:mouseleave', (linkViewParent) => {
              linkViewParent.hideTools();
            });
          }
        }
      }
    },
  },
});
</script>

<style lang="less">
    .chronology-container {
        margin: 0;

        .chronology-diagram-paper {
            position: relative;
            border: 1px solid gray;
            display: inline-block;
            background: transparent;
            overflow: hidden;
        }

        .chronology-diagram-paper svg {
            background: transparent;
        }

        .chronology-diagram-paper svg .link {
            z-index: 2;
        }

        .chronology-block {
            position: absolute;
            display: flex;
            flex-direction: column;
            pointer-events: none;
            -webkit-user-select: none;
            border-radius: 4px;
            box-shadow: 0px 2px 7px @c-smoke;
            background: @c-background-light;
            box-sizing: border-box;
            min-width: 170px;
            max-width: 600px;
            z-index: 2;

            .chronology-block-top {
                background-color: @c-royal-blue;
                width: 100%;
                display: flex;
                flex-direction: row;
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-size: 14px;
                font-style: normal;
                align-items: flex-start;
                justify-content: space-between;
                color: @c-background-light;

                .chronology-block-date {
                    margin: 5px 0px 5px 20px;
                }
                .chronology-block-current {
                    margin: 5px 20px 5px 10px;
                }
            }

            .chronology-block-bottom {
                display: flex;
                flex-direction: row;
                font-family: 'San Francisco Pro';
                width: 100%;
                font-weight: 700;
                font-size: 18px;
                font-style: normal;
                align-items: center;
                color: @c-primary;
                text-align: left; //a

                .chronology-block-title {
                    margin: 10px 20px 25px 20px;
                }
            }
        }
    }
</style>
