<template>
  <div
    class="conflict-attributes-block"
  >
    <div
      class="conflict-attributes-icon-block"
      tabindex="0"
      @mouseover="mouseoverAttributes"
      @mouseleave="mouseleaveAttributes"
      @focus="focusAttributes"
      @focusout="focusoutAttributes"
    >
      <font-awesome-icon
        class="conflict-attributes-icon"
        :icon="['fas', 'info-circle']"
      />
    </div>
    <ul v-if="attributesOpened" class="conflict-attributes-tooltip">
      <li class="conflict-attributes-company conflict-attributes-item">
        <span>Компания:</span> {{ conflict.companyName }}
      </li>
      <li class="conflict-attributes-industry conflict-attributes-item">
        <span>Отрасль:</span> {{ conflictIndustry }}
      </li>
      <li class="conflict-attributes-reason conflict-attributes-item">
        <span>Причина конфликта:</span> {{ conflictReason }}
      </li>
      <li class="conflict-attributes-main-type conflict-attributes-item">
        <span>Тип конфликта:</span> {{ mainType }}
      </li>
      <li class="conflict-attributes-result conflict-attributes-item">
        <span>Результат конфликта:</span> {{ conflictResult }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import { IConflict } from '@/components/api';
import {
  conflictReasonMap,
  conflictResultMap,
  conflictTypesMap,
  industriesMap,
} from '@/components/maps';

@Component({})
export default class ConflictAttributes extends Vue {
    @Prop({ default: () => null })
    private readonly conflict!: IConflict;

    private attributesHovered = false;

    private attributesFocused = false;

    private get mainType(): string {
      if (this.conflict.mainTypeId) {
        const mainType = this.swapMap(conflictTypesMap).get(this.conflict.mainTypeId);
        return mainType || '-';
      }
      return '-';
    }

    private get conflictReason(): string {
      if (this.conflict.conflictReasonId) {
        const conflictReason = this.swapMap(conflictReasonMap).get(this.conflict.conflictReasonId);
        return conflictReason || '-';
      }
      return '-';
    }

    private get conflictReasonSwap(): any {
      return this.swapMap(conflictReasonMap);
    }

    private get conflictResult(): string {
      if (this.conflict.conflictResultId) {
        const conflictResult = this.swapMap(conflictResultMap).get(this.conflict.conflictResultId);
        return conflictResult || '-';
      }
      return '-';
    }

    private get conflictIndustry(): string {
      if (this.conflict.industryId) {
        const conflictIndustry = this.swapMap(industriesMap).get(this.conflict.industryId);
        return conflictIndustry || '-';
      }
      return '-';
    }

    private get attributesOpened(): boolean {
      return this.attributesHovered || this.attributesFocused;
    }

    // eslint-disable-next-line class-methods-use-this
    private mouseoverAttributes(): void {
      this.attributesHovered = true;
    }

    // eslint-disable-next-line class-methods-use-this
    private mouseleaveAttributes(): void {
      this.attributesHovered = false;
    }

    // eslint-disable-next-line class-methods-use-this
    private focusAttributes(): void {
      this.attributesFocused = true;
    }

    // eslint-disable-next-line class-methods-use-this
    private focusoutAttributes(): void {
      this.attributesFocused = false;
    }

    // eslint-disable-next-line class-methods-use-this
    private swapMap(obj: Map<string, number>): Map <number, string> {
      const res: Map <number, string> = new Map();
      Array.from(obj.keys()).forEach((value) => {
        const key: number | undefined = obj.get(value);
        if (key) {
          res.set(key, value);
        }
      });
      return res;
    }
}
</script>

<style lang="less" scoped>
.conflict-attributes-block {
    position: relative;

    .conflict-attributes-icon-block {
        padding: 2px 10px 2px 10px;
        cursor: pointer;

        .conflict-attributes-icon {
        }
    }

    .conflict-attributes-tooltip {
        position: absolute;
        top: 25px;
        background: @c-background-light;
        color: @c-primary;
        box-shadow: 0px 5px 25px @c-dark-shadow-color;
        display: flex;
        flex-direction: column;
        width: 300px;
        overflow: hidden;
        z-index: 890;
        padding: 10px 10px 6px 10px;
        border: 2px dotted @c-primary;
        border-radius: 5px;

        .conflict-attributes-item {
            width: 100%;
            padding-bottom: 4px;
            font-weight: 500;
            display: list-item;
            list-style-position: inside;
            list-style-type: square; /* Маркеры в виде квадрата */

            span {
                font-style: italic;
            }
        }
    }
}
</style>
