<template>
  <article
    class="conflict-card"
  >
    <nuxt-link
      :to="conflictLink"
      class="conflict-card-link"
      :style="{
        'width': cardWidth,
        'max-width': cardMaxWidth
      }"
      @click="clearFocus"
    >
      <div
        class="conflict-card-content"
        :style="{
          'flex-direction': cardFlexDirection
        }"
      >
        <div
          class="card-content-section"
          :style="{
            'width': cardContentSectionWidth,
          }"
        >
          <div
            class="card-image-section"
            :style="{
              'height': cardContentSectionHeight,
            }"
          >
            <picture>
              <source id="s1" :srcset="conflictPhotoUrl" type="image/jpg">
              <img tabindex="-1" class="card-image" :src="conflictPhotoUrl" alt="" @error="onPhotoLoadError">
            </picture>
          </div>
          <button v-if="cardSize === 'xsm' || cardSize === 'msm'" class="card-accordion-button" @click.prevent="onAccordionOpen">
            <font-awesome-icon
              class="card-accordion-button-icon"
              :icon="['far', 'times-circle']"
              size="2x"
              :style="accordionOpened ? {'transform': 'rotate(0deg)'} : {'transform': 'rotate(-405deg)'}"
            />
          </button>
        </div>
        <div
          class="card-top-block"
          :class="{'card-top-block-small': ((cardSize === 'xsm') || (cardSize === 'msm'))}"
          :style="{
            'width': cardTopBlockWidth
          }"
        >
          <div class="card-description-section">
            <div class="card-description-section-inner" @click.prevent="">
              <div class="card-description-date">
                {{ conflictCreatedAt }}
              </div>
              <conflict-attributes :conflict="iConflict" />
              <nuxt-link v-if="parentEventLink" :to="parentEventLink" class="card-description-parent" @click="clearFocus">
                <p>
                  Исходит из события
                </p>
              </nuxt-link>
            </div>
            <div class="card-description-bookmark">
              <div tabindex="0" :class="bookmarkStatus" @click.prevent="switchBookmark">
                <div class="card-description-bookmark-top" />
                <font-awesome-icon
                  class="card-description-bookmark-icon"
                  icon="bookmark"
                  size="2x"
                />
              </div>
            </div>
          </div>
          <div
            class="card-title-section"
            :style="{
              'font-size': conflictTitleFontSize
            }"
          >
            <h2>
              {{ conflictTitle }}
            </h2>
          </div>
        </div>
      </div>
      <button
        v-if="cardSize !== 'xsm' && cardSize !== 'msm'"
        class="card-accordion-button"
        :class="{'card-accordion-button-large': ((cardSize !== 'xsm') && (cardSize !== 'msm'))}"
        @click.prevent="onAccordionOpen"
      >
        <font-awesome-icon
          class="card-accordion-button-icon"
          :icon="['far', 'times-circle']"
          size="2x"
          :style="accordionOpened ? {'transform': 'rotate(0deg)'} : {'transform': 'rotate(-405deg)'}"
        />
      </button>
    </nuxt-link>
    <div
      class="conflict-card-diagram-overflow"
      :class="{'conflict-card-diagram-small': ((cardSize === 'xsm') || (cardSize === 'msm'))}"
      :style="accordionOpened ? {'max-height': accordionMaxHeight} : {'max-height': '0px'}"
    >
      <div
        class="conflict-card-diagram-container"
      >
        <div class="conflict-card-diagram-slash" />
        <div
          class="conflict-card-chronology"
        >
          <chronology-diagram
            v-if="firstEventDetailed"
            class="conflict-card-chronology-inner"
            :relatives="firstEventDetailed.relatives"
            type="events"
            :diagram-key="conflictId"
            :size="((cardSize === 'xsm') || (cardSize === 'msm')) ? 'small' : 'large'"
          />
        </div>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import { EventFilters, EventRequest, IConflict, IDetailedEvent, IEvent, IRelatives } from '@/components/api/index';
import qs from 'qs';
import ConflictAttributes from '~/components/ConflictAttributes.vue';

const ChronologyDiagram = () => import('~/components/ChronologyDiagram.vue');

@Component({
  components: { ConflictAttributes, ChronologyDiagram },
})
export default class ConflictCard extends Vue {
    @Prop({ default: () => [] })
    private readonly iConflict!: IConflict;

    @Prop({ default: () => 'conflicts' })
    private readonly type!: string;

    @Prop({ default: () => 'lg' })
    private readonly cardSize!: string;

    private photoErrorSrc: string | null = null;

    private accordionOpened = false;

    private relatedEvents: IEvent[] = [];

    private defaultImag: string = '/imag/strikecom-conflict-red.webp';

    private language: string = 'Ru';

    private firstEventDetailed: IDetailedEvent | null = null;

    private get conflictId(): number {
      return this.iConflict.id;
    }

    private get accordionMaxHeight(): string {
      let eventsLength = 0;
      if (this.firstEventDetailed && this.firstEventDetailed.relatives) {
        this.firstEventDetailed.relatives.forEach((relativeEvents: IRelatives) => {
          if (relativeEvents && relativeEvents.events) {
            eventsLength += relativeEvents.events.length;
          }
        });
      }
      return `${eventsLength * 150 + 200}px`;
    }

    private get cardInBookmarks(): boolean {
      return this.$store.state.userConflictBookmarks.includes(this.conflictId);
    }

    private get bookmarkStatus(): string {
      return this.cardInBookmarks ? 'card-description-bookmark-inner-red' : 'card-description-bookmark-inner';
    }

    private get conflictLink(): string {
      return `/${this.type}/${this.iConflict.id.toString()}`;
    }


    private get conflictTitle(): string {
      return (this.cardSize === 'lg') ? this.stringLimit(this.iConflict.title, 100) : this.stringLimit(this.iConflict.title, 70);
    }

    private get conflictTitleFontSize(): string {
      return (this.cardSize === 'lg') ? '22px' : '18px';
    }

    private get parentEventLink(): string {
      return this.iConflict && this.iConflict.parentEventId ? `/events/${this.iConflict.parentEventId.toString()}` : '';
    }

    private get conflictCreatedAt(): string {
      return this.iConflict.createdAt ? this.timestampParse(this.iConflict.createdAt) : '';
    }

    private get conflictDateFrom(): string {
      return this.iConflict.dateFrom ? this.timestampParse(this.iConflict.dateFrom) : '';
    }

    private get cardFlexDirection(): string {
      return ((this.cardSize !== 'xsm') && (this.cardSize !== 'msm')) ? 'row' : 'column-reverse';
    }

    private get cardWidth(): string {
      return (this.cardSize === 'lg') ? '855px' : 'inherit';
    }

    private get cardMaxWidth(): string {
      return (this.cardSize === 'lg') ? '855px' : '500px';
    }

    private get cardTopBlockWidth(): string {
      return (this.cardSize === 'lg') ? '65%' : '100%';
    }

    private get cardContentSectionWidth(): string {
      if ((this.cardSize === 'sm') || (this.cardSize === 'md')) {
        return '70%';
      }
      return (this.cardSize === 'lg') ? '35%' : '100%';
    }

    private get cardContentSectionHeight(): string {
      return (this.cardSize === 'xsm') ? '100px' : '155px';
    }

    private get conflictPhotoUrl(): string {
      if (this.photoErrorSrc) {
        return this.photoErrorSrc;
      }
      let numberOfPhotoEvent: number = 0;
      let relatedItem: boolean = false;
      while (this.relatedEvents[numberOfPhotoEvent] && (!relatedItem) && (numberOfPhotoEvent < 49)) {
        const currentItem: IEvent = this.relatedEvents[numberOfPhotoEvent];
        if (!(currentItem.photoUrls && currentItem.photoUrls[0]) && !(currentItem.videos && currentItem.videos[0])) {
          numberOfPhotoEvent++;
        } else {
          relatedItem = true;
        }
      }
      if (relatedItem) {
        const currentItem = this.relatedEvents[numberOfPhotoEvent];
        if (currentItem.photoUrls && currentItem.photoUrls[0]) {
          return currentItem.photoUrls[0];
        }
        if (currentItem.videos && currentItem.videos[0]) {
          if (currentItem.videos[0].previewUrl) {
            return currentItem.videos[0].previewUrl;
          }
          if (currentItem.videos[0].url && (currentItem.videos[0].url.search('https://www.youtube.com/watch') !== -1)) {
            return `https://img.youtube.com/vi/${currentItem.videos[0].url.slice(32)}/0.jpg`;
          }
        }
      }
      return this.defaultImag;
    }

    private switchBookmark(): void {
      this.clearFocus();
      if (!this.cardInBookmarks) {
        this.$store.dispatch('addBookmark', { type: this.type, id: this.conflictId });
      } else {
        this.$store.dispatch('deleteBookmark', { type: this.type, id: this.conflictId });
      }
    }

    private async eventDetailedRequest(id: number, language: string = this.language, withRelatives: boolean = true): Promise<IDetailedEvent> {
      const url: string = `https://zabastcom.org/api/v2/${language}/events/${id}`;
      return (await this.$axios.$get(url, {
        params: { withRelatives },
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      })).data as IDetailedEvent;
    }

    // eslint-disable-next-line class-methods-use-this
    private stringLimit(str: string, limit: number): string {
      if (!str) {
        return str;
      }
      if (str.length < limit) {
        return str;
      }
      const spaceChar = ' ';
      let lastIndex = 0;
      let currentIndex = str.indexOf(spaceChar);
      while ((currentIndex !== -1) && (currentIndex < limit)) {
        lastIndex = currentIndex;
        currentIndex = str.indexOf(spaceChar, currentIndex + 1);
      }
      if (lastIndex === 0) {
        lastIndex = limit;
      }
      return `${str.substr(0, lastIndex)} ...`;
    }

    private onAccordionOpen(): void {
      this.accordionOpened = !this.accordionOpened;
    }

    private timestampParse(timestamp: number): string {
      return timestamp ? this.$moment(new Date(timestamp * 1000)).format('D MMMM, YYYY') : '';
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private onPhotoLoadError(): void {
      this.photoErrorSrc = this.defaultImag;
    }

    private async getRelatedEvents(conflictId: number, type: string = 'events', language: string = this.language): Promise<IEvent[]> {
      const filters: EventFilters = {
        conflictIds: [conflictId],
      };
      const eventRequest: EventRequest = {
        page: '1',
        perPage: '50',
        filters,
      };
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      return (await this.$axios.$get(url, {
        params: eventRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      })).data as IEvent[];
    }

    private async created(): Promise<void> {
      this.relatedEvents = await this.getRelatedEvents(this.iConflict.id);
      if (this.relatedEvents.length) {
        this.firstEventDetailed = await this.eventDetailedRequest(this.relatedEvents[0].id, 'ru', true);
      }
    }
}
</script>

<style lang="less" scoped>
    /* сброс стилей */
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .conflict-card {

        .conflict-card-link {
            display: flex;
            align-items: stretch;
            min-height: 155px;
            background: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            outline: none;
            text-decoration: none;
            cursor: default;

            .conflict-card-content {
                display: flex;
                flex-grow: 1;
                border-top: 2px solid rgba(1, 1, 1, 0);
                border-left: 2px solid rgba(1, 1, 1, 0);

                .card-top-block {
                    display: flex;
                    flex-direction: column;
                    min-height: 155px;

                    .card-description-section {
                        display: flex;
                        flex-direction: row;
                        font-family: 'San Francisco Pro';
                        font-weight: 400;
                        font-size: 14px;
                        font-style: normal;
                        align-items: flex-start;
                        color: @c-disabled;
                        margin: 0px 20px 0px 20px;

                        .card-description-section-inner {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            margin: 20px 20px 20px 0px;
                            align-items: center;

                            .card-description-date {
                                margin-right: 4px;
                            }

                            .card-description-parent {
                                outline: none;
                                text-decoration: none;
                                font-family: 'San Francisco Pro';
                                font-weight: 400;
                                font-size: 14px;
                                font-style: normal;
                                color: @c-disabled;
                                margin: 0px 20px 0px 0px;
                                transition: color ease-in-out 0.5s;
                                cursor: pointer;

                                &:hover {
                                    color: @c-active;
                                }

                                &:focus {
                                    color: @c-active;
                                }
                            }
                        }

                        .card-description-bookmark {
                            display: flex;
                            height: 100%;
                            margin: 0px 0px 0px auto;
                            flex-direction: column;
                            justify-content: flex-start;
                            cursor: pointer;

                            .card-description-bookmark-inner {
                                &:focus {
                                    border: none;
                                    outline: none !important;
                                }

                                &:hover .card-description-bookmark-top {
                                    height: 22px;
                                    background-color: @c-hover;
                                }

                                &:hover .card-description-bookmark-icon {
                                    color: @c-hover;
                                }

                                &:focus .card-description-bookmark-top {
                                    height: 22px;
                                    background-color: @c-hover;
                                }

                                &:focus .card-description-bookmark-icon {
                                    color: @c-hover;
                                }

                                .card-description-bookmark-top {
                                    height: 12px;
                                    background: @c-smoke;
                                    transition: 0.5s;
                                }

                                .card-description-bookmark-icon {
                                    color: @c-smoke;
                                    margin-top: -10px;
                                    height: 30px;
                                    transition: 0.5s;
                                }
                            }

                            .card-description-bookmark-inner-red {
                                .card-description-bookmark-top {
                                    height: 22px;
                                    background-color: @c-active;
                                    transition: 0.5s;
                                }

                                .card-description-bookmark-icon {
                                    margin-top: -10px;
                                    height: 30px;
                                    transition: 0.5s;
                                    color: @c-active;
                                }

                                &:focus {
                                    border: none;
                                    outline: none !important;
                                }

                                &:hover .card-description-bookmark-top {
                                }

                                &:hover .card-description-bookmark-icon {
                                }

                                &:focus .card-description-bookmark-top {
                                }

                                &:focus .card-description-bookmark-icon {
                                }
                            }
                        }
                    }

                    .card-title-section {
                        display: flex;
                        flex-direction: row;
                        font-family: 'San Francisco Pro';
                        font-weight: 700;
                        font-style: normal;
                        align-items: center;
                        color: @c-primary;
                        margin: 0px 20px 0px 20px;
                        padding: 0px 0px 20px 0px;
                        text-align: left; //a

                        h2 {
                        }
                    }
                }

                .card-top-block-small {
                    border-right: 2px solid rgba(1, 1, 1, 0);
                    border-bottom: 2px solid @c-active;
                }

                .card-content-section {
                    position: relative;
                    overflow: hidden;
                    max-height: 155px;
                    display: flex;
                    flex-direction: row;

                    .card-image-section {
                        background: @c-primary;
                        display: flex;
                        overflow: hidden;
                        height: 155px;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        margin: 0px 0px 0px 0px;

                        .card-image {
                            width: 100%; /* Ширина изображений */
                            //height: 100%;
                            //object-fit: contain;
                        }
                    }
                }
            }

            .card-accordion-button {
                display: flex;
                flex-shrink: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50px;
                cursor: pointer;
                border-right: 2px solid @c-active;
                border-left: 2px solid @c-active;
                background: @c-background-light;
                transition: 0.5s background-color ease-in-out;

                .card-accordion-button-icon {
                    transform: rotate(405deg);
                    color: @c-active;
                    transition: 0.5s ease-in-out;
                }

                &:hover {
                    background: @c-active;
                }

                &:focus {
                    background: @c-active;
                }

                &:hover .card-accordion-button-icon {
                    color: @c-background-light;
                }

                &:focus .card-accordion-button-icon {
                    color: @c-background-light;
                }
            }

            .card-accordion-button-large {
                border-top: 2px solid rgba(1, 1, 1, 0);
            }
        }

        .conflict-card-diagram-slash {

        }

        .conflict-card-diagram-overflow {
            overflow: hidden;
            transition: 2s max-height cubic-bezier(0.5, 0.25, 0.25, 1);
            box-shadow: inset 0px 0px 10px @c-primary;
            border-left: 2px solid @c-background-light;
            border-right: 2px solid @c-background-light;
            border-bottom: 2px solid @c-background-light;

            .conflict-card-diagram-container {
                display: flex;
                flex-direction: row;


                .conflict-card-chronology {
                    flex-grow: 1;
                    min-height: 200px;
                    padding: 15px 15px;
                }

                .conflict-card-chronology-sidebar {
                    width: 50px;
                    background: @c-active;
                }
            }

        }

        .conflict-card-diagram-small {
            border-bottom: 2px solid @c-active;
        }

        &:hover {
            box-shadow: 0px 5px 25px @c-dark-shadow-color;
        }

        &:hover .conflict-card-content {
            border-top: 2px solid @c-active;
            border-left: 2px solid @c-active;
        }

        &:hover .card-accordion-button-large {
            border-top: 2px solid @c-active;
        }

        &:hover .card-top-block-small {
            border-right: 2px solid @c-active !important;
        }

        :focus * {
            border: none;
        }

        &:focus {
            box-shadow: 0px 5px 25px @c-dark-shadow-color;
        }

        &:focus .conflict-card-content {
            border-top: 2px solid @c-active;
            border-left: 2px solid @c-active;
        }

        &:focus .card-accordion-button-large {
            border-top: 2px solid @c-active;
        }

        &:focus .card-top-block-small {
            border-right: 2px solid @c-active !important;
        }

        &:hover .conflict-card-diagram-overflow {
            border-left: 2px solid @c-active;
            border-right: 2px solid @c-active;
            border-bottom: 2px solid @c-active;
        }

        &:focus .conflict-card-diagram-overflow {
            border-left: 2px solid @c-active;
            border-right: 2px solid @c-active;
            border-bottom: 2px solid @c-active;
        }
    }
</style>
