<template>
  <section class="event-filter" @keydown.enter="onSearch">
    <v-row class="event-filter-search-form">
      <v-text-field
        v-model="searchInput"
        class="event-filter-search-input"
        :rules="searchInputRules"
        outlined
        counter="200"
        hint="Введите поисковой запрос"
        label="Поиск"
        :color="textfieldColor"
      >
        <template #append>
          <v-btn
            depressed
            class="event-filter-button-inner-ahother"
            @click.prevent="onSearch"
          >
            Поиск
          </v-btn>
        </template>
      </v-text-field>
    </v-row>
    <strikecom-button class="event-filter-open-button" :is-opened="isOpened" @mousedown="onOpen">
      <p class="event-filter-button-text">
        <font-awesome-icon
          :icon="['fas', 'align-center']"
          class="event-filter-button-icon"
          size="lg"
        />
        Фильтр
      </p>
    </strikecom-button>
    <div class="event-filter-types-open" :style="{'max-height': isOpened ? totalHeight : '0'}">
      <div class="event-filter-types" :style="{'flex-direction': outerFlexDirection}">
        <div class="event-filter-first-outer" :style="{'flex-direction': innerFlexDirection}">
          <div class="event-filter-first-inner">
            <div class="event-filter-country top-fields" :style="{'height': (size==='small') ? bigHeight : smallHeight}">
              <h3 class="event-filter-title" :class="{'block-disabled': filterType !== 'events'}">
                Страна
              </h3>
              <div class="event-filter-country-scroll">
                <v-checkbox
                  v-for="countriesType of countriesTypes"
                  :key="countriesType.text"
                  v-model="filteredCountriesTypes"
                  :label="countriesType.text"
                  :value="countriesType.value"
                  dense
                  :color="checkboxColor"
                  class="filter-checkbox"
                  :disabled="filterType !== 'events'"
                />
              </div>
            </div>
            <div
              class="event-filter-date bottom-fields datepicker-vertical map-filter-date"
              :style="{'height': fixedHeight}"
            >
              <h3 class="event-filter-title">
                Временной период
              </h3>
              <div class="event-filter-date-scroll">
                <date-picker
                  v-model="conflictPeriod"
                  class="event-filter-date-picker"
                  :open="true"
                  value-type="format"
                  :popup-style="{ top: '100%', left: 0, right: 0}"
                  :append-to-body="false"
                  range
                />
              </div>
            </div>
          </div>
          <div class="event-filter-second-inner">
            <div class="event-filter-result top-fields" :style="{'height': smallHeight}">
              <h3 class="event-filter-title" :class="{'block-disabled': filterType !== 'conflicts'}">
                Результат конфликта
              </h3>
              <div class="event-filter-result-scroll">
                <v-checkbox
                  v-for="conflictResult of conflictResults"
                  :key="conflictResult.text"
                  v-model="filteredConflictResults"
                  :label="conflictResult.text"
                  :value="conflictResult.value"
                  dense
                  :color="checkboxColor"
                  class="filter-checkbox"
                  :disabled="filterType !== 'conflicts'"
                />
              </div>
            </div>
            <div class="event-filter-reasons bottom-fields" :style="{'height': (size==='middle') ? fixedHeight : bigHeight}">
              <h3 class="event-filter-title" :class="{'block-disabled': filterType !== 'conflicts'}">
                Причина конфликта
              </h3>
              <div class="event-filter-reasons-scroll">
                <v-checkbox
                  v-for="conflictReason of conflictReasons"
                  :key="conflictReason.text"
                  v-model="filteredConflictReasons"
                  :label="conflictReason.text"
                  :value="conflictReason.value"
                  dense
                  :color="checkboxColor"
                  class="filter-checkbox"
                  :disabled="filterType !== 'conflicts'"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="event-filter-second-outer" :style="{'flex-direction': innerFlexDirection}">
          <div class="event-filter-third-inner">
            <div class="event-filter-status top-fields" :style="{'height': smallHeight}">
              <h3 class="event-filter-title" :class="{'block-disabled': filterType !== 'events'}">
                Статус
              </h3>
              <div class="event-filter-status-scroll">
                <v-checkbox
                  v-for="eventStatus of eventStatuses"
                  :key="eventStatus.text"
                  v-model="filteredEventStatuses"
                  :label="eventStatus.text"
                  :value="eventStatus.value"
                  dense
                  :color="checkboxColor"
                  class="filter-checkbox"
                  :disabled="filterType !== 'events'"
                />
              </div>
            </div>
            <div class="event-filter-industry bottom-fields" :style="{'height': bigHeight}">
              <h3 class="event-filter-title" :class="{'block-disabled': filterType === 'news'}">
                Отрасль
              </h3>
              <div class="event-filter-industry-scroll">
                <v-checkbox
                  v-for="industry of industries"
                  :key="industry.text"
                  v-model="filteredIndustries"
                  :label="industry.text"
                  :value="industry.value"
                  dense
                  :color="checkboxColor"
                  class="filter-checkbox"
                  :disabled="filterType === 'news'"
                />
              </div>
            </div>
          </div>
          <div class="event-filter-fourth-inner">
            <div class="event-filter-region top-fields" :style="{'height': (size==='small') ? bigHeight : smallHeight}">
              <h3 class="event-filter-title" :class="{'block-disabled': filterType !== 'events'}">
                Регион
              </h3>
              <div class="event-filter-region-scroll">
                <v-checkbox
                  v-for="regionType of regionTypes"
                  :key="regionType.text"
                  v-model="filteredRegionTypes"
                  :label="regionType.text"
                  :value="regionType.value"
                  dense
                  :color="checkboxColor"
                  class="filter-checkbox"
                  :disabled="filterType !== 'events'"
                />
              </div>
            </div>
            <div class="event-filter-type bottom-fields" :style="{'height': bigHeight}">
              <h3 class="event-filter-title" :class="{'block-disabled': filterType === 'news'}">
                Тип конфликта
              </h3>
              <div class="event-filter-type-scroll">
                <v-checkbox
                  v-for="conflictType of conflictTypes"
                  :key="conflictType.text"
                  v-model="filteredConflictTypes"
                  :label="conflictType.text"
                  :value="conflictType.value"
                  :color="checkboxColor"
                  dense
                  class="filter-checkbox"
                  :disabled="filterType === 'news'"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-row
      align="center"
      justify="space-around"
      class="event-filter-button"
    >
      <v-btn
        depressed
        :color="buttonColor"
        large
        class="event-filter-button-inner"
        @click.prevent="onSearch"
      >
        Поиск
      </v-btn>
    </v-row>
  </section>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Emit, Prop, Vue, Watch } from 'nuxt-property-decorator';
import { AutocompleteItem, ConflictFilters, EventFilters, IRegion, NewsFilters, RegionRequest } from '@/components/api';
import qs from 'qs';
import {
  conflictReasonMap,
  conflictResultMap,
  conflictTypesMap,
  countriesMap,
  eventStatusesMap,
  industriesMap,
} from '@/components/maps';
import colorVariables from '@/components/maps/color';
import StrikecomButton from '~/components/StrikecomButton.vue';

@Component({
  components: { StrikecomButton },
})
export default class EventFilter extends Vue {
    @Prop({ default: () => 'events' })
    private readonly filterType!: string;

    // large, small, middle
    @Prop({ default: () => 'large' })
    private readonly size!: string;

    @Prop({ default: () => false })
    private readonly opened!: boolean;

    private filteredIndustries: number[] = [];

    private filteredConflictTypes: number[] = [];

    private filteredEventStatuses: number[] = [];

    private filteredConflictReasons: number[] = [];

    private filteredConflictResults: number[] = [];

    private filteredCountriesTypes: number[] = [];

    private filteredRegionTypes: number[] = [];

    private conflictPeriod: any = null;

    private searchInput: string = '';

    private isOpened: boolean = this.opened;

    private textfieldColor: string = colorVariables['c-primary'];

    private industries: AutocompleteItem [] = Array.from(industriesMap.keys()).map((item) => {
      return {
        text: item,
        value: industriesMap.get(item),
      };
    });

    private eventStatuses: AutocompleteItem [] = Array.from(eventStatusesMap.keys()).map((item) => {
      return {
        text: item,
        value: eventStatusesMap.get(item),
      };
    });

    private conflictTypes: AutocompleteItem [] = Array.from(conflictTypesMap.keys()).map((item) => {
      return {
        text: item,
        value: conflictTypesMap.get(item),
      };
    });

    private conflictReasons: AutocompleteItem [] = Array.from(conflictReasonMap.keys()).map((item) => {
      return {
        text: item,
        value: conflictReasonMap.get(item),
      };
    });

    private conflictResults: AutocompleteItem [] = Array.from(conflictResultMap.keys()).map((item) => {
      return {
        text: item,
        value: conflictResultMap.get(item),
      };
    });

    private countriesTypes: AutocompleteItem [] = Array.from(countriesMap.keys()).map((item) => {
      return {
        text: item,
        value: countriesMap.get(item),
      };
    });

    private regionTypes: AutocompleteItem [] = [];

    private searchInputRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов'];

    // eslint-disable-next-line class-methods-use-this
    private get checkboxColor(): string {
      return colorVariables['c-active'];
    }

    // eslint-disable-next-line class-methods-use-this
    private get buttonColor(): string {
      return colorVariables['c-primary'];
    }

    // eslint-disable-next-line class-methods-use-this
    private get outerFlexDirection(): string {
      return (this.size === 'large') ? 'row' : 'column';
    }

    // eslint-disable-next-line class-methods-use-this
    private get innerFlexDirection(): string {
      return (this.size === 'small') ? 'column' : 'row';
    }

    // eslint-disable-next-line class-methods-use-this
    private get smallHeight(): string {
      if (this.size === 'large') {
        return '400px';
      }
      if (this.size === 'middle') {
        return '250px';
      }
      return '190px';
    }

    // eslint-disable-next-line class-methods-use-this
    private get bigHeight(): string {
      if (this.size === 'large') {
        return '640px';
      }
      if (this.size === 'middle') {
        return '400px';
      }
      return '250px';
    }

    // eslint-disable-next-line class-methods-use-this
    private get fixedHeight(): string {
      return '640px';
    }

    // eslint-disable-next-line class-methods-use-this
    private get totalHeight(): string {
      if (this.size === 'large') {
        return '1100px';
      }
      if (this.size === 'middle') {
        return '1640px';
      }
      return '2430px';
    }

    @Watch('filteredCountriesTypes')
    private async regionsRequest(): Promise<void> {
      const language: string = 'ru';
      const { filteredCountriesTypes } = this;
      if (filteredCountriesTypes) {
        this.regionTypes = [];
        filteredCountriesTypes.forEach((countriesValue) => {
          const regionsQuery: RegionRequest = {
            countryId: countriesValue,
          };
          const url: string = `https://zabastcom.org/api/v2/${language}/regions`;
          this.$axios.$get(url, {
            params: regionsQuery,
            paramsSerializer: params => {
              return qs.stringify(params, { allowDots: true });
            },
          }).then((region) => {
            const regionsArr: IRegion[] = region.data as IRegion[];
            this.regionTypes.push(...Array.from(regionsArr).map((item) => {
              return {
                text: item.name,
                value: item.id,
              };
            }));
          });
        });
      } else {
        this.regionTypes = [];
      }
    }

    @Emit('on-search')
    private onSearch(): EventFilters | ConflictFilters | NewsFilters {
      switch (this.filterType) {
        case 'news': {
          const filters: NewsFilters = {};
          filters.fulltext = this.searchInput;
          filters.dateFrom = undefined;
          filters.dateTo = undefined;
          filters.published = true;
          if (this.conflictPeriod) {
            filters.dateFrom = this.$moment(new Date(this.conflictPeriod[0])).unix() ? this.$moment(new Date(this.conflictPeriod[0])).unix() : undefined;
            filters.dateTo = this.$moment(new Date(this.conflictPeriod[1])).unix() ? this.$moment(new Date(this.conflictPeriod[1])).unix() : undefined;
          }
          return filters;
        }
        case 'conflicts': {
          const filters: ConflictFilters = {};
          filters.fulltext = this.searchInput;
          filters.conflictResultIds = this.filteredConflictResults;
          filters.conflictReasonIds = this.filteredConflictReasons;
          filters.mainTypeIds = this.filteredConflictTypes;
          filters.dateFrom = undefined;
          filters.dateTo = undefined;
          if (this.conflictPeriod) {
            filters.dateFrom = this.$moment(new Date(this.conflictPeriod[0])).unix() ? this.$moment(new Date(this.conflictPeriod[0])).unix() : undefined;
            filters.dateTo = this.$moment(new Date(this.conflictPeriod[1])).unix() ? this.$moment(new Date(this.conflictPeriod[1])).unix() : undefined;
          }
          return filters;
        }
        default: {
          const filters: EventFilters = {};
          filters.fulltext = this.searchInput;
          filters.countryIds = this.filteredCountriesTypes;
          filters.regionIds = this.filteredRegionTypes;
          filters.eventStatusIds = this.filteredEventStatuses;
          filters.eventTypeIds = this.filteredConflictTypes;
          filters.industryIds = this.filteredIndustries;
          filters.dateFrom = undefined;
          filters.dateTo = undefined;
          filters.published = true;
          if (this.conflictPeriod) {
            filters.dateFrom = this.$moment(new Date(this.conflictPeriod[0])).unix() ? this.$moment(new Date(this.conflictPeriod[0])).unix() : undefined;
            filters.dateTo = this.$moment(new Date(this.conflictPeriod[1])).unix() ? this.$moment(new Date(this.conflictPeriod[1])).unix() : undefined;
          }
          return filters;
        }
      }
    }

    private onOpen(): void {
      this.clearFocus();
      this.isOpened = !this.isOpened;
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    @Watch('opened')
    private changeOpen(): void {
      this.isOpened = this.opened;
    }

    private mounted(): void {
      this.isOpened = this.opened;
    }
}
</script>

<style lang="less" scoped>
    .event-filter {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .event-filter-search-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin: 20px 0px 10px 0px;

            .event-filter-search-input {
                width: 100%;
            }

            .event-filter-button-inner-ahother{
                margin-top: -6px;
                background-color: @c-primary;
                color: @c-background;

            }
        }

        .event-filter-open-button {
            width: 100%;
            height: 30px;

            .event-filter-button-text{
                font-size: 14px;
            }

            .event-filter-button-icon{
                margin-right: 10px;
            }
        }

        .event-filter-types-open {
            overflow: hidden;
            transition: 1s ease-in-out;

            .event-filter-types {
                display: flex;
                flex-direction: row;
                width: 100%;
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-size: 14px;
                font-style: normal;

                .event-filter-title {
                    margin: 0px 0px 20px 10px;
                }

                .filter-checkbox {
                    padding: 0px;
                    margin: 0px 10px;

                    /deep/ label {
                        font-family: 'San Francisco Pro' !important;
                        font-weight: 400 !important;
                        font-size: 14px !important;
                        font-style: normal !important;
                    }
                }

                .event-filter-first-outer {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    .event-filter-first-inner {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        .event-filter-country {
                            flex-grow: 1;
                            overflow: hidden;

                            .event-filter-country-scroll {
                                overflow-y: auto;
                                overflow-x: auto;
                                width: 100%;
                                height: calc(100% - 41px);
                            }
                        }

                        .event-filter-date {
                            flex-grow: 1;
                            overflow: hidden;

                            .event-filter-date-scroll {
                                overflow-y: auto;
                                overflow-x: auto;
                                width: 100%;
                                height: calc(100% - 41px);
                            }
                        }
                    }

                    .event-filter-second-inner {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        .event-filter-result {
                            flex-grow: 1;
                            overflow: hidden;

                            .event-filter-result-scroll {
                                overflow-y: auto;
                                overflow-x: auto;
                                width: 100%;
                                height: calc(100% - 41px);
                            }
                        }

                        .event-filter-reasons {
                            flex-grow: 1;
                            overflow: hidden;

                            .event-filter-reasons-scroll {
                                overflow-y: auto;
                                overflow-x: auto;
                                width: 100%;
                                height: calc(100% - 41px);
                            }
                        }
                    }
                }

                .event-filter-second-outer {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    .event-filter-third-inner {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        .event-filter-status {
                            flex-grow: 1;
                            overflow: hidden;

                            .event-filter-status-scroll {
                                overflow-y: auto;
                                overflow-x: auto;
                                width: 100%;
                                height: calc(100% - 41px);
                            }
                        }

                        .event-filter-industry {
                            flex-grow: 1;
                            overflow: hidden;

                            .event-filter-industry-scroll {
                                overflow-y: auto;
                                overflow-x: auto;
                                width: 100%;
                                height: calc(100% - 41px);
                            }
                        }
                    }

                    .event-filter-fourth-inner {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        .event-filter-region {
                            flex-grow: 1;
                            overflow: hidden;

                            .event-filter-region-scroll {
                                overflow-y: auto;
                                overflow-x: auto;
                                width: 100%;
                                height: calc(100% - 41px);
                            }
                        }

                        .event-filter-type {
                            flex-grow: 1;
                            overflow: hidden;

                            .event-filter-type-scroll {
                                overflow-y: auto;
                                overflow-x: auto;
                                width: 100%;
                                height: calc(100% - 41px);
                            }
                        }
                    }
                }

                .top-fields {
                    margin: 20px 5px 0px 5px;
                }

                .bottom-fields {
                    margin: 20px 5px 0px 5px;
                }

                .datepicker-vertical {
                    width: 100%;
                    z-index: 900;

                    .event-filter-date-picker {
                        max-width: 200px;
                        min-width: 200px;
                        width: 100%;

                        /deep/ .mx-datepicker-main {
                            box-shadow: none;
                            z-index: 900;
                        }

                        /deep/ .mx-datepicker-content {
                            z-index: 900;

                            .mx-range-wrapper {
                                flex-direction: column;

                                .mx-calendar {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .datepicker-horizontal {
                    min-height: 480px;

                    .map-filter-date-picker {
                        min-width: 450px;
                        max-width: 500px;

                        /deep/ .mx-range-wrapper {
                            flex-direction: row;
                        }
                    }
                }
            }
        }

        .event-filter-button {
            margin: 40px 5px 0px 5px;

            .event-filter-button-inner {
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-size: 16px;
                font-style: normal;
                color: @c-background;
                width: 200px;
            }
        }

        .block-disabled {
            color: @c-disabled;
        }
    }
</style>
