<template>
  <div class="event-map">
    <div id="map-wrap" class="event-map-inner">
      <client-only>
        <l-map
          :zoom="3"
          :min-zoom="2"
          :max-bounds="bounds"
          :max-bounds-viscosity="1.0"
          :center="center"
        >
          <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png" />
          <v-marker-cluster :options="{foo: 'bar'}">
            <l-marker
              v-for="event of iEvents"
              :key="event.id"
              :icon="lIcon"
              :lat-lng="[event.latitude, event.longitude]"
            >
              <l-popup>
                <a :href="`/conflicts/${event.id.toString()}`">{{ event.title }}</a>
              </l-popup>
            </l-marker>
          </v-marker-cluster>
        </l-map>
      </client-only>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import { IEvent } from '@/components/api/index';
import { LatLngBounds, Icon } from 'leaflet';

@Component({
  components: { },
})
export default class EventMap extends Vue {
    @Prop({ default: () => [] })
    private readonly iEvents!: IEvent[];

    @Prop({ default: () => [55.753960, 65.620393] })
    private readonly center!: number[];

    private bounds: LatLngBounds | null = null;

    private pagesLoaded: number = 1;

    private get lIcon(): Icon | null {
      return this.$L ? this.$L.icon({
        iconUrl: '/imag/pointer.png',
        iconSize: [53, 60], // size of the icon
        iconAnchor: [22, 60], // point of the icon which will correspond to marker's location
        popupAnchor: [-3, -76], // point from which the popup should open relative to the iconAnchor
      }) : null;
    }

    private mounted(): void {
      this.bounds = this.$L.latLngBounds(this.$L.latLng(-90, -200), this.$L.latLng(90, 230));
    }
}
</script>

<style lang="less" scoped>

    .event-map {
        width: 100%;
        height: 100%;

        .event-map-inner {
            width: 100%;
            height: 100%;
        }

        /deep/ .leaflet-top,
        .leaflet-bottom  {
            z-index: 400 !important;
        }
    }

    /deep/ .leaflet-bottom.leaflet-right{
        z-index: 400 !important;
    }
</style>
