<template>
  <article class="event-card" data-testid="delete-button">
    <nuxt-link
      :to="eventLink"
      class="event-card-link"
      :style="{
        'flex-direction': cardFlexDirection,
        'width': cardWidth,
        'max-width': cardMaxWidth
      }"
      @click="clearFocus"
    >
      <div
        class="card-top-block"
        :style="{
          'width': cardTopBlockWidth
        }"
      >
        <div class="card-description-section">
          <div class="card-description-section-inner">
            <div class="card-description-views">
              <font-awesome-icon
                class="card-description-views-icon"
                icon="eye"
                size="1x"
              />
              {{ eventViews }}
            </div>
            <div class="card-description-date">
              {{ eventCreatedAt }}
            </div>
            <nuxt-link :to="conflictLink" class="card-description-conflict" @click="clearFocus">
              <p>
                {{ eventConflictTitle }}
              </p>
            </nuxt-link>
          </div>
          <div class="card-description-bookmark">
            <div tabindex="0" :class="bookmarkStatus" @click.prevent="switchBookmark">
              <div class="card-description-bookmark-top" />
              <font-awesome-icon
                class="card-description-bookmark-icon"
                icon="bookmark"
                size="2x"
              />
            </div>
          </div>
        </div>
        <div
          class="card-title-section"
          :style="{
            'font-size': eventTitleFontSize
          }"
        >
          <h2>
            {{ eventTitle }}
          </h2>
        </div>
      </div>
      <div
        class="card-content-section"
        :style="{
          'width': cardContentSectionWidth,
        }"
      >
        <div
          class="card-image-section"
          :style="{
            'height': cardContentSectionHeight,
          }"
        >
          <picture>
            <source id="s1" :srcset="eventPhotoUrl" type="image/jpg">
            <img tabindex="-1" class="card-image" :src="eventPhotoUrl" alt="" @error="onPhotoLoadError">
          </picture>
        </div>
        <div class="card-move-block">
          <p
            class="card-move-block-content"
            :style="{
              'font-size': eventContentFontSize,
              'margin': eventContentMargin,
            }"
          >
            {{ eventContent }}
          </p>
        </div>
        <div v-if="(cardSize === 'large')" class="card-separator">
          <div class="card-separator-inner">
            <svg width="42" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
              <g>
                <title>Layer 1</title>
                <path
                  id="svg_10"
                  stroke="#000"
                  transform="rotate(-90 23.34915924072269,150.19372558593753) "
                  d="m-127.25885,169.65951l150.608,-38.93156l150.608,38.93156l-301.216,0z"
                  stroke-opacity="null"
                  stroke-width="0"
                  fill="#ffffff"
                />
                <path
                  id="svg_14"
                  stroke="#000"
                  transform="rotate(-90 22.849151611328157,150.1936950683594) "
                  d="m-171.75885,170.15949l194.60799,-39.93158l194.60801,39.93158l-389.216,0z"
                  fill-opacity="0.5"
                  stroke-opacity="null"
                  stroke-width="0"
                  fill="#ffffff"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </nuxt-link>
  </article>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import { IEvent, INews } from '@/components/api/index';

@Component
export default class EventCard extends Vue {
        @Prop({ default: () => [] })
        private readonly iEvent!: IEvent | INews;

        @Prop({ default: () => 'events' })
        private readonly type!: string;

        @Prop({ default: () => 'large' })
        private readonly cardSize!: string;

        private photoErrorSrc: string | null = null;

        private get eventSourceLink(): string {
          return this.iEvent.sourceLink ? this.iEvent.sourceLink : '';
        }

        private get eventId(): number {
          return this.iEvent.id;
        }

        private get cardInBookmarks(): boolean {
          if (this.type === 'events') {
            return this.$store.state.userBookmarks.includes(this.eventId);
          }
          return this.$store.state.userNewsBookmarks.includes(this.eventId);
        }

        private get bookmarkStatus(): string {
          return this.cardInBookmarks ? 'card-description-bookmark-inner-red' : 'card-description-bookmark-inner';
        }

        private get eventLink(): string {
          return `/${this.type}/${this.iEvent.id.toString()}`;
        }

        private get conflictLink(): string {
          return this.iEvent.conflict ? `/conflicts/${this.iEvent.conflict.id.toString()}` : '';
        }

        private get eventTitle(): string {
          return (this.cardSize === 'large') ? this.stringLimit(this.iEvent.title, 100) : this.stringLimit(this.iEvent.title, 70);
        }

        private get eventTitleFontSize(): string {
          return (this.cardSize === 'small') ? '18px' : '22px';
        }

        private get eventContent(): string {
          if (this.cardSize === 'small') {
            return this.stringLimit(this.iEvent.content, 220);
          }
          return (this.cardSize === 'large') ? this.stringLimit(this.iEvent.content, 390) : this.stringLimit(this.iEvent.content, 300);
        }

        private get eventContentFontSize(): string {
          return (this.cardSize === 'small') ? '14px' : '18px';
        }

        private get eventContentMargin(): string {
          return (this.cardSize === 'large') ? '5px 37px 5px 5px' : '0px 5px 5px 5px';
        }

        private get eventCreatedAt(): string {
          return this.iEvent.createdAt ? this.timestampParse(this.iEvent.createdAt) : '';
        }

        private get eventViews(): number {
          return this.iEvent.views ? this.iEvent.views : 0;
        }

        private get cardFlexDirection(): string {
          return (this.cardSize === 'large') ? 'row-reverse' : 'column';
        }

        private get cardWidth(): string {
          return (this.cardSize === 'large') ? '855px' : 'inherit';
        }

        private get cardMaxWidth(): string {
          return (this.cardSize === 'large') ? '855px' : '500px';
        }

        private get cardTopBlockWidth(): string {
          return (this.cardSize === 'large') ? '45%' : '100%';
        }

        private get cardContentSectionWidth(): string {
          return (this.cardSize === 'large') ? '55%' : '100%';
        }

        private get cardContentSectionHeight(): string {
          return (this.cardSize === 'small') ? '170px' : '255px';
        }

        private get eventConflictTitle(): string {
          return this.iEvent.conflict ? this.stringLimit(this.iEvent.conflict.title, 70) : '';
        }

        private get defaultImag(): string {
          if (this.eventTitle && this.eventTitle.includes('Обзор несчастных случаев и ЧП')) {
            return '/imag/strikecom-accidents-red.webp';
          }
          return this.type === 'news' ? '/imag/strikecom-news-red.webp' : '/imag/strikecom-event-red.webp';
        }

        private get eventPhotoUrl(): string {
          if (this.photoErrorSrc) {
            return this.photoErrorSrc;
          }
          if (this.eventTitle && this.eventTitle.includes('Обзор несчастных случаев и ЧП')) {
            return '/imag/strikecom-accidents-red.webp';
          }
          if (this.iEvent.photoUrls && this.iEvent.photoUrls[0]) {
            return this.iEvent.photoUrls[0];
          }
          if (this.iEvent.videos && this.iEvent.videos[0]) {
            if (this.iEvent.videos[0].previewUrl) {
              return this.iEvent.videos[0].previewUrl;
            }
            if (this.iEvent.videos[0].url && (this.iEvent.videos[0].url.search('https://www.youtube.com/watch') !== -1)) {
              return `https://img.youtube.com/vi/${this.iEvent.videos[0].url.slice(32)}/0.jpg`;
            }
          }
          return this.type === 'news' ? '/imag/strikecom-news-red.webp' : '/imag/strikecom-event-red.webp';
        }

        // eslint-disable-next-line class-methods-use-this
        private stringLimit(str: string, limit: number): string {
          if (!str) {
            return str;
          }
          if (str.length < limit) {
            return str;
          }
          const spaceChar = ' ';
          let lastIndex = 0;
          let currentIndex = str.indexOf(spaceChar);
          while ((currentIndex !== -1) && (currentIndex < limit)) {
            lastIndex = currentIndex;
            currentIndex = str.indexOf(spaceChar, currentIndex + 1);
          }
          if (lastIndex === 0) {
            lastIndex = limit;
          }
          return `${str.substr(0, lastIndex)} ...`;
        }

        private timestampParse(timestamp: number): string {
          return timestamp ? this.$moment(new Date(timestamp * 1000)).format('D MMMM, YYYY') : '';
        }

        private switchBookmark(): void {
          this.clearFocus();
          if (!this.cardInBookmarks) {
            this.$store.dispatch('addBookmark', { type: this.type, id: this.eventId });
          } else {
            this.$store.dispatch('deleteBookmark', { type: this.type, id: this.eventId });
          }
        }

        // eslint-disable-next-line class-methods-use-this
        private clearFocus(): void {
          if (document.activeElement) {
            (document.activeElement as HTMLElement).blur();
          }
        }

        private onPhotoLoadError(): void {
          this.photoErrorSrc = this.defaultImag;
        }
}
</script>

<style lang="less" scoped>
    .event-card {
        color: #6f6f6f;

        .event-card-link {
            display: flex;
            min-height: 255px;
            background: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);
            outline: none;
            text-decoration: none;
            cursor: default;

            .card-top-block {
                display: flex;
                flex-direction: column;
                max-height: 255px;

                .card-description-section {
                    display: flex;
                    flex-direction: row;
                    font-family: 'San Francisco Pro';
                    font-weight: 400;
                    font-size: 14px;
                    font-style: normal;
                    align-items: flex-start;
                    color: @c-disabled;
                    margin: 0px 20px 0px 20px;

                    .card-description-section-inner {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin: 10px 0px 20px 0px;

                        .card-description-views {
                            margin: 10px 20px 0px 0px;
                        }

                        .card-description-date {
                            margin: 10px 20px 0px 0px;
                        }

                        .card-description-conflict {
                            outline: none;
                            text-decoration: none;
                            font-family: 'San Francisco Pro';
                            font-weight: 400;
                            font-size: 14px;
                            font-style: normal;
                            color: @c-disabled;
                            margin: 10px 20px 0px 0px;
                            transition: color ease-in-out 0.5s;
                            cursor: pointer;

                            &:hover {
                                color: @c-active;
                            }

                            &:focus {
                                color: @c-active;
                            }
                        }
                    }

                    .card-description-bookmark {
                        display: flex;
                        height: 100%;
                        margin: 0px 0px 0px auto;
                        flex-direction: column;
                        justify-content: flex-start;
                        cursor: pointer;

                        .card-description-bookmark-inner {
                            &:focus {
                                border: none;
                                outline: none !important;
                            }

                            &:hover .card-description-bookmark-top {
                                height: 22px;
                                background-color: @c-hover;
                            }

                            &:hover .card-description-bookmark-icon {
                                color: @c-hover;
                            }

                            &:focus .card-description-bookmark-top {
                                height: 22px;
                                background-color: @c-hover;
                            }

                            &:focus .card-description-bookmark-icon {
                                color: @c-hover;
                            }

                            .card-description-bookmark-top {
                                height: 12px;
                                background: @c-smoke;
                                transition: 0.5s;
                            }

                            .card-description-bookmark-icon {
                                color: @c-smoke;
                                margin-top: -10px;
                                height: 30px;
                                transition: 0.5s;
                            }
                        }

                        .card-description-bookmark-inner-red {
                            .card-description-bookmark-top {
                                height: 22px;
                                background-color: @c-active;
                                transition: 0.5s;
                            }

                            .card-description-bookmark-icon {
                                margin-top: -10px;
                                height: 30px;
                                transition: 0.5s;
                                color: @c-active;
                            }

                            &:focus {
                                border: none;
                                outline: none !important;
                            }

                            &:hover .card-description-bookmark-top {
                            }

                            &:hover .card-description-bookmark-icon {
                            }

                            &:focus .card-description-bookmark-top {
                            }

                            &:focus .card-description-bookmark-icon {
                            }
                        }
                    }
                }

                .card-title-section {
                    display: flex;
                    flex-direction: row;
                    font-family: 'San Francisco Pro';
                    font-weight: 700;
                    font-style: normal;
                    align-items: center;
                    justify-content: flex-end;
                    color: @c-primary;
                    margin: 0px 20px 0px 20px;
                    padding: 0px 0px 20px 0px;
                    text-align: right; //a

                    h2 {
                    }
                }
            }

            .card-content-section {
                position: relative;
                overflow: hidden;
                max-height: 255px;

                .card-image-section {
                    background: @c-primary;
                    display: flex;
                    overflow: hidden;
                    height: 255px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    margin: 0px 0px 0px 0px;

                    .card-image {
                        width: 100%; /* Ширина изображений */
                        //height: 100%;
                        //object-fit: contain;
                    }
                }


                .card-separator {
                    position: absolute;
                    z-index: 10;
                    top: -24px;
                    right: 0;
                    width: 37px;
                    height: 300px;
                    padding: 0;
                    overflow: hidden;

                    .card-separator-inner {
                        background: none;
                        height: 255px;
                        width: 37px;
                    }
                }

                .card-move-block {
                    background: @c-grey;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    right: calc(100% + 2500px);
                    top: 0;
                    z-index: 2;
                    text-align: center;
                    padding: 1rem;
                    transition: 1s linear;

                    .card-move-block-content {
                        font-family: 'San Francisco Pro';
                        z-index: 2;
                        font-weight: 400;
                        font-style: normal;
                        align-items: center;
                        color: @c-background;
                        text-align: justify;
                        margin: 5px 37px 5px 5px;
                    }

                    &::after {
                        content: '';
                        height: 100%;
                        width: 0;
                        position: absolute;
                        top: 0;
                        left: 100%;
                        border-left: 250px solid @c-grey;
                        border-right: 250px solid rgba(0, 0, 0, 0);
                        border-bottom: 325px solid rgba(0, 0, 0, 0);
                    }
                }

                .card-move-block > * {
                    transition: .1s .9s;
                }
            }

            &:hover .card-move-block {
                right: 0;
            }

            &:hover {
                box-shadow: 0px 5px 25px @c-dark-shadow-color;
                border: 1px solid @c-active;
            }

            :focus * {
                border: none;
            }

            &:focus .card-move-block {
                right: 0;
            }

            &:focus {
                box-shadow: 0px 5px 25px @c-dark-shadow-color;
                border: 1px solid @c-active;
            }
        }
    }
</style>
