<template>
  <div class="offer-info-container">
    <div v-if="!spinnerOn" class="offer-info-container-inner">
      <picture>
        <source srcset="@/assets/imag/info-load.webp" type="image/webp">
        <img width="300px" src="@/assets/imag/info-load.png" alt="">
      </picture>
      <h2 class="offer-info-title">
        Чтобы предложить публикацию, пожалуйста,
        <button class="offer-info-auth" @click.prevent="signInModalOn">
          авторизуйтесь в системе.
        </button>
      </h2>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';


@Component({
})
export default class OfferInfo extends Vue {
  private get spinnerOn(): boolean {
    return this.$store.state.spinnerOn;
  }

  private signInModalOn(): void {
    this.$store.commit('SIGN_IN_MODAL_ON', true);
  }
}
</script>

<style lang="less" scoped>
    /* сброс стилей */
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .offer-info-container {
        font-family: 'San Francisco Pro';
        border-radius: 300px;
        font-weight: 700;
        font-size: 30px;
        font-style: italic;
        min-height: 600px;
        width: 100%;
        color:  @c-red;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .offer-info-container-inner {
            max-width: 700px;
            margin: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .offer-info-title {
                margin: 50px 0px;
                color:  @c-primary;

                .offer-info-auth {
                    color:  @c-royal-blue;
                }
            }
        }
    }
</style>
