<template>
  <v-app class="offer-conflict-container">
    <v-form class="offer-form">
      <v-container fluid class="offer-form-inner">
        <v-row class="offer-form-row">
          <v-autocomplete
            v-model="languageValues"
            :rules="languagesRules"
            :items="languages"
            dense
            :filled="filled"
            multiple
            required
            label="Языки публикации"
            hint="Выберите не менее одного языка публикации"
            class="offer-form-autocomplete"
            :color="textfieldColor"
            @input="$v.languageValues.$touch()"
            @blur="$v.languageValues.$touch()"
          />
        </v-row>
        <v-row v-if="languageValues.includes('russian')" class="offer-form-row">
          <v-text-field
            v-model="titleRu"
            class="offer-input"
            :rules="titleRuRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Заголовок на русском' обязательно для заполнения"
            label="Заголовок на русском"
            :color="textfieldColor"
            @change="$v.titleRu.$touch()"
            @blur="$v.titleRu.$touch()"
          />
        </v-row>
        <v-row v-if="languageValues.includes('english')" class="offer-form-row">
          <v-text-field
            v-model="titleEn"
            class="offer-input"
            :rules="titleEnRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Заголовок на английском' обязательно для заполнения"
            label="Заголовок на английском"
            :color="textfieldColor"
            @change="$v.titleEn.$touch()"
            @blur="$v.titleEn.$touch()"
          />
        </v-row>
        <v-row v-if="languageValues.includes('spanish')" class="offer-form-row">
          <v-text-field
            v-model="titleEs"
            class="offer-input"
            :rules="titleEsRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Заголовок на испанском' обязательно для заполнения"
            label="Заголовок на испанском"
            :color="textfieldColor"
            @change="$v.titleEs.$touch()"
            @blur="$v.titleEs.$touch()"
          />
        </v-row>
        <v-row v-if="languageValues.includes('german')" class="offer-form-row">
          <v-text-field
            v-model="titleDe"
            class="offer-input"
            :rules="titleDeRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Заголовок на немецком' обязательно для заполнения"
            label="Заголовок на немецком"
            :color="textfieldColor"
            @change="$v.titleDe.$touch()"
            @blur="$v.titleDe.$touch()"
          />
        </v-row>
        <v-row
          class="offer-form-row"
          align="center"
        >
          <v-autocomplete
            v-model="conflictTypeValue"
            :items="conflictTypes"
            dense
            :filled="filled"
            label="Тип конфликта"
            class="offer-form-autocomplete"
            hint="Поле 'Тип конфликта' необязательно для заполнения"
            :color="textfieldColor"
          />
        </v-row>
        <v-row
          class="offer-form-row"
          align="center"
        >
          <v-autocomplete
            v-model="conflictReasonValue"
            :items="conflictReasons"
            dense
            :filled="filled"
            label="Причина конфликта"
            :rules="conflictReasonRules"
            hint="Поле 'Причина конфликта' обязательно для заполнения"
            class="offer-form-autocomplete"
            :color="textfieldColor"
            @change="$v.conflictReasonValue.$touch()"
            @blur="$v.conflictReasonValue.$touch()"
          />
        </v-row>
        <v-row class="offer-form-row">
          <v-text-field
            v-model="companyName"
            class="offer-input"
            :rules="companyNameRules"
            counter="50"
            :filled="filled"
            hint="Поле 'Компания' обязательно для заполнения"
            label="Компания"
            :color="textfieldColor"
            @input="$v.companyName.$touch()"
            @blur="$v.companyName.$touch()"
          />
        </v-row>
        <v-row
          class="offer-form-row"
          align="center"
        >
          <v-autocomplete
            v-model="industryValue"
            :items="industries"
            dense
            :filled="filled"
            label="Отрасль производства"
            hint="Поле 'Отрасль производства' необязательно для заполнения"
            class="offer-form-autocomplete"
            :color="textfieldColor"
          />
        </v-row>
        <v-row class="offer-form-row">
          <v-text-field
            v-model="coordinatesValue"
            class="offer-input"
            :rules="coordinatesRules"
            counter="20"
            :filled="filled"
            hint="Широта и долгота в десятичных градусах через запятую без пробелов (Пример: 60.12,-50.12) - обязательно для заполнения"
            label="Координаты"
            :color="textfieldColor"
            @input="$v.coordinatesValue.$touch()"
            @blur="$v.coordinatesValue.$touch()"
          />
        </v-row>
        <v-row class="offer-form-row offer-datepicker" justify="space-around">
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            offset-y
            min-width="auto"
            :color="textfieldColor"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="date"
                label="Дата начала"
                hint="Поле 'Дата начала' обязательно для заполнения"
                prepend-icon="mdi-calendar"
                readonly
                :filled="filled"
                v-bind="attrs"
                :color="textfieldColor"
                :rules="dateRules"
                @input="$v.date.$touch()"
                @blur="$v.date.$touch()"
                v-on="on"
              />
            </template>
            <v-date-picker
              v-model="date"
              no-title
              scrollable
              locale="Ru"
              :color="textfieldColor"
              @change="$refs.menu.save(date)"
            >
              <v-spacer />
              <v-btn
                text
                color="primary"
                @click="$refs.menu.save(date)"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
        </v-row>
        <v-row class="offer-form-row offer-form-button">
          <strikecom-button class="offer-form-button-inner" :is-disabled="!allValid || (submitStatus === 'PENDING')" @click.prevent @mousedown.prevent="onSubmit">
            Отправить
          </strikecom-button>
        </v-row>
      </v-container>
    </v-form>
  </v-app>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Emit, Vue } from 'nuxt-property-decorator';
import { Validations } from 'vuelidate-property-decorators';
import { AutocompleteItem, PostIConflict } from '@/components/api';
import { conflictReasonMap, conflictTypesMap, industriesMap, languagesMap } from '@/components/maps';
import colorVariables from '@/components/maps/color';
import StrikecomButton from '@/components/StrikecomButton.vue';
import {
  required,
  maxLength,
  minLength,
  requiredIf,
} from 'vuelidate/lib/validators';

@Component({
  components: { StrikecomButton },
})
export default class OfferConflict extends Vue {
    private filled = true;

    private menu: boolean = false;

    private submitStatus: string = 'EDIT';

    private date: string = '';

    private titleRu: string = '';

    private titleEn: string = '';

    private titleEs: string = '';

    private titleDe: string = '';

    private conflictReasonValue: number | null = null;

    private coordinatesValue: string = '';

    private conflictTypeValue: number | null = null;

    private industryValue: number | null = null;

    private companyName: string = '';

    private languageValues: string[] = ['russian'];

    private textfieldColor: string = colorVariables['c-primary'];

    private type: string = 'conflicts';

    private language: string = 'all';

    private source = this.$axios.CancelToken.source();

    private conflictTypes: AutocompleteItem [] = Array.from(conflictTypesMap.keys()).map((item) => {
      return {
        text: item,
        value: conflictTypesMap.get(item),
      };
    });

    private conflictReasons: AutocompleteItem [] = Array.from(conflictReasonMap.keys()).map((item) => {
      return {
        text: item,
        value: conflictReasonMap.get(item),
      };
    });

    private industries: AutocompleteItem [] = Array.from(industriesMap.keys()).map((item) => {
      return {
        text: item,
        value: industriesMap.get(item),
      };
    });

    private languages: AutocompleteItem [] = Array.from(languagesMap.keys()).map((item) => {
      return {
        text: item,
        value: languagesMap.get(item),
      };
    });

    private conflictReasonRules: any = [(v: string | any[]) => !!v || 'Поле \'Причина конфликта\' обязательно для заполнения'];

    private languagesRules: any = [(v: string | any[]) => !!v || 'Поле \'Языки публикации\' обязательно для заполнения'];

    private dateRules: any = [(v: string | any[]) => !!v || 'Поле \'Дата начала\' обязательно для заполнения'];

    private companyNameRules: any = [(v: string) => v.length <= 50 || 'Не более 50 символов', (v: string) => v.length >= 3 || 'Не менее 3 символов'];

    private coordinatesRules: any = [
      (v: string) => v.length <= 20 || 'Не более 20 символов',
      (v: string) => v.length >= 3 || 'Не менее 3 символов',
      (v: string) => /^-?\d{1,2}(\.\d+)?,-?\d{1,3}(\.\d+)?$/.test(v) || 'Широта и долгота в десятичных градусах через запятую без пробелов (Пример: 60.12,-50.12) - обязательно для заполнения',
    ];

    private titleRuRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов', (v: string) => v.length >= 8 || 'Не менее 8 символов'];

    private titleDeRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов', (v: string) => v.length >= 8 || 'Не менее 8 символов'];

    private titleEnRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов', (v: string) => v.length >= 8 || 'Не менее 8 символов'];

    private titleEsRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов', (v: string) => v.length >= 8 || 'Не менее 8 символов'];

    private get allValid(): boolean {
      return !this.$v.$invalid;
    }

    private get hasTitle(): boolean {
      return !(!!this.titleRu || !!this.titleDe || !!this.titleEn || !!this.titleEs);
    }

    private get authorizationToken(): boolean {
      return this.$store.state.token;
    }

    @Emit('change-submit-status')
    private changeSubmitStatus(submitStatus: string) {
      this.submitStatus = submitStatus;
      return this.submitStatus;
    }

    @Validations()
    private validations () {
      return {
        date: {
          required: requiredIf(data => {
            return !!data;
          }),
          minLength: minLength(4),
          maxLength: maxLength(20),
        },
        conflictReasonValue: {
          required,
        },
        titleRu: {
          required: requiredIf(() => {
            return this.hasTitle;
          }),
          minLength: minLength(8),
          maxLength: maxLength(200),
        },
        titleEn: {
          required: requiredIf(() => {
            return this.hasTitle;
          }),
          minLength: minLength(8),
          maxLength: maxLength(200),
        },
        titleEs: {
          required: requiredIf(() => {
            return this.hasTitle;
          }),
          minLength: minLength(8),
          maxLength: maxLength(200),
        },
        titleDe: {
          required: requiredIf(() => {
            return this.hasTitle;
          }),
          minLength: minLength(8),
          maxLength: maxLength(200),
        },
        coordinatesValue: {
          required: requiredIf(data => {
            return !!data;
          }),
          minLength: minLength(3),
          maxLength: maxLength(20),
          validFormat: (val: any) => /^-?\d{1,2}(\.\d+)?,-?\d{1,3}(\.\d+)?$/.test(val),
        },
        companyName: {
          required: requiredIf(data => {
            return !!data;
          }),
          minLength: minLength(3),
          maxLength: maxLength(50),
        },
        languageValues: {
          required: requiredIf(data => {
            return !!data;
          }),
        },
      };
    }

    private async onSubmit(): Promise<void> {
      const { type } = this;
      const { language } = this;
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;

      const conflictPostRequest: PostIConflict = {
        mainTypeId: this.conflictTypeValue,
        companyName: this.companyName,
        conflictReasonId: this.conflictReasonValue,
        latitude: parseFloat(this.coordinatesValue.split(',')[0]),
        longitude: parseFloat(this.coordinatesValue.split(',')[1]),
        dateFrom: parseFloat(this.$moment(this.date).format('X')),
        industryId: this.industryValue,
        titleRu: this.titleRu ? this.titleRu : null,
        titleDe: this.titleDe ? this.titleDe : null,
        titleEn: this.titleEn ? this.titleEn : null,
        titleEs: this.titleEs ? this.titleEs : null,
      };

      this.$v.$touch();
      if (this.$v.$invalid) {
        this.changeSubmitStatus('ERROR');
      } else {
        this.changeSubmitStatus('PENDING');
        this.$store.commit('SET_SPINNER', true);
        try {
          // Прерывание запроса через 10 секунд
          setTimeout(() => {
            this.source.cancel();
            this.source = this.$axios.CancelToken.source();
            this.$store.commit('SET_SPINNER', false);
          }, 10000);
          // set the headers
          const config = {
            cancelToken: this.source.token,
            headers: this.authorizationToken ? {
              Authorization: `Bearer ${this.authorizationToken}`,
            } : null,
          };
          await this.$axios.$post(url, conflictPostRequest, config);
          this.changeSubmitStatus('OK');
          this.$store.commit('SET_SPINNER', false);
        } catch {
          this.changeSubmitStatus('ERROR');
          this.$store.commit('SET_SPINNER', false);
        }
      }
    }
}
</script>

<style lang="less" scoped>
    /* сброс стилей */
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .offer-conflict-container {
        font-family: 'San Francisco Pro' !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        font-style: normal !important;
        height: 100%;

        .offer-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);

            .offer-form-row {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0px;
                margin: 0px;

                .offer-form-autocomplete{
                    width: 100%;
                }

                .offer-input {
                    width: 100%;
                    margin: 0px 0px 10px 0px;
                }
            }

            .offer-datepicker {
                margin: 0px 0px 10px 0px;
            }

            .offer-form-button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;

                .offer-form-button-inner {
                    font-size: 16px;
                    min-width: 200px;
                }
            }
        }
    }
</style>
