<template>
  <v-app class="offer-event-container">
    <v-form class="offer-form">
      <v-container fluid class="offer-form-inner">
        <v-row class="offer-form-row">
          <v-autocomplete
            v-model="languageValues"
            :rules="languagesRules"
            :items="languages"
            dense
            :filled="filled"
            multiple
            required
            label="Языки публикации"
            hint="Выберите не менее одного языка публикации"
            class="offer-form-autocomplete"
            :color="textfieldColor"
            @input="$v.languageValues.$touch()"
            @blur="$v.languageValues.$touch()"
          />
        </v-row>
        <v-row v-if="languageValues.includes('russian')" class="offer-form-row">
          <v-text-field
            v-model="titleRu"
            class="offer-input"
            :rules="titleRuRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Заголовок на русском' обязательно для заполнения"
            label="Заголовок на русском"
            :color="textfieldColor"
          />
        </v-row>
        <v-row v-if="languageValues.includes('russian')" class="offer-form-row">
          <v-text-field
            v-model="contentRu"
            class="offer-input"
            :rules="contentRuRules"
            :filled="filled"
            counter="10000"
            hint="Поле 'Описание на русском' обязательно для заполнения"
            label="Описание на русском"
            :color="textfieldColor"
          />
        </v-row>
        <v-row v-if="languageValues.includes('english')" class="offer-form-row">
          <v-text-field
            v-model="titleEn"
            class="offer-input"
            :rules="titleEnRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Заголовок на английском' обязательно для заполнения"
            label="Заголовок на английском"
            :color="textfieldColor"
          />
        </v-row>
        <v-row v-if="languageValues.includes('english')" class="offer-form-row">
          <v-text-field
            v-model="contentEn"
            class="offer-input"
            :rules="contentEnRules"
            :filled="filled"
            counter="10000"
            hint="Поле 'Описание на английском' обязательно для заполнения"
            label="Описание на английском"
            :color="textfieldColor"
          />
        </v-row>
        <v-row v-if="languageValues.includes('spanish')" class="offer-form-row">
          <v-text-field
            v-model="titleEs"
            class="offer-input"
            :rules="titleEsRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Заголовок на испанском' обязательно для заполнения"
            label="Заголовок на испанском"
            :color="textfieldColor"
          />
        </v-row>
        <v-row v-if="languageValues.includes('spanish')" class="offer-form-row">
          <v-text-field
            v-model="contentEs"
            class="offer-input"
            :rules="contentEsRules"
            :filled="filled"
            counter="10000"
            hint="Поле 'Описание на испанском' обязательно для заполнения"
            label="Описание на испанском"
            :color="textfieldColor"
          />
        </v-row>
        <v-row v-if="languageValues.includes('german')" class="offer-form-row">
          <v-text-field
            v-model="titleDe"
            class="offer-input"
            :rules="titleDeRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Заголовок на немецком' обязательно для заполнения"
            label="Заголовок на немецком"
            :color="textfieldColor"
          />
        </v-row>
        <v-row v-if="languageValues.includes('german')" class="offer-form-row">
          <v-text-field
            v-model="contentDe"
            class="offer-input"
            :rules="contentDeRules"
            :filled="filled"
            counter="10000"
            hint="Поле 'Описание на немецком' обязательно для заполнения"
            label="Описание на немецком"
            :color="textfieldColor"
          />
        </v-row>
        <v-row class="offer-form-row">
          <v-text-field
            v-model="sourceLink"
            class="offer-input"
            :rules="sourceLinkRules"
            :filled="filled"
            counter="200"
            hint="Поле 'Источник' необязательно для заполнения"
            label="Источник"
            :color="textfieldColor"
          />
        </v-row>
        <v-row class="offer-form-row">
          <v-card width="100%" class="mx-auto photo-block">
            <div class="photo-block-inner">
              <h3 class="photo-block-title">
                Фото по ссылке
              </h3>
              <div class="photo-block-btn-group">
                <v-btn
                  :disabled="photoUrls.length === 1"
                  :color="textfieldColor"
                  fab
                  dark
                  small
                  @mousedown="deletePhoto"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
                <v-btn
                  :disabled="photoUrls.length === 20"
                  :color="textfieldColor"
                  fab
                  dark
                  small
                  @mousedown="addPhoto"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>
            </div>
            <v-list three-line>
              <template v-for="(photoUrl,photoIndex) of photoUrls">
                <div :key="'event-photo-item-' + photoIndex" class="photo-item">
                  <h4 :key="'event-photo-label-' + photoIndex" class="photo-item-title">
                    Фото {{ photoIndex + 1 }}
                  </h4>
                  <v-text-field
                    :key="'event-photo-url-' + photoIndex"
                    v-model="photoUrls[photoIndex]"
                    class="offer-input"
                    :filled="filled"
                    counter="200"
                    hint="Поле 'Url фото' необязательно для заполнения"
                    label="Url фото"
                    :color="textfieldColor"
                  />
                </div>
              </template>
            </v-list>
          </v-card>
        </v-row>
        <v-row class="offer-form-row">
          <v-card width="100%" class="mx-auto video-block">
            <div class="video-block-inner">
              <h3 class="video-block-title">
                Видео по ссылке
              </h3>
              <div class="video-block-btn-group">
                <v-btn
                  :disabled="videoUrls.length === 1"
                  :color="textfieldColor"
                  fab
                  dark
                  small
                  @mousedown="deleteVideo"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
                <v-btn
                  :disabled="videoUrls.length === 20"
                  :color="textfieldColor"
                  fab
                  dark
                  small
                  @mousedown="addVideo"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>
            </div>
            <v-list three-line>
              <template v-for="(videoUrl, videoIndex) of videoUrls">
                <div :key="'event-video-item-' + videoIndex" class="video-item">
                  <h4 :key="'event-video-label-' + videoIndex" class="video-item-title">
                    Видео {{ videoIndex + 1 }}
                  </h4>
                  <v-text-field
                    :key="'event-video-url-' + videoIndex"
                    v-model="videoUrl.url"
                    class="offer-input"
                    :filled="filled"
                    counter="200"
                    :rules="videoUrlsRules"
                    hint="Поле 'Url видео' необязательно для заполнения"
                    label="Url видео"
                    :color="textfieldColor"
                  />
                  <v-text-field
                    :key="'event-video-preview-' + videoIndex"
                    v-model="videoUrl.previewUrl"
                    class="offer-input"
                    :filled="filled"
                    :rules="videoPreviewRules"
                    counter="200"
                    hint="Поле 'Заголовок видео' необязательно для заполнения"
                    label="Заголовок видео"
                    :color="textfieldColor"
                  />
                  <v-autocomplete
                    :key="'event-video-type-' + videoIndex"
                    v-model="videoUrl.videoTypeId"
                    :items="videoTypes"
                    dense
                    :filled="filled"
                    label="Тип видео"
                    hint="Поле 'Тип видео' необязательно для заполнения"
                    class="offer-form-autocomplete"
                    :color="textfieldColor"
                  />
                </div>
              </template>
            </v-list>
          </v-card>
        </v-row>
        <v-row class="offer-form-row">
          <v-text-field
            v-model="coordinatesValue"
            class="offer-input"
            :rules="coordinatesRules"
            counter="20"
            :filled="filled"
            hint="Широта и долгота в десятичных градусах через запятую без пробелов (Пример: 60.12,-50.12) - обязательно для заполнения"
            label="Координаты"
            :color="textfieldColor"
            @input="$v.coordinatesValue.$touch()"
            @blur="$v.coordinatesValue.$touch()"
          />
        </v-row>
        <v-row
          class="offer-form-row"
          align="center"
        >
          <v-autocomplete
            v-model="conflictValue"
            :items="conflictTypes"
            dense
            :filled="filled"
            label="В рамках конфликта"
            hint="Поле 'В рамках конфликта' обязательно для заполнения"
            class="offer-form-autocomplete"
            :color="textfieldColor"
          />
        </v-row>
        <v-row
          class="offer-form-row"
          align="center"
        >
          <v-autocomplete
            v-model="countriesValue"
            :items="countriesTypes"
            dense
            :filled="filled"
            label="Страна"
            hint="Поле 'Страна' необязательно для заполнения"
            class="offer-form-autocomplete"
            :color="textfieldColor"
          />
        </v-row>
        <v-row
          v-if="countriesValue"
          class="offer-form-row"
          align="center"
        >
          <v-autocomplete
            v-model="regionValue"
            :items="regionTypes"
            dense
            :filled="filled"
            label="Регион"
            hint="Поле 'Регион' необязательно для заполнения"
            class="offer-form-autocomplete"
            :color="textfieldColor"
          />
        </v-row>
        <v-row
          v-if="regionValue"
          class="offer-form-row"
          align="center"
        >
          <v-autocomplete
            v-model="localityValue"
            :items="localityTypes"
            dense
            :filled="filled"
            label="Населённый пункт"
            hint="Поле 'Населённый пункт' необязательно для заполнения"
            class="offer-form-autocomplete"
            :color="textfieldColor"
          />
        </v-row>
        <v-row class="offer-form-row offer-datepicker" justify="space-around">
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            offset-y
            min-width="auto"
            :color="textfieldColor"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="date"
                label="Дата"
                hint="Поле 'Дата' обязательно для заполнения"
                prepend-icon="mdi-calendar"
                readonly
                :filled="filled"
                v-bind="attrs"
                :color="textfieldColor"
                :rules="dateRules"
                @input="$v.date.$touch()"
                @blur="$v.date.$touch()"
                v-on="on"
              />
            </template>
            <v-date-picker
              v-model="date"
              no-title
              scrollable
              locale="Ru"
              :color="textfieldColor"
              @change="$refs.menu.save(date)"
            >
              <v-spacer />
              <v-btn text color="primary" @click="$refs.menu.save(date)">
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
        </v-row>
        <v-row class="offer-form-row offer-form-button">
          <strikecom-button
            class="offer-form-button-inner"
            :is-disabled="!allValid || submitStatus === 'PENDING'"
            @click.prevent
            @mousedown.prevent="onSubmit"
          >
            Отправить
          </strikecom-button>
        </v-row>
      </v-container>
    </v-form>
  </v-app>
</template>

<script lang="ts">
import qs from 'qs';
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Emit, Vue, Watch } from 'nuxt-property-decorator';
import { Validations } from 'vuelidate-property-decorators';
import {
  AutocompleteItem,
  ConflictRequest,
  IConflict, ILocality,
  IRegion,
  IVideo, LocalityRequest,
  PostIEvent,
  RegionRequest,
} from '@/components/api';
import { countriesMap, languagesMap, videoTypesMap } from '@/components/maps';
import colorVariables from '@/components/maps/color';
import StrikecomButton from '@/components/StrikecomButton.vue';
import { maxLength, minLength, required, requiredIf } from 'vuelidate/lib/validators';

@Component({
  components: { StrikecomButton },
})
export default class OfferEvent extends Vue {
    private conflictItemArr: IConflict[] = [];

    private countriesValue: number | null = null;

    private regionValue: number | null = null;

    private localityValue: number | null = null;

    private filled = true;

    private menu: boolean = false;

    private submitStatus: string = 'EDIT';

    private conflictValue: number | null = null;

    private date: string = '';

    private titleRu: string = '';

    private titleEn: string = '';

    private titleEs: string = '';

    private titleDe: string = '';

    private contentRu: string = '';

    private contentEn: string = '';

    private contentEs: string = '';

    private contentDe: string = '';

    private sourceLink: string = '';

    private coordinatesValue: string = '';

    private photoUrls: string[] = [''];

    private videoUrls: IVideo[] = [{
      url: '',
      previewUrl: '',
      videoTypeId: undefined,
    }];

    private languageValues: string[] = ['russian'];

    private textfieldColor: string = colorVariables['c-primary'];

    private type: string = 'events';

    private language: string = 'all';

    private source = this.$axios.CancelToken.source();

    private languages: AutocompleteItem[] = Array.from(languagesMap.keys()).map((item) => {
      return {
        text: item,
        value: languagesMap.get(item),
      };
    });

    private countriesTypes: AutocompleteItem [] = Array.from(countriesMap.keys()).map((item) => {
      return {
        text: item,
        value: countriesMap.get(item),
      };
    });

    private regionTypes: AutocompleteItem [] = [];

    private localityTypes: AutocompleteItem [] = [];

    private videoTypes: AutocompleteItem [] = Array.from(videoTypesMap.keys()).map((item) => {
      return {
        text: item,
        value: videoTypesMap.get(item),
      };
    });

    private photoUrlsRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов'];

    private videoUrlsRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов'];

    private videoPreviewRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов'];

    private sourceLinkRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов'];

    private languagesRules: any = [(v: string | any[]) => !!v || "Поле 'Языки публикации' обязательно для заполнения"];

    private coordinatesRules: any = [
      (v: string) => v.length <= 20 || 'Не более 20 символов',
      (v: string) => v.length >= 3 || 'Не менее 3 символов',
      (v: string) => /^-?\d{1,2}(\.\d+)?,-?\d{1,3}(\.\d+)?$/.test(v) || 'Широта и долгота в десятичных градусах через запятую без пробелов (Пример: 60.12,-50.12) - обязательно для заполнения',
    ];

    private dateRules: any = [(v: string | any[]) => !!v || "Поле 'Дата начала' обязательно для заполнения"];

    private titleRuRules: any = [
      (v: string) => v.length <= 200 || 'Не более 200 символов',
      (v: string | any[]) => v.length >= 8 || 'Не менее 8 символов',
    ];

    private titleDeRules: any = [
      (v: string) => v.length <= 200 || 'Не более 200 символов',
      (v: string | any[]) => v.length >= 8 || 'Не менее 8 символов',
    ];

    private titleEnRules: any = [
      (v: string) => v.length <= 200 || 'Не более 200 символов',
      (v: string | any[]) => v.length >= 8 || 'Не менее 8 символов',
    ];

    private titleEsRules: any = [
      (v: string) => v.length <= 200 || 'Не более 200 символов',
      (v: string | any[]) => v.length >= 8 || 'Не менее 8 символов',
    ];

    private contentRuRules: any = [
      (v: string) => v.length <= 10000 || 'Не более 10000 символов',
      (v: string | any[]) => v.length >= 8 || 'Не менее 8 символов',
    ];

    private contentDeRules: any = [
      (v: string) => v.length <= 10000 || 'Не более 10000 символов',
      (v: string | any[]) => v.length >= 8 || 'Не менее 8 символов',
    ];

    private contentEnRules: any = [
      (v: string) => v.length <= 10000 || 'Не более 10000 символов',
      (v: string | any[]) => v.length >= 8 || 'Не менее 8 символов',
    ];

    private contentEsRules: any = [
      (v: string) => v.length <= 10000 || 'Не более 10000 символов',
      (v: string | any[]) => v.length >= 8 || 'Не менее 8 символов',
    ];

    private get conflictTypes(): AutocompleteItem [] {
      return Array.from(this.conflictItemArr).map((item) => {
        return {
          text: item.title,
          value: item.id,
        };
      });
    }

    private get allValid(): boolean {
      return !this.$v.$invalid;
    }

    private get hasTitle(): boolean {
      return !(!!this.titleRu || !!this.titleDe || !!this.titleEn || !!this.titleEs);
    }

    private get authorizationToken(): boolean {
      return this.$store.state.token;
    }

    @Emit('change-submit-status')
    private changeSubmitStatus(submitStatus: string) {
      this.submitStatus = submitStatus;
      return this.submitStatus;
    }

    private addPhoto() {
      if (this.photoUrls.length < 20) {
        this.photoUrls.push('');
      }
    }

    private deletePhoto() {
      if (this.photoUrls.length > 1) {
        this.photoUrls.pop();
      }
    }

    private addVideo() {
      if (this.videoUrls.length < 20) {
        this.videoUrls.push({
          url: '',
          previewUrl: '',
          videoTypeId: undefined,
        });
      }
    }

    private deleteVideo() {
      if (this.videoUrls.length > 1) {
        this.videoUrls.pop();
      }
    }

    @Validations()
    private validations() {
      return {
        date: {
          required: requiredIf((data) => {
            return !!data;
          }),
          minLength: minLength(4),
          maxLength: maxLength(20),
        },
        sourceLink: {
          maxLength: maxLength(200),
        },
        titleRu: {
          required: requiredIf(() => {
            return this.hasTitle;
          }),
          maxLength: maxLength(200),
        },
        titleEn: {
          required: requiredIf(() => {
            return this.hasTitle;
          }),
          minLength: minLength(8),
          maxLength: maxLength(200),
        },
        titleEs: {
          required: requiredIf(() => {
            return this.hasTitle;
          }),
          minLength: minLength(8),
          maxLength: maxLength(200),
        },
        titleDe: {
          required: requiredIf(() => {
            return this.hasTitle;
          }),
          minLength: minLength(8),
          maxLength: maxLength(200),
        },
        contentRu: {
          required: requiredIf(() => {
            return this.titleRu;
          }),
          minLength: minLength(8),
          maxLength: maxLength(10000),
        },
        contentEn: {
          required: requiredIf(() => {
            return this.titleEn;
          }),
          minLength: minLength(8),
          maxLength: maxLength(10000),
        },
        contentEs: {
          required: requiredIf(() => {
            return this.titleEs;
          }),
          minLength: minLength(8),
          maxLength: maxLength(10000),
        },
        contentDe: {
          required: requiredIf(() => {
            return this.titleDe;
          }),
          minLength: minLength(8),
          maxLength: maxLength(10000),
        },
        languageValues: {
          required: requiredIf((data) => {
            return !!data;
          }),
        },
        photoUrls: {
          maxLength: maxLength(20),
          $each: {
            maxLength: maxLength(200), // each field of "values" array has to have at least 4 characters (or be an array of at least 4 elements)
          },
        },
        videoUrls: {
          maxLength: maxLength(20),
          $each: {
            url: {
              maxLength: maxLength(200), // each field of "values" array has to have at least 4 characters (or be an array of at least 4 elements)
            },
            previewUrl: {
              maxLength: maxLength(200), // each field of "values" array has to have at least 4 characters (or be an array of at least 4 elements)
            },
          },
        },
        coordinatesValue: {
          required: requiredIf(data => {
            return !!data;
          }),
          minLength: minLength(3),
          maxLength: maxLength(20),
          validFormat: (val: any) => /^-?\d{1,2}(\.\d+)?,-?\d{1,3}(\.\d+)?$/.test(val),
        },
        conflictValue: {
          required,
        },
      };
    }

    private async conflictsRequest(): Promise<IConflict[]> {
      const type: string = 'conflicts';
      const language: string = 'ru';
      const conflictQuery: ConflictRequest = {
        page: '1',
        perPage: '10000',
      };
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      return (await this.$axios.$get(url, {
        params: conflictQuery,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      })).data as IConflict[];
    }

    @Watch('countriesValue')
    private async regionsRequest(): Promise<void> {
      const language: string = 'ru';
      const { countriesValue } = this;
      if (countriesValue) {
        const regionsQuery: RegionRequest = {
          countryId: countriesValue,
        };
        const url: string = `https://zabastcom.org/api/v2/${language}/regions`;
        const regionsArr: IRegion[] = (await this.$axios.$get(url, {
          params: regionsQuery,
          paramsSerializer: params => {
            return qs.stringify(params, { allowDots: true });
          },
        })).data as IRegion[];
        this.regionTypes = Array.from(regionsArr).map((item) => {
          return {
            text: item.name,
            value: item.id,
          };
        });
      } else {
        this.regionTypes = [];
      }
    }

    @Watch('regionValue')
    private async localityRequest(): Promise<void> {
      const language: string = 'ru';
      const { regionValue } = this;
      if (regionValue) {
        const localityQuery: LocalityRequest = {
          regionId: regionValue,
        };
        const url: string = `https://zabastcom.org/api/v2/${language}/localities`;
        const localityArr: ILocality[] = (await this.$axios.$get(url, {
          params: localityQuery,
          paramsSerializer: params => {
            return qs.stringify(params, { allowDots: true });
          },
        })).data as ILocality[];
        this.localityTypes = Array.from(localityArr).map((item) => {
          return {
            text: item.name,
            value: item.id,
          };
        });
      } else {
        this.localityTypes = [];
      }
    }

    private async onSubmit(): Promise<void> {
      const { type } = this;
      const { language } = this;
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;

      const eventPostRequest: PostIEvent = {
        date: parseFloat(this.$moment(this.date).format('X')),
        sourceLink: this.sourceLink,
        titleRu: this.titleRu ? this.titleRu : null,
        titleDe: this.titleDe ? this.titleDe : null,
        titleEn: this.titleEn ? this.titleEn : null,
        titleEs: this.titleEs ? this.titleEs : null,
        contentRu: this.contentRu ? this.contentRu : null,
        contentDe: this.contentDe ? this.contentDe : null,
        contentEn: this.contentEn ? this.contentEn : null,
        contentEs: this.contentEs ? this.contentEs : null,
        latitude: parseFloat(this.coordinatesValue.split(',')[0]),
        longitude: parseFloat(this.coordinatesValue.split(',')[1]),
        photoUrls: this.photoUrls.filter(item => item.length),
        videos: this.videoUrls.filter(item => item.url.length),
        conflictId: this.conflictValue ? this.conflictValue : 0,
        localityId: this.localityValue,
      };

      this.$v.$touch();
      if (this.$v.$invalid) {
        this.changeSubmitStatus('ERROR');
      } else {
        this.changeSubmitStatus('PENDING');
        this.$store.commit('SET_SPINNER', true);
        try {
          // Прерывание запроса через 10 секунд
          setTimeout(() => {
            this.source.cancel();
            this.source = this.$axios.CancelToken.source();
            this.$store.commit('SET_SPINNER', false);
          }, 10000);
          // set the headers
          const config = {
            cancelToken: this.source.token,
            headers: this.authorizationToken ? {
              Authorization: `Bearer ${this.authorizationToken}`,
            } : null,
          };
          await this.$axios.$post(url, eventPostRequest, config);
          this.changeSubmitStatus('OK');
          this.$store.commit('SET_SPINNER', false);
        } catch {
          this.changeSubmitStatus('ERROR');
          this.$store.commit('SET_SPINNER', false);
        }
      }
    }

    private async created(): Promise<void> {
      const newItems: IConflict[] = await this.conflictsRequest();
      this.conflictItemArr = [];
      this.conflictItemArr.push(...newItems);
      this.conflictValue = this.$route.query.conflict ? parseInt(this.$route.query.conflict as string, 10) : null;
    }
}
</script>

<style lang="less" scoped>
/* сброс стилей */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.offer-event-container {
    font-family: 'San Francisco Pro' !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-style: normal !important;
    height: 100%;

    .offer-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: @c-background-light;
        box-shadow: 0px 5px 25px @c-light-shadow-color;
        border: 1px solid rgba(1, 1, 1, 0);

        .offer-form-row {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin: 0px;

            .photo-block {
                padding: 10px;
                margin-bottom: 40px;

                .photo-block-inner {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .photo-block-title {
                        width: 150px;
                        font-style: italic;
                        font-size: 16px;
                    }

                    .photo-block-btn-group {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                    }
                }

                .photo-item {
                    margin-bottom: 20px;

                    .photo-item-title {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }
            }

            .video-block {
                padding: 10px 10px 0px 10px;
                margin-bottom: 40px;

                .video-block-inner {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .video-block-title {
                        width: 150px;
                        font-style: italic;
                        font-size: 16px;
                    }

                    .video-block-btn-group {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                    }
                }

                .video-item {
                    margin-bottom: 20px;

                    .video-item-title {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }
            }

            .offer-form-autocomplete {
                width: 100%;
            }

            .offer-input {
                width: 100%;
                margin: 0px 0px 10px 0px;
            }
        }

        .offer-datepicker {
            margin: 0px 0px 10px 0px;
        }

        .offer-form-button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;

            .offer-form-button-inner {
                font-size: 16px;
                min-width: 200px;
            }
        }
    }
}
</style>
