<template>
  <div class="offer-success-container">
    <div class="offer-success-container-inner">
      <picture>
        <source srcset="@/assets/imag/success.webp" type="image/webp">
        <img width="300px" src="@/assets/imag/success.png" alt="">
      </picture>
      <h2 class="offer-success-title">
        Ваш запрос принят в редакцию
      </h2>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';


@Component({
})
export default class OfferSuccess extends Vue {
}
</script>

<style lang="less" scoped>
    /* сброс стилей */
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .offer-success-container {
        font-family: 'San Francisco Pro';
        border-radius: 300px;
        font-weight: 700;
        font-size: 30px;
        font-style: italic;
        min-height: 600px;
        width: 100%;
        color:  @c-red;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .offer-success-container-inner {
            max-width: 700px;
            margin: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .offer-success-title {
                margin: 50px 0px;
                color:  @c-primary;
            }
        }
    }
</style>
