<template>
  <div v-if="(($mq !== 'xsm') && ($mq !== 'msm') && ($mq !== 'sm'))" class="scroll-to-top">
    <button v-if="isScrolled" :style="{bottom: marginBottom, position: scrollPosition}" class="scroll-to-top-button" @click.prevent="onScrollToTop">
      <font-awesome-icon
        class="scroll-to-top-button-icon"
        icon="angle-up"
        size="2x"
      />
    </button>
  </div>
  <button v-else-if="isScrolled" :style="{bottom: marginBottom, position: scrollPosition}" class="scroll-to-top-overlay-button" @click.prevent="onScrollToTop">
    <font-awesome-icon
      class="scroll-to-top-button-icon"
      icon="angle-up"
      size="2x"
    />
  </button>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ScrollToTop extends Vue {
    private scrollY = 0;

    private minMargin = 35;

    private get marginBottomAdaptive(): string {
      return (this.$mq === 'xsm') ? '0px' : '10px';
    }

    private get marginBottom(): string {
      return ((window.innerHeight + this.scrollY + this.minMarginBottom) <= document.body.offsetHeight) ? this.marginBottomAdaptive
        : `${this.minMargin}px`;
    }

    private get scrollPosition(): string {
      return ((window.innerHeight + this.scrollY + this.minMarginBottom) <= document.body.offsetHeight) ? 'fixed' : 'absolute';
    }

    private get isScrolled(): boolean {
      return (this.scrollY > 0);
    }

    private get minMarginBottom(): number {
      if (this.$mq === 'xsm' || this.$mq === 'msm') {
        return (this.minMargin + 435);
      }
      return (this.$mq === 'lg') ? (this.minMargin + 295) : (this.minMargin + 785);
    }

    private onScrollY(): void {
      this.scrollY = window.scrollY ? window.scrollY : 0;
    }

    // eslint-disable-next-line class-methods-use-this
    private onScrollToTop(): void {
      if (window) {
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        });
      }
    }

    private beforeMount () {
      window.addEventListener('scroll', this.onScrollY);
    }

    private beforeDestroy() {
      window.removeEventListener('scroll', this.onScrollY);
    }
}
</script>

<style lang="less" scoped>
    .scroll-to-top {
        flex-shrink: 0;
        width: 60px;

        .scroll-to-top-button {
            position: fixed;
            cursor: pointer;
            background-color: @c-active-light;
            border: none;
            color: @c-background-light;
            width: 40px;
            height: 40px;
            bottom: 10px;
            right: 15px;
            transition: 0.2s ease-in-out;

            &:active {
                transform: scale(0.95);
                background-color: @c-active;
            }

            &:hover {
                box-shadow: 0px 0px 5px 2px @c-grey;
                background-color: @c-active;
            }

            &:focus {
                box-shadow: 0px 0px 5px 2px @c-grey;
                background-color: @c-active;
            }
        }
    }

        .scroll-to-top-overlay-button {
            position: fixed;
            cursor: pointer;
            background-color: @c-active-light;
            border: none;
            color: @c-background-light;
            padding: 0px;
            width: 34px;
            height: 34px;
            bottom: 0px;
            right: 15px;
            z-index: 500;
            transition: 0.2s ease-in-out;

            &:active {
                transform: scale(0.95);
                background-color: @c-active;
            }

            &:hover {
                box-shadow: 0px 0px 5px 2px @c-primary;
                background-color: @c-active;
            }

            &:focus {
                box-shadow: 0px 0px 5px 2px @c-primary;
                background-color: @c-active;
            }
    }
</style>
