<template>
  <button
    class="strikecom-button"
    :class="{'button-selected': isActive || isOpened, 'button-disabled': isDisabled}"
    :disabled="isDisabled || isActive"
    @mousedown.prevent="mouseDown"
    @mouseup.prevent="mouseUp"
    @keydown.enter="mouseDown"
    @keyup.enter="mouseUp"
  >
    <slot class="strikecom-button-text" />
  </button>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Emit, Prop, Vue } from 'nuxt-property-decorator';

@Component
export default class StrikecomButton extends Vue {
    @Prop({ default: () => false })
    private readonly isDisabled!: boolean;

    @Prop({ default: () => false })
    private readonly isActive!: boolean;

    @Prop({ default: () => false })
    private readonly isOpened!: boolean;

    @Emit('mousedown')
    private mouseDown(mouseDownEvent: Event): Event {
      this.clearFocus();
      return mouseDownEvent;
    }

    @Emit('mouseup')
    private mouseUp(mouseUpEvent: Event): Event {
      this.clearFocus();
      return mouseUpEvent;
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }
}
</script>

<style lang="less" scoped>
    /* сброс стилей */
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .strikecom-button {
        font-family: 'San Francisco Pro';
        font-weight: 400;
        font-style: normal;
        margin: 0px;
        min-width: 5px;
        min-height: 5px;
        padding: 10px 10px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: @c-background-light;
        border: 0;
        box-sizing: border-box;
        box-shadow: inset 0 0 0 1px @c-smoke;
        color: @c-primary;
        position: relative;
        transition: transform ease-in-out 0.1s,
        color linear 0.5s,
        background-color ease-in-out 0.5s;

        &::before,
        &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
            border: 1px solid transparent;
            width: 0;
            height: 0;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            top: 0;
            left: 0;
        }

        /*
        &::after {
            bottom: 0;
            right: 0;
        }
        */

        &:hover {
            color: @c-active;
        }

        &:hover::before,
        &:hover::after {
            width: 100%;
            height: 100%;
        }

        &:hover::before {
            border-top-color: @c-active; // Make borders visible
            border-right-color: @c-active;
            transition: width 0.25s ease-out, // Width expands first
            height 0.25s ease-out 0.25s; // And then height
        }

        &:hover::after {
            border-bottom-color: @c-active; // Make borders visible
            border-left-color: @c-active;
            transition: border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
            width 0.25s ease-out 0.5s, // And then exanding width
            height 0.25s ease-out 0.75s; // And finally height
        }

        &:focus {
            color: @c-active;
        }

        &:focus::before,
        &:focus::after {
            border-color: @c-active;
            width: 100%;
            height: 100%;
        }

        &:active::before,
        &:active::after {
            transition: border-color 0s;
            border-color: @c-light-shadow-color;
        }

        svg {
            fill: @c-primary;
            transition: ease-in-out 0.5s;
        }

        &:hover svg {
            fill: @c-active;
        }

        &:focus svg {
            fill: @c-active;
        }

        path {
            color: @c-primary;
        }

        &:hover path {
            color: @c-active;
        }

        &:focus path {
            color: @c-active;
        }

        .strikecom-button-text {
            height: 100%;
            width: 100%;
            text-align: center;
        }

        &:active {
            transform: scale(0.95);
            border: none;
        }
    }

    .button-selected {
        color: @c-background-light;
        background-color: @c-active;

        &::before,
        &::after {
            border-color: @c-active;
            width: 100%;
            height: 100%;
        }

        &:hover {
            color: @c-background-light;
            background-color: @c-active;
        }

        &:focus {
            color: @c-background-light;
            background-color: @c-active;
        }

        svg {
            fill: @c-background-light;
            transition: ease-in-out 0.5s;
        }

        &:hover svg {
            fill: @c-background-light;
        }

        &:focus svg {
            fill: @c-background-light;
        }

        path {
            color: @c-background-light;
        }

        &:hover path {
            color: @c-background-light;
        }

        &:focus path {
            color: @c-background-light;
        }
    }

    .button-disabled {
        color: @c-disabled;

        &:hover::before,
        &:hover::after {
            width: 0;
            height: 0;
        }

        &:hover::before {
            border: 1px solid transparent;
            transition: width 0s ease-out, // Width expands first
            height 0s ease-out 0s; // And then height
        }

        &:hover::after {
            border: 1px solid transparent;
            transition: width 0s ease-out, // Width expands first
            height 0s ease-out 0s; // And then height
        }

        &:hover {
            color: @c-disabled;
        }

        &:focus {
            color: @c-disabled;
        }

        &:focus::before,
        &:focus::after {
            border: 1px solid transparent;
            width: 0;
            height: 0;
        }

        svg {
            fill: @c-disabled;
            transition: ease-in-out 0s;
        }

        &:hover svg {
            fill: @c-disabled;
        }

        &:focus svg {
            fill: @c-disabled;
        }

        path {
            color: @c-disabled;
        }

        &:hover path {
            color: @c-disabled;
        }

        &:focus path {
            color: @c-disabled;
        }
    }
</style>
