<template>
  <div :id="$vnode.key" class="strikecom-pie-chart" :style="{'height': `${chartHeight}px`}" />
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Prop, Vue, Watch } from 'nuxt-property-decorator';
import { PieChartItem } from '@/components/api';
import colorVariables from '@/components/maps/color';
import { PieChart } from '@amcharts/amcharts4/charts';

@Component({
  components: { },
})
export default class StrikecomPieChart extends Vue {
    @Prop({ default: () => [] })
    private readonly data!: PieChartItem[];

    private chartHeight: number = 1000;

    private borderColor: string = colorVariables['c-smoke'];

    @Watch('data')
    private chartLoading(): void {
      if (this.data) {
        const { am4core, am4charts, am4themesAnimated } = this.$am4core();
        am4core.useTheme(am4themesAnimated);
        const chart: PieChart = am4core.create(this.$vnode.key, am4charts.PieChart);

        chart.data = this.data.map((item) => {
          const newItem: PieChartItem = item;
          newItem.label1 = '';
          newItem.label2 = '';
          return newItem;
        });
        const valueArray: number[] = this.data.map((item) => item.value1);
        const total = valueArray.length ? valueArray.reduce((accumulator, item) => item + accumulator) : 0;

        // Add a legend
        chart.legend = new am4charts.Legend();
        chart.legend.scrollable = true;
        const pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = 'value1';
        pieSeries.dataFields.category = 'name';
        pieSeries.slices.template.stroke = am4core.color(this.borderColor);
        pieSeries.slices.template.strokeWidth = 2;
        pieSeries.slices.template.strokeOpacity = 1;
        pieSeries.slices.template.states.getKey('hover').properties.shiftRadius = 0;
        pieSeries.slices.template.states.getKey('hover').properties.scale = 1;
        pieSeries.slices.template.states.getKey('active').properties.scale = 0.7;
        pieSeries.labels.template.text = '{category}: {value.value}';
        pieSeries.labels.template.wrap = true;
        pieSeries.slices.template.tooltipText = '{category}: {value.value}';

        // Add label
        const label = pieSeries.createChild(am4core.Label);

        label.text = 'currentYear';
        label.horizontalCenter = 'middle';
        label.verticalCenter = 'middle';
        label.html = '{values.value.sum.formatNumber(\'#\')}';
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        label.adapter.add('htmlOutput', (text: string, target: any, key: string) => {
          return `<p style="text-align: center; font-size: 1.1em">Всего:</p>
                <p style="text-align: center; font-size: 1.2em; font-weight: bold">${total}</p>`;
        });

        // Responsive  design config
        switch (this.$mq) {
          case 'lg':
            chart.radius = am4core.percent(70);
            chart.innerRadius = am4core.percent(50);
            pieSeries.labels.template.fontSize = 14;
            pieSeries.labels.template.maxWidth = 180;
            chart.legend.maxHeight = 250;
            chart.legend.fontSize = 14;
            pieSeries.height = 1000;
            this.chartHeight = 900;
            chart.paddingTop = -20;
            label.fontSize = 50;
            break;
          case 'md':
            chart.radius = am4core.percent(50);
            chart.innerRadius = am4core.percent(30);
            pieSeries.labels.template.fontSize = 14;
            pieSeries.labels.template.maxWidth = 180;
            chart.legend.maxHeight = 200;
            chart.legend.fontSize = 14;
            chart.height = 750;
            this.chartHeight = 800;
            chart.paddingTop = -50;
            label.fontSize = 40;
            break;
          case 'sm':
            chart.radius = am4core.percent(40);
            chart.innerRadius = am4core.percent(25);
            pieSeries.labels.template.fontSize = 12;
            pieSeries.labels.template.maxWidth = 150;
            chart.legend.maxHeight = 150;
            chart.legend.fontSize = 12;
            chart.height = 570;
            this.chartHeight = 620;
            chart.paddingTop = -50;
            label.fontSize = 20;
            break;
          case 'msm':
            chart.radius = am4core.percent(35);
            chart.innerRadius = am4core.percent(20);
            pieSeries.labels.template.fontSize = 10;
            pieSeries.labels.template.maxWidth = 120;
            chart.legend.maxHeight = 150;
            chart.legend.fontSize = 10;
            chart.height = 450;
            this.chartHeight = 500;
            chart.paddingTop = -70;
            label.fontSize = 15;
            break;
          case 'xsm':
            chart.radius = am4core.percent(35);
            chart.innerRadius = am4core.percent(20);
            pieSeries.labels.template.fontSize = 9;
            pieSeries.labels.template.maxWidth = 70;
            chart.legend.maxHeight = 150;
            chart.legend.fontSize = 9;
            chart.height = 450;
            this.chartHeight = 500;
            chart.paddingTop = -70;
            label.fontSize = 10;
            break;
          default:
            chart.radius = am4core.percent(55);
            chart.innerRadius = am4core.percent(40);
        }
      }
    }

    private mounted(): void {
      this.chartLoading();
    }
}
</script>

<style lang="less" scoped>
    .strikecom-pie-chart {
    }
</style>
