<template>
  <div class="strikecom-chart-overlay" :class="{'is-closed': !isOpen}">
    <button class="strikecom-chart-overlay-button" @click="onClick">
      <font-awesome-icon
        class="chart-overlay-button-icon"
        :class="{'rotate': !isOpen}"
        icon="chevron-right"
        size="2x"
      />
    </button>
    <div class="strikecom-chart-overlay-container">
      <div class="strikecom-chart-overlay-country">
        <v-select
          class="overlay-country-select"
          placeholder="Все страны"
          width="100"
          :options="countryList"
          :value="statisticsCountry"
          @input="setStatisticsCountry"
        >
          <template #no-options>
            Совпадений не найдено
          </template>
        </v-select>
      </div>
      <div class="strikecom-chart-overlay-date">
        <p class="strikecom-chart-overlay-date-label">
          Временной период
        </p>
        <date-picker
          class="chart-overlay-date-picker"
          value-type="format"
          range
          :popup-style="{ top: '100%', left: 0, right: 0}"
          :append-to-body="false"
          :value="statisticsPeriod"
          @input="setStatisticsPeriod"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'vue-property-decorator';
import vSelect from 'vue-select';
import { countriesMap } from '@/components/maps';
import 'vue-select/dist/vue-select.css';

@Component({
  components: {
    vSelect,
  },
})
export default class StrikecomChartOverlay extends Vue {
  private isOpen: boolean = true;

  private countryList: string[] = Array.from(countriesMap.keys());

  private get statisticsCountry(): string {
    return this.$store.state.statisticsCountry;
  }

  private get statisticsPeriod(): string[] | null[] {
    return this.$store.state.statisticsPeriod;
  }

  private setStatisticsCountry(value: string): void{
    this.$store.commit('SET_STATISTICS_COUNTRY', value);
  }

  private setStatisticsPeriod(value: string[] | null[]): void{
    this.$store.commit('SET_STATISTICS_PERIOD', value);
  }

  private onClick(): void {
    this.clearFocus();
    this.isOpen = !this.isOpen;
  }

  // eslint-disable-next-line class-methods-use-this
  private clearFocus(): void {
    if (document.activeElement) {
      (document.activeElement as HTMLElement).blur();
    }
  }
}
</script>

<style lang="less" scoped>
  .strikecom-chart-overlay {
    position: fixed;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: @c-background-transparent;
    border: none;
    padding: 0px;
    max-width: 100%;
    width: 400px;
    height: 120px;
    top: 200px;
    right: 0px;
    z-index: 500;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: 1s ease-in-out;
    box-shadow: -5px 5px 10px @c-dark-shadow-color;

    .strikecom-chart-overlay-button {
      width: 30px;
      height: 100%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: @c-active-light;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: @c-active;
        box-shadow: 0px 0px 5px 2px @c-grey;
      }

      &:focus {
        background-color: @c-active;
        box-shadow: 0px 0px 5px 2px @c-grey;
      }

      .chart-overlay-button-icon {
        transform: scale(1, 1.2);
        color: @c-background;
        transition: 1s cubic-bezier(.99,0,0,.99) ;
      }

      .rotate {
        transform: scale(-1, 1.4);
      }
    }

    .strikecom-chart-overlay-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 2px solid @c-active-light;
      border-bottom: 2px solid @c-active-light;
      padding: 5px 20px;

      .strikecom-chart-overlay-country {
        width: 100%;

        .overlay-country-select {
          width: 100%;
        }

        --vs-font-size: 14px;
      }

      .strikecom-chart-overlay-date {
        margin-top: 10px;
        width: 100%;

        .strikecom-chart-overlay-date-label {
          color: @c-primary;
          margin-bottom: 5px;
        }

        .chart-overlay-date-picker {
          width: 100%;

          /deep/ .mx-input-wrapper {
            .mx-input {
              background: none;
            }
          }

          /deep/ .mx-datepicker-main {
            z-index: 900;
          }

          /deep/ .mx-datepicker-content {
            z-index: 900;

            .mx-range-wrapper {

              .mx-calendar {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
</style>
<style scoped>
  .is-closed {
    right: calc(max(-100vw, -400px) + 30px);
  }
</style>
