<template>
  <header class="strikecom-header">
    <div class="strikecom-header-inner" :style="{'position': smallDeviceWidth ? 'fixed' : 'static'}">
      <div class="header-top" :style="{'min-height': $mq === 'lg' ? '124px' : '80px'}">
        <nav class="header-top-inner">
          <nuxt-link exact active-class="nuxt-link-active" class="home-link" to="/" @click="clearFocus">
            <picture>
              <source srcset="@/assets/imag/arm.webp" type="image/webp">
              <img class="header-top-imag" src="@/assets/imag/arm.png" width="50" height="50">
            </picture>
            <p v-if="$mq !== 'xsm'" class="header-top-label">
              ЗАБАСТКОМ
            </p>
          </nuxt-link>
          <p v-if="$mq === 'lg'" class="header-top-description">
            общественный инициативный некоммерческий проект<br>
            по агрегации новостей о забастовках и трудовых конфликтах
          </p>
          <nuxt-link
            v-if="!smallDeviceWidth"
            class="donate-link"
            to="/donate"
            tabindex="-1"
            @click="clearFocus"
          >
            <strikecom-button
              v-show="false"
              class="header-top-donate"
              :is-active="isActive === '/donate'"
            >
              <svg
                width="11"
                height="12"
                viewBox="0 0 11 13"
                xmlns="http://www.w3.org/2000/svg"
                class="header-top-donate-imag"
              >
                <path d="M2.27586 13H3.7931V10.7059H8.34483V9.17647H3.7931V7.64706H7.2069C9.29841 7.64706 11 5.93182 11 3.82353C11 1.71524 9.29841 0 7.2069 0H3.03448C2.83328 0 2.64033 0.0805672 2.49806 0.223977C2.35579 0.367387 2.27586 0.561893 2.27586 0.764706V6.11765H0V7.64706H2.27586V9.17647H0V10.7059H2.27586V13ZM3.7931 1.52941H7.2069C8.46165 1.52941 9.48276 2.55871 9.48276 3.82353C9.48276 5.08835 8.46165 6.11765 7.2069 6.11765H3.7931V1.52941Z" />
              </svg>
              <p class="header-top-donate-text">
                Помощь проекту
              </p>
            </strikecom-button>
          </nuxt-link>
          <div v-if="!smallDeviceWidth && checkUser == true" class="user-box">
            <div class="authorization-user-check-img">
              <font-awesome-icon class="authorization-cancel-icon" :icon="['far','check-circle']" size="2x" />
            </div>
            <div class="authorization-user-check-email">
              <nuxt-link
                to="/personal-account"
                exact
                active-class="nuxt-link-active"
                class="authorization-user-check-link"
                tabindex="0"
                @click="clearFocus"
              >
                <div
                  class="authorization-user-check-text"
                >
                  <p
                    class="authorization-user-check-text-inner"
                  >
                    {{ emailUser }}
                  </p>
                </div>
              </nuxt-link>
            </div>
            <strikecom-button
              class="header-top-log-out"
              @mousedown="logoutUser"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 50 50"
                width="11"
                height="13"
                class="header-top-sign-in-imag"
              >
                <path d="M 25 1 C 15.577 1 6.993 6.5725 3.125 15.1875 C 2.672 16.1945 3.117 17.3605 4.125 17.8125 C 5.132 18.2675 6.32825 17.8205 6.78125 16.8125 C 10.00525 9.6335 17.15 5 25 5 C 36.028 5 45 13.972 45 25 C 45 36.028 36.028 45 25 45 C 17.149 45 10.00525 40.3685 6.78125 33.1875 C 6.32925 32.1795 5.13 31.7375 4.125 32.1875 C 3.117 32.6405 2.672 33.8045 3.125 34.8125 C 6.994 43.4275 15.577 49 25 49 C 38.234 49 49 38.234 49 25 C 49 11.767 38.234 1 25 1 z M 25.96875 16 C 25.45675 16 24.9535 16.20275 24.5625 16.59375 C 23.7815 17.37475 23.7815 18.62525 24.5625 19.40625 L 28.125 23 L 2.96875 23 C 1.86475 23 0.96875 23.896 0.96875 25 C 0.96875 26.104 1.86475 27 2.96875 27 L 28.125 27 L 24.5625 30.59375 C 23.7815 31.37475 23.7815 32.62525 24.5625 33.40625 C 25.3435 34.18725 26.595 34.18725 27.375 33.40625 L 34.375 26.40625 C 35.156 25.62525 35.156 24.37475 34.375 23.59375 L 27.375 16.59375 C 26.985 16.20275 26.48075 16 25.96875 16 z" />
              </svg>
            </strikecom-button>
          </div>
          <strikecom-button
            v-if="!smallDeviceWidth && checkUser == false"
            class="header-top-sign-in"
            @mousedown="signInModalOn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 50 50"
              width="11"
              height="13"
              class="header-top-sign-in-imag"
            >
              <path d="M 25 1 C 15.577 1 6.993 6.5725 3.125 15.1875 C 2.672 16.1945 3.117 17.3605 4.125 17.8125 C 5.132 18.2675 6.32825 17.8205 6.78125 16.8125 C 10.00525 9.6335 17.15 5 25 5 C 36.028 5 45 13.972 45 25 C 45 36.028 36.028 45 25 45 C 17.149 45 10.00525 40.3685 6.78125 33.1875 C 6.32925 32.1795 5.13 31.7375 4.125 32.1875 C 3.117 32.6405 2.672 33.8045 3.125 34.8125 C 6.994 43.4275 15.577 49 25 49 C 38.234 49 49 38.234 49 25 C 49 11.767 38.234 1 25 1 z M 25.96875 16 C 25.45675 16 24.9535 16.20275 24.5625 16.59375 C 23.7815 17.37475 23.7815 18.62525 24.5625 19.40625 L 28.125 23 L 2.96875 23 C 1.86475 23 0.96875 23.896 0.96875 25 C 0.96875 26.104 1.86475 27 2.96875 27 L 28.125 27 L 24.5625 30.59375 C 23.7815 31.37475 23.7815 32.62525 24.5625 33.40625 C 25.3435 34.18725 26.595 34.18725 27.375 33.40625 L 34.375 26.40625 C 35.156 25.62525 35.156 24.37475 34.375 23.59375 L 27.375 16.59375 C 26.985 16.20275 26.48075 16 25.96875 16 z" />
            </svg>
            <p class="header-top-sign-in-text">
              Войти
            </p>
          </strikecom-button>
          <strikecom-button
            v-if="smallDeviceWidth"
            class="header-top-menu"
            :is-opened="menuOpened"
            @mousedown="menuOn"
          >
            <font-awesome-icon
              class="menu-icon"
              icon="bars"
              size="2x"
            />
          </strikecom-button>
        </nav>
      </div>
      <nav v-if="!smallDeviceWidth" class="header-bottom">
        <ul class="header-bottom-inner navbar">
          <li v-for="navItem of navList.filter((navItem) => {return navItem.key !== 'privacyPolicy'})" :key="navItem.key" class="nav-item">
            <nuxt-link
              exact
              active-class="nuxt-link-active"
              class="nav-link"
              :tabindex="navItem.disabled ? '-1' : '0'"
              :event="navItem.disabled ? '' : 'click'"
              :class="{'nuxt-link-disabled': navItem.disabled}"
              :to="navItem.url"
              @click="clearFocus"
            >
              <font-awesome-icon
                v-if="navItem.imag"
                class="nav-icon"
                :icon="navItem.imag"
                size="xs"
              />
              {{ navItem.title }}
            </nuxt-link>
          </li>
        </ul>
      </nav>
      <nav v-if="smallDeviceWidth" :style="{'height': menuHeight}" class="header-menu">
        <ul class="header-menu-inner">
          <li class="header-menu-button">
            <nuxt-link
              v-show="false"
              exact
              active-class="nuxt-link-active"
              class="menu-donate-link"
              to="/donate"
              @click="clearFocus"
            >
              <strikecom-button
                class="header-menu-donate"
                :is-active="isActive === '/donate'"
              >
                <svg
                  width="11"
                  height="12"
                  viewBox="0 0 11 13"
                  xmlns="http://www.w3.org/2000/svg"
                  class="header-menu-donate-imag"
                >
                  <path d="M2.27586 13H3.7931V10.7059H8.34483V9.17647H3.7931V7.64706H7.2069C9.29841 7.64706 11 5.93182 11 3.82353C11 1.71524 9.29841 0 7.2069 0H3.03448C2.83328 0 2.64033 0.0805672 2.49806 0.223977C2.35579 0.367387 2.27586 0.561893 2.27586 0.764706V6.11765H0V7.64706H2.27586V9.17647H0V10.7059H2.27586V13ZM3.7931 1.52941H7.2069C8.46165 1.52941 9.48276 2.55871 9.48276 3.82353C9.48276 5.08835 8.46165 6.11765 7.2069 6.11765H3.7931V1.52941Z" />
                </svg>
                <p class="header-menu-donate-text">
                  Помощь проекту
                </p>
              </strikecom-button>
            </nuxt-link>
          </li>
          <div v-if="checkUser == true" class="user-box">
            <div class="authorization-user-check-img">
              <font-awesome-icon class="authorization-cancel-icon" :icon="['far','check-circle']" size="2x" />
            </div>
            <div class="authorization-user-check-email">
              <nuxt-link
                to="/personal-account"
                exact
                active-class="nuxt-link-active"
                class="authorization-user-check-link"
                tabindex="0"
                @click="clearFocus"
              >
                <div
                  class="authorization-user-check-text"
                >
                  <p
                    class="authorization-user-check-text-inner"
                  >
                    {{ emailUser }}
                  </p>
                </div>
              </nuxt-link>
            </div>
            <strikecom-button
              class="header-top-log-out"
              @mousedown="logoutUser"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 50 50"
                width="11"
                height="13"
                class="header-top-sign-in-imag"
              >
                <path d="M 25 1 C 15.577 1 6.993 6.5725 3.125 15.1875 C 2.672 16.1945 3.117 17.3605 4.125 17.8125 C 5.132 18.2675 6.32825 17.8205 6.78125 16.8125 C 10.00525 9.6335 17.15 5 25 5 C 36.028 5 45 13.972 45 25 C 45 36.028 36.028 45 25 45 C 17.149 45 10.00525 40.3685 6.78125 33.1875 C 6.32925 32.1795 5.13 31.7375 4.125 32.1875 C 3.117 32.6405 2.672 33.8045 3.125 34.8125 C 6.994 43.4275 15.577 49 25 49 C 38.234 49 49 38.234 49 25 C 49 11.767 38.234 1 25 1 z M 25.96875 16 C 25.45675 16 24.9535 16.20275 24.5625 16.59375 C 23.7815 17.37475 23.7815 18.62525 24.5625 19.40625 L 28.125 23 L 2.96875 23 C 1.86475 23 0.96875 23.896 0.96875 25 C 0.96875 26.104 1.86475 27 2.96875 27 L 28.125 27 L 24.5625 30.59375 C 23.7815 31.37475 23.7815 32.62525 24.5625 33.40625 C 25.3435 34.18725 26.595 34.18725 27.375 33.40625 L 34.375 26.40625 C 35.156 25.62525 35.156 24.37475 34.375 23.59375 L 27.375 16.59375 C 26.985 16.20275 26.48075 16 25.96875 16 z" />
              </svg>
            </strikecom-button>
          </div>
          <li v-if="checkUser== false" class="header-menu-button">
            <strikecom-button
              class="header-menu-sign-in"
              @mousedown="signInModalOn()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 50 50"
                width="11"
                height="13"
                class="header-menu-sign-in-imag"
              >
                <path d="M 25 1 C 15.577 1 6.993 6.5725 3.125 15.1875 C 2.672 16.1945 3.117 17.3605 4.125 17.8125 C 5.132 18.2675 6.32825 17.8205 6.78125 16.8125 C 10.00525 9.6335 17.15 5 25 5 C 36.028 5 45 13.972 45 25 C 45 36.028 36.028 45 25 45 C 17.149 45 10.00525 40.3685 6.78125 33.1875 C 6.32925 32.1795 5.13 31.7375 4.125 32.1875 C 3.117 32.6405 2.672 33.8045 3.125 34.8125 C 6.994 43.4275 15.577 49 25 49 C 38.234 49 49 38.234 49 25 C 49 11.767 38.234 1 25 1 z M 25.96875 16 C 25.45675 16 24.9535 16.20275 24.5625 16.59375 C 23.7815 17.37475 23.7815 18.62525 24.5625 19.40625 L 28.125 23 L 2.96875 23 C 1.86475 23 0.96875 23.896 0.96875 25 C 0.96875 26.104 1.86475 27 2.96875 27 L 28.125 27 L 24.5625 30.59375 C 23.7815 31.37475 23.7815 32.62525 24.5625 33.40625 C 25.3435 34.18725 26.595 34.18725 27.375 33.40625 L 34.375 26.40625 C 35.156 25.62525 35.156 24.37475 34.375 23.59375 L 27.375 16.59375 C 26.985 16.20275 26.48075 16 25.96875 16 z" />
              </svg>
              <p class="header-menu-sign-in-text">
                Войти
              </p>
            </strikecom-button>
          </li>
          <li v-for="navItem of navList" :key="navItem.key" class="nav-item">
            <nuxt-link
              exact
              active-class="nuxt-link-active"
              class="nav-link"
              :to="navItem.url"
              :tabindex="navItem.disabled ? '-1' : '0'"
              :event="navItem.disabled ? '' : 'click'"
              :class="{'nuxt-link-disabled': navItem.disabled}"
              @click="clearFocus"
            >
              <font-awesome-icon
                v-if="navItem.imag"
                class="nav-icon"
                :icon="navItem.imag"
                size="xs"
              />
              {{ navItem.title }}
            </nuxt-link>
          </li>
        </ul>
      </nav>
      <div v-if="smallDeviceWidth" :style="{'height': footerMenuHeight}" class="header-menu-footer" />
    </div>
  </header>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import { NavItem } from '@/components/api';

@Component
export default class StrikecomHeader extends Vue {
        private navList: NavItem[] = [
          {
            key: 'search',
            title: 'Поиск',
            url: '/search',
            imag: 'search',
          },
          {
            key: 'news',
            title: 'Новости',
            url: '/news',
          },
          {
            key: 'map',
            title: 'Карта событий',
            url: '/map',
          },
          {
            key: 'conflicts',
            title: 'Трудовые конфликты',
            url: '/conflicts',
          },
          {
            key: 'statistics',
            title: 'Отчеты',
            url: '/statistics',
          },
          {
            key: 'offer',
            title: 'Предложить публикацию',
            url: '/offer',
          },
          {
            key: 'directory',
            title: 'Справочник',
            url: '/directory',
          },
          {
            key: 'share-api',
            title: 'API',
            url: '/share-api',
          },
          {
            key: 'about',
            title: 'О проекте',
            url: '/about',
          },
          {
            key: 'privacyPolicy',
            title: 'Политика конфиденциальности',
            url: '/privacyPolicy',
          },
        ];

        private get smallDeviceWidth(): boolean {
          return (this.$mq === 'sm') || (this.$mq === 'msm') || (this.$mq === 'xsm');
        }

        private get menuHeight(): string {
          const calcHeight: number = document.documentElement.clientHeight;
          return this.menuOpened ? (`${calcHeight.toString()}px`) : '0px';
        }

        private get footerMenuHeight(): string {
          const calcHeight: number = document.documentElement.clientHeight;
          return this.menuOpened ? (`${(calcHeight / 8).toString()}px`) : '0px';
        }

        // eslint-disable-next-line class-methods-use-this
        private get isActive(): string {
          return this.$route.fullPath;
        }

        private get menuOpened(): boolean {
          return this.$store.state.menuOpened;
        }

        private get checkUser(): boolean {
          return this.$store.getters.checkUser;
        }

        private async logoutUser(): Promise<void> {
          if (this.$route.path === '/personal-account') {
            this.$router.push('/');
          }
          await this.$store.dispatch('logoutUser');
        }

        private signInModalOn(): void {
          this.clearFocus();
          this.$store.commit('SIGN_IN_MODAL_ON', true);
        }

        private get emailUser(): string {
          return this.$store.state.email ? this.$store.state.email : '';
        }

        private menuOn(): void {
          if (document.activeElement) {
            (document.activeElement as HTMLElement).blur();
          }
          this.$store.commit('SET_MENU', !this.menuOpened);
        }

        // eslint-disable-next-line class-methods-use-this
        private clearFocus(): void {
          this.$store.commit('SET_MENU', false);
          if (document.activeElement) {
            (document.activeElement as HTMLElement).blur();
          }
        }
}
</script>

<style lang="less" scoped>
    .strikecom-header {
        min-height: 80px;

        .strikecom-header-inner{
            display: flex;
            width: 100%;
            flex-direction: column;
            box-shadow: 0px 2px 10px @c-middle-shadow-color;
            background: @c-background-light;
            z-index: 920;
            top: 0px;
        }

        .header-top {
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            justify-content: center;
            border-bottom: 1px solid @c-smoke;
            min-height: 124px;
            align-items: center;
            padding: 0px 20px 0px 20px;

            .header-top-inner {
                max-width: 1152px;
                flex-grow: 1;
                display: flex;
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-size: 14px;
                font-style: normal;
                flex-direction: row;
                align-items: center;

                .user-box {
                    margin-right: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .header-top-log-out {
                        padding-right: 15px;
                        padding-left: 15px;
                        min-width: 27px;
                        min-height: 37px;
                        cursor: pointer;
                        margin-left: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .header-top-sign-in-text {
                            margin: 0px 0px 0px 7px;
                            height: 15px;
                        }
                    }

                    .authorization-user-check-img {
                        color: @aut-icon-color-hover;
                        display: flex;
                        margin-left: 20px;

                    }

                    .authorization-user-check-email{
                        margin-left: 5px;
                        margin-right: 5px;

                        .authorization-user-check-link {
                            outline: none;
                            text-decoration: none;
                            margin: 0px 0px 0px 0px;
                            padding: 0px;

                            .authorization-user-check-text {
                                margin: 0px 0px 0px 0px;
                                height: 18px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 159px;

                                .authorization-user-check-text-inner {
                                    outline: none;
                                    text-decoration: none;
                                    margin: 0px 0px 0px 0px;
                                    max-width: 159px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    color: @c-primary;
                                    transition: ease-in-out 0.3s;
                                }
                            }

                            &:hover .authorization-user-check-text-inner {
                                color: @c-active;
                            }

                            &:focus .authorization-user-check-text-inner {
                                color: @c-active;
                                transform: scale(0.97);
                            }

                            &:active .authorization-user-check-text-inner {
                                transform: scale(0.95);
                            }
                        }
                    }
                }

                .home-link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-decoration: none;
                    outline: none;
                    color: @c-primary;
                    transition: 0.2s ease-in-out;

                    .header-top-imag {
                    }

                    .header-top-label {
                        margin: 0px 0px 0px 8px;
                        font-family: 'Futura New';
                        font-weight: 500;
                        font-size: 24px;
                        font-style: normal;
                    }

                    &:focus {
                        color: @c-active;
                    }

                    &:active {
                        transform: scale(0.95);
                    }
                }

                .header-top-description {
                    margin-left: 36px;
                    min-width: 466px;
                    min-height: 34px;
                }

                .donate-link {
                    outline: none;
                    text-decoration: none;
                    margin-left: auto;
                    padding: 0px;
                    min-width: 162px;
                    min-height: 37px;

                    .header-top-donate {
                        margin: 0px;
                        min-width: 162px;
                        min-height: 37px;
                        padding: 10px 20px;
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .header-top-donate-text {
                            margin: 0px 0px 0px 7px;
                            height: 15px;
                        }
                    }
                }

                .header-top-sign-in {
                    min-width: 97px;
                    min-height: 37px;
                    margin-left: 36px;
                    padding: 10px 20px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .header-top-sign-in-text {
                        margin: 0px 0px 0px 7px;
                        height: 15px;
                    }
                }

                .header-top-menu {
                    z-index: 610;
                    border: 0;
                    box-sizing: border-box;
                    min-width: 50px;
                    min-height: 50px;
                    margin-right: 36px;
                    margin-left: auto;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .header-bottom {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            min-height: 58px;
            align-items: center;
            padding: 0px 20px 0px 20px;

            .header-bottom-inner {
                display: flex;
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-size: 16px;
                font-style: normal;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                padding: 22px 0px 5px 0px;

                .nav-item {
                    margin: 0px 0px 15px 0px;

                    .nav-link {
                        text-decoration: none;
                        outline: none;
                        color: @c-primary;
                        margin: 0px 43px 0px 0px;
                        transition: ease-in-out 0.3s;
                        text-align: center;

                        .nav-icon {
                            margin-right: 5px;
                        }

                        &:hover {
                            color: @c-active;
                        }

                        &:focus {
                            color: @c-active;
                            transform: scale(0.97);
                        }

                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }

                :last-child .nav-link {
                    margin: 0px 0px 0px 0px;
                }
            }
        }

        .header-menu {
            display: flex;
            flex-direction: column;
            overflow: scroll;
            align-items: center;
            padding: 0px 20px 0px 20px;
            transition: 1s ease-in-out;

            .header-menu-inner {
                display: flex;
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-size: 16px;
                font-style: normal;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 22px 0px 5px 0px;

                .user-box {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    margin-right: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .header-top-log-out {
                        padding-right: 15px;
                        padding-left: 15px;
                        min-width: 27px;
                        min-height: 37px;
                        cursor: pointer;
                        margin-left: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .header-top-sign-in-text {
                            margin: 0px 0px 0px 7px;
                            height: 15px;
                        }
                    }

                    .authorization-user-check-img {
                        color: @aut-icon-color-hover;
                        display: flex;
                        margin-left: 20px;

                    }

                    .authorization-user-check-email{
                        margin-left: 5px;
                        margin-right: 5px;

                        .authorization-user-check-link {
                            outline: none;
                            text-decoration: none;
                            margin: 0px 0px 0px 0px;
                            padding: 0px;

                            .authorization-user-check-text {
                                margin: 0px 0px 0px 0px;
                                height: 18px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 159px;

                                .authorization-user-check-text-inner {
                                    outline: none;
                                    text-decoration: none;
                                    margin: 0px 0px 0px 0px;
                                    max-width: 159px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    color: @c-primary;
                                    transition: ease-in-out 0.3s;
                                }
                            }

                            &:hover .authorization-user-check-text-inner {
                                color: @c-active;
                            }

                            &:focus .authorization-user-check-text-inner {
                                color: @c-active;
                                transform: scale(0.97);
                            }

                            &:active .authorization-user-check-text-inner {
                                transform: scale(0.95);
                            }
                        }
                    }
                }

                .header-menu-button{
                    margin: 5px 0px 5px 0px;
                    padding: 0px;
                }

                .menu-donate-link {
                    outline: none;
                    text-decoration: none;
                    margin: 0px 0px 0px 0px;
                    padding: 0px;
                    min-width: 182px;
                    min-height: 42px;

                    .header-menu-donate {
                        margin: 0px;
                        min-width: 182px;
                        min-height: 42px;
                        padding: 10px 20px;
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .header-menu-donate-text {
                            margin: 0px 0px 0px 7px;
                            height: 18px;
                        }
                    }
                }

                .header-menu-sign-in {
                    min-width: 108px;
                    min-height: 42px;
                    margin: 10px 0px 20px 0px;
                    padding: 10px 20px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .header-menu-sign-in-text {
                        margin: 0px 0px 0px 7px;
                        height: 18px;
                    }
                }

                .nav-item {
                    margin: 0px 0px 15px 0px;

                    .nav-link {
                        text-decoration: none;
                        outline: none;
                        color: @c-primary;
                        margin: 0px 0px 0px 0px;
                        transition: ease-in-out 0.3s;

                        .nav-icon {
                            margin-right: 5px;
                        }

                        &:hover {
                            color: @c-active;
                        }

                        &:focus {
                            color: @c-active;
                            transform: scale(0.97);
                        }

                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }
            }
        }

        .header-menu-footer {
            background: @c-background-light;
        }

        .nuxt-link-active {
            color: @c-active !important;
        }

        .nuxt-link-disabled {
            color: @c-grey !important;
            position: relative;

            &::after {
                content: "скоро";
                position: absolute;
                top: -8px;
                right: -10px;
                font-size: 12px;
                font-weight: 500;
                color: @c-active;
            }
        }
    }
</style>
