<template>
  <div class="sidebar-container" :style="{'padding': sidebarPadding, 'max-width': sidebarWidth}">
    <div v-if="!onlyNews" class="sidebar-events">
      <p class="sidebar-events-title">
        Самые просматриваемые<br>
        за неделю
      </p>
      <div class="sidebar-events-list">
        <div v-for="eventItem of eventItemArr" :key="eventItem.id" class="view-block">
          <event-card :i-event="eventItem" type="events" card-size="small" />
        </div>
      </div>
    </div>
    <div v-if="!onlyEvents" class="sidebar-news">
      <p class="sidebar-news-title">
        Последние новости
      </p>
      <div class="sidebar-news-list">
        <div v-for="newsItem of newsItemArr" :key="newsItem.id" class="view-block">
          <event-card :i-event="newsItem" type="news" card-size="small" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import qs from 'qs';
import { EventFilters, EventRequest, IEvent } from '@/components/api/index';
import EventCard from '@/components/EventCard.vue';
import StrikecomButton from '@/components/StrikecomButton.vue';

@Component({
  components: { EventCard, StrikecomButton },
})
export default class StrikecomSidebar extends Vue {
        @Prop(Boolean)
        private readonly onlyNews!: boolean;

        @Prop(Boolean)
        private readonly onlyEvents!: boolean;

        private eventItemArr: IEvent[] = [];

        private newsItemArr: IEvent[] = [];

        private type: string = 'events';

        private currentKey: string = 'all';

        private perPage: number = 3;

        private pagesLoaded: number = 1;

        private language: string = 'Ru';

        private creationDate: Date = new Date();

        private filters: EventFilters = {
        };

        private get sidebarPadding(): string {
          return (this.$mq === 'lg') ? '20px' : '20px 0px 20px 20px';
        }

        private get sidebarWidth(): string {
          return (this.$mq === 'lg') ? '300px' : '280px';
        }

        // eslint-disable-next-line class-methods-use-this
        private dateToTimestamp(date: Date): number {
          return date ? date.getTime() : 0;
        }

        private async itemRequest(eventRequest: EventRequest, type: string = this.type, language: string = this.language): Promise<IEvent[]> {
          const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
          return (await this.$axios.$get(url, {
            params: eventRequest,
            paramsSerializer: params => {
              return qs.stringify(params, { allowDots: true });
            },
          })).data as IEvent[];
        }

        // eslint-disable-next-line class-methods-use-this
        private clearFocus(): void {
          if (document.activeElement) {
            (document.activeElement as HTMLElement).blur();
          }
        }

        private async fetch(): Promise<void> {
          this.pagesLoaded = 1;
          const eventRequest: EventRequest = {
            page: '1',
            perPage: this.perPage.toString(),
            filters: {
              dateFrom: Math.round(this.dateToTimestamp(this.creationDate) / 1000) - (7 * 24 * 60 * 60),
              published: true,
            },
            sort: {
              field: 'views',
              order: 'desc',
            },
          };
          const newsRequest: EventRequest = {
            page: '1',
            perPage: this.perPage.toString(),
            filters: {
              dateFrom: Math.round(this.dateToTimestamp(this.creationDate) / 1000) - (7 * 24 * 60 * 60),
              published: true,
            },
            sort: {
              field: 'createdAt',
              order: 'desc',
            },
          };
          const newItems: IEvent[] = await this.itemRequest(eventRequest, 'events');
          this.eventItemArr = [];
          this.eventItemArr.push(...newItems);
          const newNews: IEvent[] = await this.itemRequest(newsRequest, 'news');
          this.newsItemArr = [];
          this.newsItemArr.push(...newNews);
        }
}
</script>

<style lang="less" scoped>
    .sidebar-container {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 0px;

        .sidebar-events {
            max-width: 100%;
            margin: 30px 0px 30px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;

            .sidebar-events-title {
                font-family: 'San Francisco Pro';
                font-weight: 500;
                font-style: normal;
                font-size: 16px;
                text-align: center;
                margin: 10px 0px 20px 0px;
            }
        }

        .sidebar-news {
            max-width: 100%;
            margin: 20px 0px 30px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;

            .sidebar-news-title {
                font-family: 'San Francisco Pro';
                font-weight: 500;
                font-style: normal;
                font-size: 16px;
                text-align: center;
                margin: 10px 0px 20px 0px;
            }
        }

        .view-block {
            margin: 0px 0px 30px 0px;
        }
    }
</style>
