<template>
  <div :id="$vnode.key" class="strikecom-map-chart" :style="{'height': `${chartHeight}px`}" />
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Prop, Vue, Watch } from 'nuxt-property-decorator';
import { CountryInterface, RegionInterface } from '@/components/api';
import { regionMap } from '@/components/maps';

@Component({
  components: { },
})
export default class StrikecomMapChart extends Vue {
    @Prop({ default: () => [] })
    private readonly data!: { [key: string]: number };

    @Prop({ default: () => 'Россия' })
    private readonly country!: string;

    private chartHeight: number = 1000;

    @Watch('data')
    private async chartLoading(): Promise<void> {
      if (this.data) {
        const country: CountryInterface | undefined = regionMap.find(item => item.russianName === this.country);
        if (!country?.countryId) return;
        const geo = {
          country_code: country.countryId,
          country_name: country?.countryName,
        };
        const regions: RegionInterface[] = country?.regions ?? [];
        const regionByRussianName = new Map(
          regions.map(item => {
            return [item.regionRussianName, item];
          }),
        );

        const { am4core, am4themesAnimated, am4maps, am4geodataCountries2 } = this.$am4core();
        // calculate which map to be used
        // let title = '';
        // eslint-disable-next-line prefer-destructuring
        const currentMap = am4geodataCountries2[geo.country_code].maps[0];

        // add country title
        // if (am4geodataCountries2[geo.country_code].country) {
        //  title = am4geodataCountries2[geo.country_code].country;
        // }
        am4core.useTheme(am4themesAnimated);
        const chart = am4core.create(this.$vnode.key, am4maps.MapChart);

        // Create map polygon series
        const polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
        // Set map definition
        chart.geodataSource.url = `https://www.amcharts.com/lib/4/geodata/json/${currentMap}.json`;
        chart.geodataSource.events.on('parseended', () => {
          const data = [];
          for (let i = 0; i < [...regionByRussianName.keys()].length; i++) {
            const regionName: string = [...regionByRussianName.keys()][i];
            const regionValue: number = this.data[regionName] ?? 0;
            const regionId: string | undefined = regionByRussianName.get(regionName)?.regionId;
            if (regionId) {
              data.push({
                id: regionId,
                name: regionName,
                value: regionValue,
              });
            }
          }
          polygonSeries.data = data;
        });

        // Set projection
        chart.projection = new am4maps.projections.Mercator();

        // Set min/max fill color for each area
        polygonSeries.heatRules.push({
          property: 'fill',
          target: polygonSeries.mapPolygons.template,
          min: chart.colors.getIndex(1).brighten(1),
          max: chart.colors.getIndex(1).brighten(-0.3),
        });

        // Make map load polygon data (state shapes and names) from GeoJSON
        polygonSeries.useGeodata = true;

        // Set up heat legend
        const heatLegend = chart.createChild(am4maps.HeatLegend);
        heatLegend.series = polygonSeries;
        heatLegend.align = 'right';
        heatLegend.width = am4core.percent(25);
        heatLegend.marginRight = am4core.percent(4);
        heatLegend.minValue = 0;
        heatLegend.maxValue = 40000000;
        heatLegend.valign = 'bottom';

        // Set up custom heat map legend labels using axis ranges
        const minRange = heatLegend.valueAxis.axisRanges.create();
        minRange.value = heatLegend.minValue;
        minRange.label.text = 'Little';
        const maxRange = heatLegend.valueAxis.axisRanges.create();
        maxRange.value = heatLegend.maxValue;
        maxRange.label.text = 'A lot!';

        // Blank out internal heat legend value axis labels
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        heatLegend.valueAxis.renderer.labels.template.adapter.add('text', (labelText: string) => {
          return '';
        });

        // Configure series tooltip
        const polygonTemplate = polygonSeries.mapPolygons.template;
        polygonTemplate.tooltipText = '{name}: {value}';
        polygonTemplate.nonScalingStroke = true;
        polygonTemplate.strokeWidth = 0.5;

        // Create hover state and set alternative fill color
        const hs = polygonTemplate.states.create('hover');
        hs.properties.fill = chart.colors.getIndex(1).brighten(-0.5);
      }
    }

    private mounted(): void {
      this.chartLoading();
    }
}
</script>

<style lang="less" scoped>
    .strikecom-map-chart {
    }
</style>
