<template>
  <div
    class="strikecom-loader-block"
    :style="{
      'background': ($mq === 'lg' || $mq === 'md') ? background : backgroundMobile,
    }"
    @wheel.prevent
    @touchmove.prevent
    @scroll.prevent
  >
    <div class="spinner-container">
      <div
        class="rotating-spinner"
        :style="{
          'border-color': rotate,
        }"
      />
      <div
        class="pulse-spinner"
        :style="{
          'border-color': pulse,
        }"
      />
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import colorVariables from '@/components/maps/color';

@Component({})
export default class StrikecomLoader extends Vue {
    @Prop({ default: () => 'c-background-transparent' })
    private readonly backgroundColor!: string;

    @Prop({ default: () => 'c-background-transparent-mobile' })
    private readonly backgroundMobileColor!: string;

    @Prop({ default: () => 'c-red' })
    private readonly rotateColor!: string;

    @Prop({ default: () => 'c-primary' })
    private readonly pulseColor!: string;

    private get background(): string {
      return colorVariables[this.backgroundColor];
    }

    private get backgroundMobile(): string {
      return colorVariables[this.backgroundMobileColor];
    }

    private get rotate(): string {
      return colorVariables[this.rotateColor];
    }

    private get pulse(): string {
      return colorVariables[this.pulseColor];
    }
}
</script>

<style lang="less" scoped>
    .strikecom-loader-block {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background: @c-background-transparent;
        z-index: 999;
        width: 100%;
        height: 100%;

        .spinner-container {
            filter: drop-shadow(3px 6px 3px @c-middle-shadow-color);

            .rotating-spinner {
                position: absolute;
                width: 100px;
                height: 100px;
                transform: translate(-50%, -50%);
                border: 0 solid @c-red;

                &:after {
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: '';
                    border-radius: 50%;
                    border: 4px solid;
                    border-color: @c-red;
                    border-right-color: transparent;
                    border-left-color: transparent;
                    animation: rotateAnimation 1s infinite cubic-bezier(0.90, 0, 0.15, 1);
                }

            }

            .pulse-spinner {
                position: absolute;
                width: 100px;
                height: 100px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 0px solid @c-primary;

                &:after {
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: '';
                    border-radius: 50%;
                    border: 2px solid;
                    border-color: inherit;
                    animation: pulseAnimation 1s infinite cubic-bezier(1, -2.3, 1, 2.6) alternate;
                }
            }
        }
    }

    @keyframes rotateAnimation {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes pulseAnimation {
        to {
            transform: scale(0);
        }
    }

</style>
