<template>
  <div
    class="strikecom-overlay"
    @wheel.prevent
    @touchmove.prevent
    @scroll.prevent
  />
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Vue, Component } from 'nuxt-property-decorator';

@Component({})
export default class StrikecomOverlay extends Vue {
}
</script>

<style lang="less" scoped>
    .strikecom-overlay {
        position: fixed;
        background: @c-background;
        z-index: 1000;
        width: 300%;
        height: 300%;
    }
</style>
