<template>
  <div class="strikecom-stacked-column-chart">
    <div :id="$vnode.key" class="stacked-column-chart-content" :style="{'height': `${chartHeight}px`}" />
    <ul v-if="!legendHidden" class="stacked-column-chart-legend" :style="{'font-size': `${descriptionFontSize}px`}">
      <li v-for="(item, index) in Object.values(this.data).map((item) => item.name)" :key="index" class="stacked-column-chart-legend-item">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Prop, Vue, Watch } from 'nuxt-property-decorator';
import { ResponsiveDesignConfig, StackedColumnChartItem } from '@/components/api';
import { XYChart } from '@amcharts/amcharts4/charts';

@Component({
  components: { },
})
export default class StrikecomStackedColumnChart extends Vue {
    @Prop({ default: () => [] })
    private readonly data!: StackedColumnChartItem[];

    @Prop({ default: () => false })
    private readonly legendHidden!: Boolean;

    private get chartHeight(): number {
      switch (this.$mq) {
        case 'lg':
          return 700;
        case 'md':
          return 600;
        case 'sm':
        case 'msm':
          return 500;
        default:
          return 500;
      }
    }

    private get descriptionFontSize(): number {
      switch (this.$mq) {
        case 'lg':
        case 'md':
        case 'sm':
          return 14;
        case 'msm':
          return 12;
        default:
          return 12;
      }
    }

    @Watch('data')
    private async chartLoading(): Promise<void> {
      if (this.data) {
        const { am4core, am4themesAnimated, am4charts } = this.$am4core();
        const chart: XYChart = am4core.create(this.$vnode.key, am4charts.XYChart);
        am4core.useTheme(am4themesAnimated);
        chart.data = this.data;

        // Create axes
        const categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = 'name';
        categoryAxis.renderer.grid.template.location = 0;


        const valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.inside = true;
        valueAxis.renderer.labels.template.disabled = true;
        valueAxis.min = 0;
        if (this.data[0]) {
          Object.keys(this.data[0]).forEach((item) => {
            if (item !== 'name') {
              this.createSeries(chart, item, item);
            }
          });
        }

        // Legend
        chart.legend = new am4charts.Legend();
        chart.legend.scrollable = true;
        categoryAxis.fontWeight = 600;
        categoryAxis.renderer.minGridDistance = 3;
        const label = categoryAxis.renderer.labels.template;
        label.wrap = true;
        if (chart.tooltip) {
          chart.tooltip.label.fontSize = 5;
        }
        const responsiveDesignConfig: ResponsiveDesignConfig = this.getResponsiveDesignConfig();
        const { contentWidth, categoryAxisFontSize, categoryAxisTruncate, legendMaxHeight, legendFontSize } = responsiveDesignConfig;
        categoryAxis.fontSize = categoryAxisFontSize;
        label.truncate = categoryAxisTruncate;
        chart.legend.maxHeight = legendMaxHeight;
        chart.legend.fontSize = legendFontSize;
        label.maxWidth = Math.trunc(contentWidth / this.data.length) + 12;
      }
    }

    private createSeries(chart: XYChart, field: string, fieldName: string) {
      const { am4core, am4charts } = this.$am4core();
      const series = chart.series.push(new am4charts.ColumnSeries());
      series.fieldName = fieldName;
      series.name = fieldName;
      series.dataFields.valueY = field;
      series.dataFields.categoryX = 'name';
      series.sequencedInterpolation = true;

      // Make it stacked
      series.stacked = true;

      // Configure columns
      series.columns.template.width = am4core.percent(60);
      series.columns.template.tooltipText = '[bold]{fieldName}[/]\n[font-size:14px]{categoryX}: {valueY}';

      // Add label
      const labelBullet = series.bullets.push(new am4charts.LabelBullet());
      labelBullet.label.text = '{valueY}';
      labelBullet.locationY = 0.5;
      labelBullet.label.hideOversized = true;
      labelBullet.label.fontSize = 10;

      return series;
    }

    private getResponsiveDesignConfig(): ResponsiveDesignConfig {
      const responsiveDesignConfig: ResponsiveDesignConfig = {
        contentWidth: 970,
        categoryAxisTruncate: true,
        categoryAxisFontSize: 8,
        legendFontSize: 10,
        labelBulletFontSize: 10,
        legendMaxHeight: 200,
      };

      switch (this.$mq) {
        case 'lg':
          responsiveDesignConfig.categoryAxisFontSize = 8;
          responsiveDesignConfig.contentWidth = 970;
          responsiveDesignConfig.categoryAxisTruncate = true;
          responsiveDesignConfig.legendFontSize = 10;
          responsiveDesignConfig.labelBulletFontSize = 10;
          responsiveDesignConfig.legendMaxHeight = 200;
          break;
        case 'md':
          responsiveDesignConfig.categoryAxisFontSize = 8;
          responsiveDesignConfig.categoryAxisTruncate = true;
          responsiveDesignConfig.contentWidth = 850 - 80;
          responsiveDesignConfig.legendFontSize = 10;
          responsiveDesignConfig.labelBulletFontSize = 10;
          responsiveDesignConfig.legendMaxHeight = 200;
          break;
        case 'sm':
          responsiveDesignConfig.categoryAxisFontSize = 8;
          responsiveDesignConfig.categoryAxisTruncate = true;
          responsiveDesignConfig.contentWidth = 540 - 50;
          responsiveDesignConfig.legendFontSize = 10;
          responsiveDesignConfig.labelBulletFontSize = 10;
          responsiveDesignConfig.legendMaxHeight = 200;
          break;
        case 'msm':
          responsiveDesignConfig.categoryAxisFontSize = 8;
          responsiveDesignConfig.categoryAxisTruncate = true;
          responsiveDesignConfig.contentWidth = 420;
          responsiveDesignConfig.legendFontSize = 10;
          responsiveDesignConfig.labelBulletFontSize = 10;
          responsiveDesignConfig.legendMaxHeight = 200;
          break;
        default:
          responsiveDesignConfig.categoryAxisFontSize = 7;
          responsiveDesignConfig.categoryAxisTruncate = true;
          responsiveDesignConfig.contentWidth = 300;
          responsiveDesignConfig.legendFontSize = 10;
          responsiveDesignConfig.labelBulletFontSize = 10;
          responsiveDesignConfig.legendMaxHeight = 200;
          break;
      }

      return responsiveDesignConfig;
    }


    private mounted(): void {
      this.chartLoading();
    }
}
</script>

<style lang="less" scoped>
    .strikecom-stacked-column-chart {
        width: 100%;
    };

    .stacked-column-chart-content {
        width: 100%;
        overflow: auto;

        &-inner {
            min-width: 500px;
        }
    }

    .stacked-column-chart-legend {
        width: 100%;
        font-size: 14px;
        font-family: 'San Francisco Pro';
        font-weight: 400;
        overflow: hidden;
        margin: 10px;
        transition: 1s ease-in-out;

        &-item {
            padding-bottom: 5px;
        }
    }
</style>
