<template>
  <footer class="strikecom-footer">
    <div :style="{'flex-direction': footerMedia}" class="footer-all">
      <nav v-if="($mq !== 'xsm') && ($mq !== 'msm')" :style="{'justify-content': footerSocialMediaNav, 'flex-direction': footerMedia, 'min-width': footerMinWidth}" class="footer-nav">
        <ul :style="{'align-items': footerNavAlignItems}" class="footer-nav-first">
          <li v-for="navItem of navListFirst" :key="navItem.key" class="nav-item">
            <nuxt-link
              exact
              active-class="nuxt-link-active"
              class="nav-link"
              :to="navItem.url"
              :tabindex="navItem.disabled ? '-1' : '0'"
              :event="navItem.disabled ? '' : 'click'"
              :class="{'nuxt-link-disabled': navItem.disabled}"
              @click="clearFocus"
            >
              {{ navItem.title }}
            </nuxt-link>
          </li>
        </ul>
        <ul :style="{'margin-left': footerNavTwoMargin, 'align-items': footerNavAlignItems}" class="footer-nav-two">
          <li v-for="navItem of navListTwo" :key="navItem.key" class="nav-item">
            <nuxt-link
              exact
              active-class="nuxt-link-active"
              class="nav-link"
              :to="navItem.url"
              :tabindex="navItem.disabled ? '-1' : '0'"
              :event="navItem.disabled ? '' : 'click'"
              :class="{'nuxt-link-disabled': navItem.disabled}"
              @click="clearFocus"
            >
              {{ navItem.title }}
            </nuxt-link>
          </li>
        </ul>
      </nav>
      <div
        :style="{'align-items': footerSocialMediaAlignItems, 'margin-top': footerSocialMediaMarginTop,
                 'margin-left': footerSocialMediaMarginLeft, 'min-width': footerMinWidthMobile}"
        class="mobile-application"
      >
        <p class="mobile-application-title">
          Мобильные приложения
        </p>
        <a href="https://apps.apple.com/ru/app/%D0%B7%D0%B0%D0%B1%D0%B0%D1%81%D1%82%D0%BA%D0%BE%D0%BC/id1501541179">
          <picture>
            <source srcset="../assets/imag/app-store.webp" type="image/webp">
            <img
              class="footer-appstore"
              width="145px"
              src="../assets/imag/app-store.png"
              alt="AppStore"
              @click="clearFocus"
            >
          </picture>
        </a>
        <a href="https://play.google.com/store/apps/details?id=org.nrstudio.strikecom&hl=ru">
          <picture>
            <source srcset="@/assets/imag/google-play-badge.webp" type="image/webp">
            <img
              class="footer-googleplay"
              width="145px"
              src="@/assets/imag/google-play-badge.png"
              alt="GooglePlay"
              @click="clearFocus"
            >
          </picture>
        </a>
      </div>
      <div
        class="footer-right"
        :style="{'min-width': footerMinWidthRight}"
      >
        <div class="social-network">
          <p
            :style="{'justify-content': footerSocialNetworkJustifyContent, 'margin-top': footerSocialNetworkMarginTop}"
            class="social-network-title"
          >
            Мы в соц.сетях
          </p>
          <div class="social-network-info">
            <div v-for="network of networkList" :key="network.key" class="social-network-info-boxes">
              <a :href="network.url" @click="clearFocus">
                <picture>
                  <source :srcset="network.img.replace(/.png/ig, '.webp')" type="image/webp">
                  <img :width="network.width" :src="network.img" :alt="network.url">
                </picture>
              </a>
              <p :style="{display: socialNetworkInfoMembersVisible }" class="social-network-info-members">
                {{ network.member }}
              </p>
            </div>
          </div>
          <nuxt-link
            v-show="false"
            tabindex="-1"
            class="footer-donate-box"
            to="/donate"
            @click="clearFocus"
          >
            <strikecom-button
              class="footer-donate-button"
              :is-active="isActive === '/donate'"
            >
              <svg
                width="11"
                height="12"
                viewBox="0 0 11 13"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.27586 13H3.7931V10.7059H8.34483V9.17647H3.7931V7.64706H7.2069C9.29841 7.64706 11 5.93182 11 3.82353C11 1.71524 9.29841 0 7.2069 0H3.03448C2.83328 0 2.64033 0.0805672 2.49806 0.223977C2.35579 0.367387 2.27586 0.561893 2.27586 0.764706V6.11765H0V7.64706H2.27586V9.17647H0V10.7059H2.27586V13ZM3.7931 1.52941H7.2069C8.46165 1.52941 9.48276 2.55871 9.48276 3.82353C9.48276 5.08835 8.46165 6.11765 7.2069 6.11765H3.7931V1.52941Z"
                />
              </svg>
              <p class="header-top-donate-text">
                Помощь проекту
              </p>
            </strikecom-button>
          </nuxt-link>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import { NavItem, NavNetwork } from '@/components/api';
import jsonp from 'jsonp';
import StrikecomButton from '@/components/StrikecomButton.vue';
import { VK_ACCESS_TOKEN, VK_API_VERSION } from '@/components/enums';

@Component({
  components: { StrikecomButton },
})
export default class StrikecomFooter extends Vue {
    private menuOpened = false;

    private navList: NavItem[] = [
      {
        key: 'index',
        title: 'Главная',
        url: '/',
      },
      {
        key: 'search',
        title: 'Поиск',
        url: '/search',
        imag: 'search',
      },
      {
        key: 'news',
        title: 'Новости',
        url: '/news',
      },
      {
        key: 'map',
        title: 'Карта событий',
        url: '/map',
      },
      {
        key: 'conflicts',
        title: 'Трудовые конфликты',
        url: '/conflicts',
      },
      {
        key: 'offer',
        title: 'Предложить публикацию',
        url: '/offer',
      },
      {
        key: 'directory',
        title: 'Справочник',
        url: '/directory',
      },
      {
        key: 'about',
        title: 'О проекте',
        url: '/about',
      },
      {
        key: 'share-api',
        title: 'API',
        url: '/share-api',
      },
      {
        key: 'privacyPolicy',
        title: 'Политика конфиденциальности',
        url: '/privacyPolicy',
      },
    ];

    private networkList: NavNetwork[] = [
      {
        key: 'vk',
        img: '/imag/vk.png',
        width: 30,
        member: 6410,
        url: 'https://vk.com/zabastcom',
      },
      {
        key: 'od',
        img: '/imag/od.png',
        width: 30,
        member: 3366,
        url: 'https://ok.ru/zabastcom',
      },
      {
        key: 'twitter',
        img: '/imag/twitter.png',
        width: 30,
        member: 2512,
        url: 'https://twitter.com/zabastcom',
      },
      // {
      //  key: 'instagram',
      //  img: '/imag/instagram.png',
      //  width: 30,
      //   member: 703,
      //   url: 'https://www.instagram.com/zabastcom/',
      // },
      {
        key: 'telegram',
        img: '/imag/telegram.png',
        width: 30,
        member: 881,
        url: 'https://t.me/zabastcom',
      },
    ];

    private get navListFirst(): NavItem[] {
      return this.navList.slice(0, Math.ceil(this.navList.length / 2));
    }

    private get navListTwo(): NavItem[] {
      return this.navList.slice(Math.ceil(this.navList.length / 2));
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private get isActive(): string {
      return this.$route.fullPath;
    }

    // eslint-disable-next-line class-methods-use-this
    private get footerMinWidth(): string {
      return (this.$mq !== 'lg') ? '0px' : '465px';
    }

    // eslint-disable-next-line class-methods-use-this
    private get footerMinWidthMobile(): string {
      return (this.$mq !== 'lg') ? '0px' : '300px';
    }

    // eslint-disable-next-line class-methods-use-this
    private get footerMinWidthRight(): string {
      return (this.$mq !== 'lg') ? '0px' : '387px';
    }

    // eslint-disable-next-line class-methods-use-this
    private get footerMedia(): string {
      return (this.$mq !== 'lg') ? 'column' : 'row';
    }

    private get footerSocialMediaAlignItems(): string {
      return (this.$mq !== 'lg') ? 'center' : 'start';
    }

    private get footerSocialMediaNav(): string {
      return (this.$mq !== 'lg') ? 'center' : 'start';
    }

    private get footerSocialMediaMarginTop(): string {
      return (this.$mq !== 'lg') ? '30px' : '0px';
    }

    private get footerSocialMediaMarginLeft(): string {
      return (this.$mq !== 'lg') ? '0px' : '50px';
    }

    private get footerSocialNetworkJustifyContent(): string {
      return (this.$mq !== 'lg') ? 'center' : 'start';
    }

    private get footerSocialNetworkMarginTop(): string {
      return (this.$mq !== 'lg') ? '30px' : '0px';
    }

    private get footerNavTwoMargin(): string {
      return (this.$mq !== 'lg') ? '0' : '50px';
    }

    private get footerNavAlignItems(): string {
      return (this.$mq !== 'lg') ? 'center' : 'start';
    }

    private get socialNetworkInfoMembersVisible(): string {
      return (this.$mq !== 'lg') ? 'none' : 'flex';
    }


    private vkGroupMembers(): void {
      jsonp(
        `https://api.vk.com/method/groups.getById?group_id=167684500&fields=members_count&access_token=${VK_ACCESS_TOKEN}&v=${VK_API_VERSION}`,
        undefined,
        (err, response) => {
          if (!err) {
            this.networkList[0].member = response.response[0].members_count;
            // eslint-disable-next-line no-empty
          }
        },
      );
    }

    private OdGroupMembers(): void {
      this.$axios
        .get(
          'https://api.ok.ru/fb.do?application_key=CMIOLQJGDIHBABABA&fields=members_count&format=json&method=group.getInfo&uids=55576618008652&sig=4f542be10b4e57b2f45d79753b60e974&access_token=tkn1gkUYZfp9PDDkDdshf18C00r6JvM5OEwNbYLTqfQ7XITfcVowXnkrKWmHrqq7Ekh86',
        )
        .then((response) => {
          this.networkList[1].member = response.data[0].members_count;
        })
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
        .catch((error) => {

        });
    }

    private mounted(): void {
      this.vkGroupMembers();
      this.OdGroupMembers();
    }
}
</script>

<style lang="less" scoped>
.strikecom-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 0px 10px @c-middle-shadow-color;
    background: @c-background-light;

    .footer-all {
        min-height: 300px;
        padding-top: 25px;
        padding-bottom: 50px;
        max-width: 1152px;
        display: flex;
        flex-direction: row;

        .footer-nav {
            display: flex;
            flex-direction: column;
            font-family: 'San Francisco Pro';
            font-weight: 400;
            font-size: 16px;
            font-style: normal;
            margin-top: 16px;


            .footer-nav-first{
                display: flex;
                flex-direction: column;
            }

            .footer-nav-two {
                display: flex;
                flex-direction: column;
            }

            .nav-item {
                margin-bottom: 16px;

                .nav-link {
                    text-decoration: none;
                    color: black;
                    transition: 0.5s all;

                    &:hover {
                        color: @c-active;
                    }

                    &:focus {
                        color: @c-active;
                        transform: scale(0.97);
                    }

                    &:active {
                        transform: scale(0.95);
                    }
                }
            }
        }

        .mobile-application {
            padding-top: 12px;
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            .mobile-application-title {
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-size: 16px;
                font-style: normal;
            }

            .footer-appstore {
                margin-top: 20px;
                transition: 0.5s all;
            }

            .footer-appstore:hover {
                transform: scale(1.05);
            }

            .footer-googleplay {
                margin-top: 5px;
                transition: 0.5s all;
            }

            .footer-googleplay:hover {
                transform: scale(1.05);
            }
        }

        .footer-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 12px;

            .social-network {
                text-decoration: none;

                .social-network-title {
                    font-family: 'San Francisco Pro';
                    font-weight: 400;
                    font-size: 16px;
                    font-style: normal;
                    display: flex;
                }

                .social-network-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-top: 15px;
                    margin-left: -5px;

                    .social-network-info-boxes {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .social-network-info-boxes img {
                        display: flex;
                        justify-content: center;
                        margin: 5px;
                        transition: 0.5s all;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .social-network-info-members {
                        font-size: 12px;
                        font-family: 'San Francisco Pro';
                        font-weight: 400;
                        font-style: normal;
                        color: #6f6f6f;
                    }
                }
            }

            .footer-donate-box {
                width: 100%;
                display: flex;
                justify-content: center;
                text-decoration: none;
                margin-top: 20px;

                .footer-donate-button {
                    width: 100%;

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }

        .nuxt-link-active {
            color: @c-active !important;
        }

        .nuxt-link-disabled {
            color: @c-grey !important;
            position: relative;

            &::after {
                content: "скоро";
                position: absolute;
                top: -8px;
                right: -10px;
                font-size: 12px;
                font-weight: 500;
                color: @c-active;
            }
        }
    }
}
</style>
