<template>
  <div class="event-container" :style="{padding: cardPadding}">
    <section class="event-container-inner">
      <article class="event-main-block" :style="{margin: mainBlockMargin}">
        <div class="event-description-section">
          <div class="event-description-section-inner">
            <div class="event-description-views">
              <font-awesome-icon
                class="event-description-views-icon"
                icon="eye"
                size="1x"
              />
              {{ eventViews }}
            </div>
            <div class="event-description-date">
              {{ eventCreatedAt }}
            </div>
            <nuxt-link :to="conflictLink" class="event-description-conflict" @click="clearFocus">
              <p>
                В рамках конфликта: {{ eventConflictTitle }}
              </p>
            </nuxt-link>
          </div>
          <div class="event-description-bookmark">
            <div tabindex="0" :class="bookmarkStatus" @click.prevent="switchBookmark">
              <div class="event-description-bookmark-top" />
              <font-awesome-icon
                class="event-description-bookmark-icon"
                icon="bookmark"
                size="2x"
              />
            </div>
          </div>
        </div>
        <div class="event-title-section" :style="{'font-size': titleFont}">
          {{ eventTitle }}
        </div>
        <div class="event-main-section" :style="{'font-size': contentFont}">
          <div v-for="(contentBlock, index) in mainContent" :key="index" class="event-content">
            <button v-if="contentBlock.imag" class="event-image-section" :style="{height: imageHeight}">
              <picture>
                <source id="s1" :srcset="contentBlock.imag" type="image/jpg">
                <img tabindex="-1" class="event-image" :src="contentBlock.imag" alt="" @error="contentBlock.imag = null">
              </picture>
            </button>
            <div v-if="contentBlock.video" class="event-video-section">
              <iframe
                :src="contentBlock.video"
                width="100%"
                :height="iframeHeight"
                frameborder="0"
                allowfullscreen
                allowtransparency
                allow="autoplay"
              />
            </div>
            <p v-if="contentBlock.text" class="event-text-section">
              {{ contentBlock.text }}
            </p>
          </div>
        </div>
        <div class="event-links">
          <div class="event-links-share">
            <p class="event-links-share-title" :style="{'font-size': secondaryFont}">
              Поделиться
            </p>
            <div class="share-network-list">
              <ShareNetwork
                v-for="network of networkSharedList"
                :key="network.network"
                :network="network.network"
                :url="domainUrl+eventLink"
                :title="eventTitle"
                :media="eventPhotoUrl"
                :style="{backgroundColor: network.color}"
                :description="eventContent"
                class="share-network-item"
                quote=""
                hashtags=""
                @click="clearFocus"
              >
                <div class="share-network-icon">
                  <font-awesome-icon :icon="network.icon" size="2x" class="share-network-icon-inner" />
                </div>
                <div v-if="($mq === 'lg') || ($mq === 'md')" class="share-network-label">
                  <span>{{ network.name }}</span>
                </div>
              </ShareNetwork>
            </div>
          </div>
          <div v-if="eventSourceLink" class="event-links-source" :style="{'font-size': secondaryFont}">
            <a :href="eventSourceLink" target="_blank">Источник</a>
          </div>
        </div>
      </article>
      <div
        class="event-chronology"
        :style="{padding: mainBlockMargin}"
      >
        <chronology-diagram
          v-if="eventDetailed"
          class="event-chronology-inner"
          :event-id="eventDetailed.id"
          :relatives="eventDetailed.relatives"
          type="events"
          :diagram-key="eventDetailed.id"
          :size="(cardSize === 'small') ? 'small' : 'large'"
        />
      </div>
      <div class="event-map-container" :style="{height: mapHeight, padding: mainBlockMargin}">
        <event-map v-if="eventDetailed" :key="mapKey" :class="`event-map ${mapKey}`" :center="[eventDetailed.conflict.latitude,eventDetailed.conflict.longitude]" :i-events="[eventDetailed.conflict]" />
      </div>
    </section>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import qs from 'qs';
import { EventPageContent, IDetailedEvent, IVideo } from '@/components/api/index';
import EventCard from '@/components/EventCard.vue';
import EventMap from '@/components/EventMap.vue';
import StrikecomButton from '@/components/StrikecomButton.vue';
import { environmentalVarsMap } from '@/components/maps';
import jsonp from 'jsonp';
import { VK_VIDEO_ACCESS_TOKEN, VK_API_VERSION } from '@/components/enums';

const ChronologyDiagram = () => import('~/components/ChronologyDiagram.vue');

@Component({
  components: { EventCard, StrikecomButton, ChronologyDiagram, EventMap },
  head() {
    return {
      // eslint-disable-next-line no-use-before-define
      title: (this as unknown as DetailedEvent).eventTitle,
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedEvent).eventContent,
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          // eslint-disable-next-line no-use-before-define
          content: `https://www.zabastcom.org${(this as unknown as DetailedEvent).eventLink}`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedEvent).eventTitle,
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedEvent).eventContent,
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedEvent).eventPhotoUrl,
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          // eslint-disable-next-line no-use-before-define
          content: `https://www.zabastcom.org${(this as unknown as DetailedEvent).eventLink}`,
        },
        {
          hid: 'og:title',
          property: 'og:title',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedEvent).eventTitle,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedEvent).eventContent,
        },
        {
          hid: 'og:image',
          property: 'og:image',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedEvent).eventPhotoUrl,
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedEvent).eventPhotoUrl,
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class DetailedEvent extends Vue {
        private eventDetailed: IDetailedEvent | null = null;

        private type: string = 'events';

        private defaultImag: string = '/imag/strikecom-event-red.webp';

        private mapKey: string = this.eventDetailed ? `map-${this.eventDetailed.id}` : 'map';

        private language: string = 'Ru';

        private networkSharedList: Object[] = [
          { network: 'email', name: 'Email', icon: ['far', 'envelope'], color: '#333333' },
          { network: 'facebook', name: 'Facebook', icon: ['fab', 'facebook-f'], color: '#1877f2' },
          { network: 'odnoklassniki', name: 'Odnoklassniki', icon: ['fab', 'odnoklassniki'], color: '#ed812b' },
          { network: 'telegram', name: 'Telegram', icon: ['fab', 'telegram-plane'], color: '#0088cc' },
          { network: 'twitter', name: 'Twitter', icon: ['fab', 'twitter'], color: '#1da1f2' },
          { network: 'viber', name: 'Viber', icon: ['fab', 'viber'], color: '#59267c' },
          { network: 'vk', name: 'Vk', icon: ['fab', 'vk'], color: '#4a76a8' },
          { network: 'whatsapp', name: 'Whatsapp', icon: ['fab', 'whatsapp'], color: '#25d366' },
        ]

        private mainContent: EventPageContent[] = [];

        private get eventSourceLink(): string {
          return this.eventDetailed && this.eventDetailed.sourceLink ? this.eventDetailed.sourceLink : '';
        }


        private get imageHeight(): string {
          if (this.$mq === 'xsm') {
            return '130px';
          }
          if (this.$mq === 'msm') {
            return '160px';
          }
          if (this.$mq === 'sm') {
            return '280px';
          }
          if (this.$mq === 'md') {
            return '280px';
          }
          return '400px';
        }

        private get mapHeight(): string {
          if (this.cardSize === 'small') {
            return '300px';
          }
          return (this.cardSize === 'large') ? '600px' : '400px';
        }

        private get cardPadding(): string {
          return (this.cardSize === 'small') ? '20px 0px 20px 0px' : '20px 0px 20px 20px';
        }

        private get mainBlockMargin(): string {
          return (this.cardSize === 'small') ? '0px 25px 0px 25px' : '0px 42px 0px 42px';
        }

        private get titleFont(): string {
          return (this.cardSize === 'small') ? '18px' : '22px';
        }

        private get contentFont(): string {
          return (this.cardSize === 'small') ? '16px' : '18px';
        }

        private get secondaryFont(): string {
          return (this.cardSize === 'small') ? '14px' : '16px';
        }

        private get iframeHeight(): string {
          if (this.cardSize === 'small') {
            return '200';
          }
          return (this.cardSize === 'large') ? '400' : '300';
        }

        private get eventId(): number {
          return this.eventDetailed && this.eventDetailed.id ? this.eventDetailed.id : 0;
        }

        private get cardInBookmarks(): boolean {
          return this.$store.state.userBookmarks.includes(this.eventId);
        }

        private get bookmarkStatus(): string {
          return this.cardInBookmarks ? 'event-description-bookmark-inner-red' : 'event-description-bookmark-inner';
        }

        private get eventCreatedAt(): string {
          return this.eventDetailed && this.eventDetailed.createdAt ? this.timestampParse(this.eventDetailed.createdAt) : '';
        }

        private get eventViews(): number {
          return this.eventDetailed && this.eventDetailed.views ? this.eventDetailed.views : 0;
        }

        private get conflictLink(): string {
          return this.eventDetailed && this.eventDetailed.conflict ? `/conflicts/${this.eventDetailed.conflict.id.toString()}` : '';
        }

        private get eventLink(): string {
          return this.eventDetailed && this.eventDetailed.id ? `/events/${this.eventDetailed.id.toString()}` : '';
        }

        private get eventPhotoUrl(): string {
          if (this.mainContent[0] && this.mainContent[0].imag) {
            return this.mainContent[0].imag;
          }
          if (this.eventDetailed && this.eventDetailed.videos && this.eventDetailed.videos[0]) {
            if (this.eventDetailed.videos[0].previewUrl) {
              return this.eventDetailed.videos[0].previewUrl;
            }
            if (this.eventDetailed.videos[0].url && (this.eventDetailed.videos[0].url.search('https://www.youtube.com/watch') !== -1)) {
              return `https://img.youtube.com/vi/${this.eventDetailed.videos[0].url.slice(32)}/0.jpg`;
            }
          }
          return `${this.domainUrl + this.defaultImag}`;
        }

        private get eventTitle(): string {
          if (this.eventDetailed && this.eventDetailed.title) {
            return (this.cardSize === 'large') ? this.stringLimit(this.eventDetailed.title, 100) : this.stringLimit(this.eventDetailed.title, 70);
          }
          return '';
        }

        // eslint-disable-next-line class-methods-use-this
        private get domainUrl(): string {
          const domainUrl: string | undefined = (environmentalVarsMap).get('domain');
          return domainUrl || 'https://www.zabastcom.org';
        }

        private get eventContent(): string {
          if (this.eventDetailed && this.eventDetailed.content) {
            if (this.cardSize === 'small') {
              return this.stringLimit(this.eventDetailed.content, 250);
            }
            return (this.cardSize === 'large') ? this.stringLimit(this.eventDetailed.content, 390) : this.stringLimit(this.eventDetailed.content, 300);
          }
          return '';
        }

        private get eventConflictTitle(): string {
          return this.eventDetailed && this.eventDetailed.conflict ? this.stringLimit(this.eventDetailed.conflict.title, 70) : '';
        }

        private get cardSize(): string {
          if (this.$mq === 'lg') return 'large';
          if (this.$mq === 'xsm') return 'small';
          return 'middle';
        }

        // eslint-disable-next-line class-methods-use-this
        private stringLimit(str: string, limit: number): string {
          if (!str) {
            return str;
          }
          if (str.length < limit) {
            return str;
          }
          const spaceChar = ' ';
          let lastIndex = 0;
          let currentIndex = str.indexOf(spaceChar);
          while ((currentIndex !== -1) && (currentIndex < limit)) {
            lastIndex = currentIndex;
            currentIndex = str.indexOf(spaceChar, currentIndex + 1);
          }
          if (lastIndex === 0) {
            lastIndex = limit;
          }
          return `${str.substr(0, lastIndex)} ...`;
        }

        // eslint-disable-next-line class-methods-use-this
        private async paragraphSeparator(str: string, images: string[], videos?: IVideo[]): Promise<EventPageContent[]> {
          const paragraphs: EventPageContent[] = [];
          if (!str) {
            return [{
              text: '',
              imag: null,
              video: null,
            }];
          }
          const separatorChar = '\n';
          let lastIndex = 0;
          let imageIndex = 0;
          let currentImage = null;
          let videoIndex = 0;
          let currentVideo = null;
          let currentText = null;
          let currentIndex = str.indexOf(separatorChar);
          let itemIndex = 0;
          while (((lastIndex !== -1) || (images[imageIndex]) || (videos && videos[videoIndex])) && (itemIndex < 1000)) {
            if (((itemIndex % 2 === 0) || !videos || !videos[videoIndex]) && (images[imageIndex])) {
              currentImage = images[imageIndex];
              currentVideo = null;
              imageIndex++;
            } else if (((itemIndex % 2 === 1) || !images[imageIndex]) && (videos && videos[videoIndex])) {
              if (videos[videoIndex].videoTypeId === 2) {
                // eslint-disable-next-line no-await-in-loop
                currentVideo = await this.getVkVideoUrl(videos[videoIndex].url);
              } else if (videos[videoIndex].videoTypeId === 1) {
                currentVideo = this.getYoutubeVideoUrl(videos[videoIndex].url);
              } else {
                currentVideo = videos[videoIndex].url;
              }
              currentImage = null;
              videoIndex++;
            } else {
              currentImage = null;
              currentVideo = null;
            }
            itemIndex++;
            if (currentIndex > -1) {
              currentText = str.substr(lastIndex, currentIndex - lastIndex);
            } else if (lastIndex > -1) {
              currentText = str.substr(lastIndex, str.length - lastIndex);
            } else {
              currentText = null;
            }
            const paragraph: EventPageContent = {
              text: currentText,
              imag: currentImage,
              video: currentVideo,
            };
            paragraphs.push(paragraph);
            if ((currentIndex === -1) || (currentIndex === (str.length - 1))) {
              lastIndex = -1;
            } else {
              lastIndex = currentIndex;
            }
            if (currentIndex > -1) {
              currentIndex = str.indexOf(separatorChar, currentIndex + 1);
            }
          }
          return paragraphs;
        }

        private async eventDetailedRequest(id: number, language: string = this.language, withRelatives: boolean = true): Promise<IDetailedEvent> {
          const url: string = `https://zabastcom.org/api/v2/${language}/${this.type}/${id}`;
          return (await this.$axios.$get(url, {
            params: { withRelatives },
            paramsSerializer: params => {
              return qs.stringify(params, { allowDots: true });
            },
          })).data as IDetailedEvent;
        }

        private timestampParse(timestamp: number): string {
          return timestamp ? this.$moment(new Date(timestamp * 1000)).format('D MMMM, YYYY') : '';
        }

        // eslint-disable-next-line class-methods-use-this
        private async getVkVideoUrl(videoUrl: string): Promise<string | null> {
          const videoId = videoUrl.split('video')[videoUrl.split('video').length - 1];
          let videoPlayerUrl = null;
          const promisifyJsonp: Promise<string | null> = new Promise((resolve, reject) => {
            jsonp(
              `https://api.vk.com/method/video.get?videos=${videoId}&access_token=${VK_VIDEO_ACCESS_TOKEN}&v=${VK_API_VERSION}`,
              undefined,
              (err, response) => {
                if (!err) {
                  resolve(response.response ? response.response.items[0].player : null);
                } else {
                  reject();
                }
              },
            );
          });
          try {
            videoPlayerUrl = await promisifyJsonp;
            // eslint-disable-next-line no-empty
          } catch (e) {
          }
          return videoPlayerUrl;
        }

        // eslint-disable-next-line class-methods-use-this
        private getYoutubeVideoUrl(videoUrl: string): string | null {
          const videoQuery = videoUrl.split('watch?v=')[videoUrl.split('watch?v=').length - 1];
          const videoId = videoQuery.split('&')[0];
          const videoPlayerUrl = videoId ? `https://www.youtube.com/embed/${videoId}` : null;
          return videoPlayerUrl;
        }

        private switchBookmark(): void {
          this.clearFocus();
          if (!this.cardInBookmarks) {
            this.$store.dispatch('addBookmark', { type: this.type, id: this.eventId });
          } else {
            this.$store.dispatch('deleteBookmark', { type: this.type, id: this.eventId });
          }
        }

        // eslint-disable-next-line class-methods-use-this
        private clearFocus(): void {
          if (document.activeElement) {
            (document.activeElement as HTMLElement).blur();
          }
        }

        private rerenderMap(): void {
          this.mapKey = this.eventDetailed ? `map-${this.eventDetailed.id}-modified` : 'map-modified';
        }

        private async fetch(): Promise<void> {
          try {
            this.eventDetailed = await this.eventDetailedRequest(parseInt(this.$route.params.id, 10), 'ru', true);
            if (!this.eventDetailed) {
              this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
            } else {
              this.mainContent = await this.paragraphSeparator(this.eventDetailed.content, this.eventDetailed.photoUrls, this.eventDetailed.videos);
            }
          } catch (e) {
            this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
          }
        }

        private mounted(): void {
          this.$store.commit('SET_MENU', false);
          this.$store.commit('SET_SPINNER', true);
          // Срабатывает при переходе между страницами
          if (document && (document.readyState === 'complete')) {
            setTimeout(() => {
              this.rerenderMap();
              this.$store.commit('SET_SPINNER', false);
            }, 1000);
          }
          // Срабатывает при первоначальной загрузке сайта
          if (window) {
            window.onload = () => {
              setTimeout(() => {
                this.rerenderMap();
                if (this.eventDetailed && this.eventDetailed.videos && this.eventDetailed.videos.length && this.eventDetailed.videos[0].url && !this.mainContent[0].video) {
                  this.paragraphSeparator(this.eventDetailed.content, this.eventDetailed.photoUrls, this.eventDetailed.videos).then((mainContent) => {
                    this.mainContent = mainContent;
                  }).finally(() => {
                    this.$store.commit('SET_SPINNER', false);
                  });
                } else {
                  this.$store.commit('SET_SPINNER', false);
                }
              }, 500);
            };
          }
          // Срабатывает в любом случае через 10 сек
          setTimeout(() => {
            this.rerenderMap();
            this.$store.commit('SET_SPINNER', false);
          }, 10000);
        }
}
</script>

<style lang="less" scoped>
    /* сброс стилей */
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .event-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        max-width: 895px;
        width: 100%;
        padding: 20px;
        margin: 0px;

        .event-container-inner {
            background: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            flex-grow: 1;
            padding: 0px;
            margin: 0px;

            .event-main-block {
                display: flex;
                flex-direction: column;
                min-height: 255px;
                margin: 0px 42px 0px 42px;

                .event-description-section {
                    display: flex;
                    flex-direction: row;
                    font-family: 'San Francisco Pro';
                    font-weight: 400;
                    font-size: 14px;
                    font-style: normal;
                    align-items: flex-start;
                    color: @c-disabled;

                    .event-description-section-inner {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin: 10px 0px 20px 0px;

                        .event-description-views {
                            margin: 10px 20px 0px 0px;
                        }

                        .event-description-date {
                            margin: 10px 20px 0px 0px;
                        }

                        .event-description-conflict {
                            outline: none;
                            text-decoration: none;
                            font-family: 'San Francisco Pro';
                            font-weight: 400;
                            font-size: 14px;
                            font-style: normal;
                            color: @c-disabled;
                            margin: 10px 20px 0px 0px;
                            transition: color ease-in-out 0.5s;
                            cursor: pointer;

                            &:hover {
                                color: @c-active;
                            }

                            &:focus {
                                color: @c-active;
                            }
                        }
                    }

                    .event-description-bookmark {
                        display: flex;
                        height: 100%;
                        margin: 0px 0px 0px auto;
                        flex-direction: column;
                        justify-content: flex-start;
                        cursor: pointer;

                        .event-description-bookmark-inner {
                            &:focus {
                                border: none;
                                outline: none !important;
                            }

                            &:hover .event-description-bookmark-top {
                                height: 22px;
                                background-color: @c-hover;
                            }

                            &:hover .event-description-bookmark-icon {
                                color: @c-hover;
                            }

                            &:focus .event-description-bookmark-top {
                                height: 22px;
                                background-color: @c-hover;
                            }

                            &:focus .event-description-bookmark-icon {
                                color: @c-hover;
                            }

                            .event-description-bookmark-top {
                                height: 12px;
                                background: @c-smoke;
                                transition: 0.5s;
                            }

                            .event-description-bookmark-icon {
                                color: @c-smoke;
                                margin-top: -10px;
                                height: 30px;
                                transition: 0.5s;
                            }
                        }

                        .event-description-bookmark-inner-red {
                            .event-description-bookmark-top {
                                height: 22px;
                                background-color: @c-active;
                                transition: 0.5s;
                            }

                            .event-description-bookmark-icon {
                                margin-top: -10px;
                                height: 30px;
                                transition: 0.5s;
                                color: @c-active;
                            }

                            &:focus {
                                border: none;
                                outline: none !important;
                            }

                            &:hover .event-description-bookmark-top {
                            }

                            &:hover .event-description-bookmark-icon {
                            }

                            &:focus .event-description-bookmark-top {
                            }

                            &:focus .event-description-bookmark-icon {
                            }
                        }
                    }
                }

                .event-title-section {
                    margin: 0px 0px 0px 0px;
                    display: flex;
                    flex-direction: row;
                    font-family: 'San Francisco Pro';
                    font-size: 22px;
                    font-weight: 700;
                    font-style: normal;
                    align-items: center;
                    color: @c-primary;
                    padding: 0px 0px 20px 0px;
                    text-align: right; //a

                    h2 {
                    }
                }

                .event-main-section {
                    width: 100%;
                    margin: 18px 0px 21px 0px;
                    min-height: 100px;
                    font-family: 'San Francisco Pro';
                    font-weight: 400;
                    font-size: 18px;
                    font-style: normal;

                    .event-content {
                        margin: 0px 0px 18px 0px;

                        .event-image-section {
                            background: @c-primary;
                            display: flex;
                            overflow: hidden;
                            height: 400px;
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                            margin: 0px 0px 18px 0px;

                            .event-image {
                                width: 100%; /* Ширина изображений */
                                //height: 100%;
                                //object-fit: contain;
                            }
                        }

                        .event-video-section {
                            margin: 0px 0px 18px 0px;
                        }

                        .event-text-section {
                            text-align: justify;

                        }

                    }
                }
            }

            .event-links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: solid 1px @c-smoke;
                margin: 0px 0 48px 0;
                min-height: 58px;
                align-items: flex-start;
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-style: normal;

                .event-links-share {
                    display: flex;
                    flex-direction: column;

                    .event-links-share-title {
                        font-size: 16px;
                        color: @c-disabled;
                        margin: 21px 0px 17px 0px;
                    }

                    .share-network-list {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: start;
                        max-width: 1000px;
                        margin: auto;
                        align-items: center;

                        .share-network-item {
                            display: flex;
                            color: @c-background-light;
                            height: 35px;
                            border-radius: 3px;
                            overflow: hidden;
                            flex-direction: row;
                            align-content: center;
                            font-size: 14px;
                            align-items: center;
                            cursor: pointer;
                            margin: 0 10px 10px 0;

                            .share-network-icon {
                                background-color: rgba(0, 0, 0, 0.2);
                                padding: 10px;

                                .share-network-icon-inner {
                                    width: 25px;
                                    border-bottom: 2px solid @c-background-light;
                                    padding: 2px;
                                }
                            }

                            .share-network-label {
                                max-width: 0px;
                                transition: 1.5s;
                                display: flex;
                                justify-content: center;
                                overflow: hidden;

                                span {
                                    font-size: 14px;
                                    padding: 0 10px;
                                    font-weight: 500;
                                    margin: 0px 20px;
                                }
                            }


                            &:hover .share-network-label {
                                max-width: 120px;
                            }

                            &:focus .share-network-label {
                                max-width: 120px;
                            }
                        }
                    }

                }

                .event-links-source {
                    font-size: 16px;
                    margin-top: 21px;
                }
            }
        }

        .event-chronology {
            width: 100%;
            padding: 0px 42px 0px 42px;

            .event-chronology-inner {
                margin: 0px 0px 20px 0px;
                width: 100%;
            }
        }
        .event-map-container {
            width: 100%;
            height: 600px;
            padding: 0px 42px 0px 42px;
            margin: 0px 0px 10px 0px;

            .event-map {
                width: 100%;
                height: 100%;
            }
        }
    }
</style>
