@font-face {
    font-family: 'Futura New';
    src: local('Futura New Extra Bold Reg'), local('Futura-New-Extra-Bold-Reg'),
        url('FuturaNewExtraBold-Reg.woff2') format('woff2'), url('FuturaNewExtraBold-Reg.woff') format('woff'),
        url('FuturaNewExtraBold-Reg.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
