@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Black Italic'), local('San-Francisco-Pro-Display-Black-Italic'),
        url('SFProDisplay-BlackItalic.woff2') format('woff2'), url('SFProDisplay-BlackItalic.woff') format('woff'),
        url('SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
