@font-face {
    font-family: 'Futura New';
    src: local('Futura New Light Obl'), local('Futura-New-Light-Obl'), url('FuturaNewLight-Obl.woff2') format('woff2'),
        url('FuturaNewLight-Obl.woff') format('woff'), url('FuturaNewLight-Obl.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
