<template>
  <div class="news-container">
    <section class="news-container-inner">
      <h1 class="news-title" :style="{'font-size': titleFont, margin: titleMargin}">
        Новости
      </h1>
      <div class="news-list">
        <div v-for="newsItem of newsItemArr" :key="newsItem.id" class="news-view-block">
          <event-card :i-event="newsItem" :type="type" :card-size="cardSize" />
        </div>
      </div>
      <div v-if="!endLoading && (pagesLoaded % 2 === 0)" class="news-some-more">
        <strikecom-button class="some-more-button" @mousedown="addSomeMore">
          <p>
            Загрузить еще
          </p>
        </strikecom-button>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import qs from 'qs';
import { NewsSort, IEvent, NewsFilters, NewsRequest } from '@/components/api';
import EventCard from '@/components/EventCard.vue';
import StrikecomButton from '@/components/StrikecomButton.vue';

@Component({
  components: { EventCard, StrikecomButton },
  head() {
    return {
      title: 'Новости - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'В новости попадают события, не относящиеся к тому или иному трудовому конфликту.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/news',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Новости - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'В новости попадают события, не относящиеся к тому или иному трудовому конфликту.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/strikecom-news-red.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/news',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Новости - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'В новости попадают события, не относящиеся к тому или иному трудовому конфликту.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/strikecom-news-red.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/strikecom-news-red.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Index extends Vue {
    private newsItemArr: IEvent[] = [];

    private type: string = 'news';

    private perPage: number = 7;

    private pagesLoaded: number = 1;

    private language: string = 'Ru';

    private endLoading: boolean = false;

    private scrollLoading = false;

    private filters: NewsFilters = {
      published: true,
    };

    private sort: NewsSort = {
      field: 'createdAt',
      order: 'desc',
    };

    private get cardSize(): string {
      if (this.$mq === 'lg') return 'large';
      if (this.$mq === 'xsm' || this.$mq === 'msm') return 'small';
      return 'middle';
    }

    private get titleFont(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '20px' : '24px';
    }

    private get titleMargin(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px 0px 0px' : ' 37px 0px 0px 0px';
    }

    private async itemRequest(newsRequest: NewsRequest, type: string = this.type, language: string = this.language): Promise<IEvent[]> {
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      return (await this.$axios.$get(url, {
        params: newsRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      })).data as IEvent[];
    }

    private async addSomeMore(): Promise<void> {
      this.pagesLoaded += 1;
      const newsRequest: NewsRequest = {
        page: this.pagesLoaded.toString(),
        perPage: this.perPage.toString(),
        filters: this.filters,
        sort: this.sort,
      };

      this.itemRequest(newsRequest).then((newItems: IEvent[]) => {
        this.newsItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
        window.scrollBy(0, 1);
        window.scrollBy(0, -1);
      });
    }

    private async scrollNews(): Promise<void> {
      this.scrollLoading = true;
      window.onscroll = () => {
        const bottomOfWindow = document.documentElement.scrollTop + window.innerHeight > document.documentElement.offsetHeight - 2000;
        if (!this.endLoading && this.scrollLoading && bottomOfWindow && (this.pagesLoaded % 4 !== 0)) {
          this.pagesLoaded += 1;
          const newsRequest: NewsRequest = {
            page: this.pagesLoaded.toString(),
            perPage: this.perPage.toString(),
            filters: this.filters,
            sort: this.sort,
          };

          this.scrollLoading = false;
          this.itemRequest(newsRequest).then((newItems: IEvent[]) => {
            this.newsItemArr.push(...newItems);
            if (newItems.length < this.perPage) {
              this.endLoading = true;
            }
            setTimeout(() => {
              this.scrollLoading = true;
            }, 1000);
            window.scrollBy(0, 1);
            window.scrollBy(0, -1);
          });
        }
      };
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private async fetch(): Promise<void> {
      this.pagesLoaded = 1;
      this.endLoading = false;
      const newsRequest: NewsRequest = {
        page: '1',
        perPage: this.perPage.toString(),
        filters: this.filters,
        sort: this.sort,
      };
      try {
        const newItems: IEvent[] = await this.itemRequest(newsRequest);
        this.newsItemArr = [];
        this.newsItemArr.push(...newItems);
        if (!this.newsItemArr.length) {
          this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
        }
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } catch (e) {
        this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
        this.endLoading = true;
      }
    }

    private mounted(): void {
      this.$store.commit('SET_MENU', false);
      this.$store.commit('SET_SPINNER', true);
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
      this.scrollNews();
    }
}
</script>

<style lang="less" scoped>
.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

.news-container-inner {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.news-title {
    margin: 37px 0px 0px 0px;
    font-family: 'San Francisco Pro';
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.news-view-block {
    margin: 30px 0px 30px 0px;
}

.news-switcher {
    margin: 20px 0px 10px 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .switch-button {
        width: 198px;
        margin: 10px 5px 5px 10px;
        font-size: 14px;
    }
}

.news-some-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .some-more-button{
        font-size: 16px;
        min-width: 150px;
        width: 50%;
        min-height: 50px;
        padding: 0px;
    }
}
</style>
