@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Semibold'), local('San-Francisco-Pro-Display-Semibold'),
        url('SFProDisplay-Semibold.woff2') format('woff2'), url('SFProDisplay-Semibold.woff') format('woff'),
        url('SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
