@font-face {
    font-family: 'Futura New';
    src: local('Futura New Heavy Obl'), local('Futura-New-Heavy-Obl'), url('FuturaNewHeavy-Obl.woff2') format('woff2'),
        url('FuturaNewHeavy-Obl.woff') format('woff'), url('FuturaNewHeavy-Obl.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
