@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Light Italic'), local('San-Francisco-Pro-Display-Light-Italic'),
        url('SFProDisplay-LightItalic.woff2') format('woff2'), url('SFProDisplay-LightItalic.woff') format('woff'),
        url('SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
