@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Heavy Italic'), local('San-Francisco-Pro-Display-Heavy-Italic'),
        url('SFProDisplay-HeavyItalic.woff2') format('woff2'), url('SFProDisplay-HeavyItalic.woff') format('woff'),
        url('SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
