<template>
  <div>
    <strikecom-loader v-if="spinnerOn" />
    <strikecom-overlay v-if="overlayOn" />
    <Nuxt />
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import StrikecomLoader from '@/components/StrikecomLoader.vue';
import AuthorizationWindow from '@/components/AuthorizationWindow.vue';

@Component({
  components: { StrikecomLoader, AuthorizationWindow },
})
export default class Empty extends Vue {
  private get spinnerOn(): boolean {
    return this.$store.state.spinnerOn;
  }

  private get overlayOn(): boolean {
    return this.$store.state.overlayOn;
  }

  private async saveUser(): Promise<void> {
    await this.$store.dispatch('saveUser');
  }

  // eslint-disable-next-line class-methods-use-this
  private setAdaptiveWidth(): void {
    if (window) {
      window.scrollTo({
        top: 1,
        behavior: 'smooth',
      });
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    }
  }

  private async created(): Promise<void> {
    this.$store.commit('SET_OVERLAY', true);
    await this.saveUser();
  }

  private mounted(): void {
    this.setAdaptiveWidth();
    this.$store.commit('SET_OVERLAY', false);
  }
}
</script>

<style  lang="less">
</style>
