<template>
  <div class="error-container">
    404
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';

@Component({
  layout: 'scrollSidebarOff',
})
export default class Error extends Vue {
  private mounted(): void {
    this.$store.commit('SET_SPINNER', true);
    // Срабатывает при переходе между страницами
    if (document && (document.readyState === 'complete')) {
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 1000);
    }
    // Срабатывает при первоначальной загрузке сайта
    if (window) {
      window.onload = () => {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 200);
      };
    }
    // Срабатывает в любом случае через 10 сек
    setTimeout(() => {
      this.$store.commit('SET_SPINNER', false);
    }, 10000);
  }
}
</script>

<style  lang="less">
    .error-container {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 244px;
        font-family: 'Futura New';
        color: @c-active;
        font-weight: 500;
    }
</style>
