<template>
  <div
    v-shortkey.once="['alt','d']"
    @shortkey="catDiv=!catDiv"
  >
    <strikecom-loader v-if="spinnerOn" />
    <strikecom-overlay v-if="overlayOn" />
    <AuthorizationWindow v-if="signInModal" />
    <div :class="{'cat-div-opened': catDiv}" class="cat-div">
      <picture>
        <source srcset="@/assets/imag/lenin-cat.webp" type="image/webp">
        <img class="cat-div-inner" width="100%" src="@/assets/imag/lenin-cat.jpg" alt="">
      </picture>
    </div>
    <strikecom-header />
    <div class="layout-container">
      <strikecom-sidebar v-if="($mq === 'lg') || ($mq === 'md')" only-events />
      <Nuxt />
    </div>
    <strikecom-footer />
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import StrikecomHeader from '@/components/StrikecomHeader.vue';
import StrikecomFooter from '@/components/StrikecomFooter.vue';
import StrikecomSidebar from '@/components/StrikecomSidebar.vue';
import StrikecomLoader from '@/components/StrikecomLoader.vue';
import AuthorizationWindow from '@/components/AuthorizationWindow.vue';

@Component({
  components: { StrikecomLoader, StrikecomHeader, StrikecomSidebar, StrikecomFooter, AuthorizationWindow },
})
export default class Default extends Vue {
    private catDiv: boolean = false;

    private get signInModal(): boolean {
      return this.$store.state.signInModal;
    }

    private get spinnerOn(): boolean {
      return this.$store.state.spinnerOn;
    }

    private get overlayOn(): boolean {
      return this.$store.state.overlayOn;
    }

    private async saveUser(): Promise<void> {
      await this.$store.dispatch('saveUser');
    }

    // eslint-disable-next-line class-methods-use-this
    private setAdaptiveWidth(): void {
      if (window) {
        window.scrollTo({
          top: 1,
          behavior: 'smooth',
        });
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        });
      }
    }

    private async created(): Promise<void> {
      this.$store.commit('SET_OVERLAY', true);
      await this.saveUser();
    }

    private mounted(): void {
      this.setAdaptiveWidth();
      this.$store.commit('SET_OVERLAY', false);
    }
}
</script>

<style  lang="less">
    .layout-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cat-div {
        position: fixed;
        z-index: 999;
        width: 0%;
        height: 0%;
        transition: 3s ease-in-out;
    }

    .cat-div-opened {
        position: fixed;
        width: 100%;
        height: 100%;
        transform: rotate(720deg);
    }
</style>
