<template>
  <div>
    <strikecom-loader v-if="spinnerOn" />
    <strikecom-overlay v-if="overlayOn" />
    <AuthorizationWindow v-if="signInModal" />
    <strikecom-header />
    <div class="layout-container">
      <strikecom-sidebar v-if="($mq === 'lg') || ($mq === 'md')" />
      <Nuxt />
    </div>
    <strikecom-footer />
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import StrikecomHeader from '@/components/StrikecomHeader.vue';
import StrikecomFooter from '@/components/StrikecomFooter.vue';
import StrikecomSidebar from '@/components/StrikecomSidebar.vue';
import StrikecomLoader from '@/components/StrikecomLoader.vue';
import AuthorizationWindow from '@/components/AuthorizationWindow.vue';

@Component({
  components: { StrikecomLoader, StrikecomHeader, StrikecomSidebar, StrikecomFooter, AuthorizationWindow },
})
export default class Default extends Vue {
  private get signInModal(): boolean {
    return this.$store.state.signInModal;
  }

  private get spinnerOn(): boolean {
    return this.$store.state.spinnerOn;
  }

  private get overlayOn(): boolean {
    return this.$store.state.overlayOn;
  }

  private async saveUser(): Promise<void> {
    await this.$store.dispatch('saveUser');
  }

  // eslint-disable-next-line class-methods-use-this
  private setAdaptiveWidth(): void {
    if (window) {
      window.scrollTo({
        top: 1,
        behavior: 'smooth',
      });
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    }
  }

  private async created(): Promise<void> {
    this.$store.commit('SET_OVERLAY', true);
    await this.saveUser();
  }

  private mounted(): void {
    this.setAdaptiveWidth();
    this.$store.commit('SET_OVERLAY', false);
  }
}
</script>

<style  lang="less">
    .layout-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
</style>
