@font-face {
    font-family: 'Futura New';
    src: local('Futura New Bold Obl'), local('Futura-New-Bold-Obl'), url('FuturaNewBold-Obl.woff2') format('woff2'),
        url('FuturaNewBold-Obl.woff') format('woff'), url('FuturaNewBold-Obl.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
