<template>
  <div class="about-container" :style="{padding: titlePadding, margin: containerMargin}">
    <div class="about-container-inner">
      <div class="about-title">
        <div class="about-title-inner">
          <picture>
            <source srcset="@/assets/imag/arm.webp" type="image/webp">
            <img class="about-title-imag" src="@/assets/imag/arm.png" width="50" height="50">
          </picture>
          <h1 class="about-title-label">
            ЗАБАСТКОМ
          </h1>
        </div>
      </div>
      <div class="about-constitution">
        <h2 class="about-constitution-title">
          "Признается право на индивидуальные и коллективные трудовые споры
          с использованием установленных федеральным законом способов их разрешения, включая право на забастовку"
        </h2>
        <a href="http://constitutionrf.ru/rzd-1/gl-2/st-37-krf" class="about-constitution-link">
          (Ст. 37 Конституции РФ)
        </a>
      </div>
      <div class="about-description">
        <p>
          ЗабастКом - это общественный инициативный некоммерческий проект по агрегации новостей о забастовках и трудовых конфликтах в России и странах СНГ.
        </p>
      </div>
      <div class="about-targets">
        <h2 class="about-targets-title">
          Цель проекта:
        </h2>
        <br>
        <p>
          ЗабастКом нацелен на поддержку рабочего движения и освещение новостей о событиях, причиной которых послужил конфликт интересов работодателя и наемных работников.
          Тем самым проект оказывает содействие активным гражданам и общественным деятелям, позволяя оперативно реагировать на события.
          <br><br>
          Все опубликованные события группируются в конфликты, относящиеся к одному предприятию.
          Портал позволяет просматривать хронологию успешных и неуспешных трудовых конфликтов, а также анализировать их распределение по регионам на карте.
          После прохождения регистрации вы можете добавлять заинтересовавшие Вас события, конфликты или новости в избранное.
          Инструменты поиска и фильтрации облегчают анализ причин и сроков конфликта.
          <br><br>
          Проект создан, поддерживается и развивается группой добровольцев.
          Присоединяйтесь к сообществу единомышленников ЗабастКома:
          <br>
          <a class="about-matrix-link" href="https://matrix.zabastcom.org">https://matrix.zabastcom.org</a>
          <br><br>
          Если у Вас есть новость по тематике трудового конфликта или Вы готовы помочь проекту,
          предлагайте <nuxt-link class="about-targets-offer" to="/offer">
            новость к публикации
          </nuxt-link> или пишите нам на email и в телеграмм:
        </p>
      </div>
      <ul class="about-contacts">
        <li class="about-contacts-item">
          <p><a class="about-contacts-link" href="mailto:Zabastrikecom@gmail.com">Zabastrikecom@gmail.com</a> - с предложениям в редакцию</p>
          <p><a class="about-contacts-link" href="https://telegram.me/donkihot1917">DonKihot1917</a> - с идеями новых проектов и предложениями по модификации сайта</p>
        </li>
      </ul>
      <div class="about-links">
        <div class="about-links-share">
          <p class="about-links-share-title" :style="{'font-size': secondaryFont}">
            Поделиться
          </p>
          <div class="share-network-list">
            <ShareNetwork
              v-for="network of networkSharedList"
              :key="network.network"
              :network="network.network"
              :url="shareLink"
              :media="domainUrl+'/imag/about-image.jpg'"
              :title="shareTitle"
              :style="{backgroundColor: network.color}"
              :description="shareContent"
              class="share-network-item"
              quote=""
              hashtags=""
              @click="clearFocus"
            >
              <div class="share-network-icon">
                <font-awesome-icon :icon="network.icon" size="2x" class="share-network-icon-inner" />
              </div>
              <div v-if="($mq === 'lg') || ($mq === 'md')" class="share-network-label">
                <span>{{ network.name }}</span>
              </div>
            </ShareNetwork>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import { environmentalVarsMap } from '@/components/maps';

@Component({
  layout: 'sidebarOff',
  head() {
    return {
      title: 'О проекте - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Общественный инициативный некоммерческий проект по агрегации новостей о забастовках и трудовых конфликтах в России.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/about',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'О проекте - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Общественный инициативный некоммерческий проект по агрегации новостей о забастовках и трудовых конфликтах в России.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/about',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'О проекте - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Общественный инициативный некоммерческий проект по агрегации новостей о забастовках и трудовых конфликтах в России.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class About extends Vue {
    private networkSharedList: Object[] = [
      { network: 'email', name: 'Email', icon: ['far', 'envelope'], color: '#333333' },
      { network: 'facebook', name: 'Facebook', icon: ['fab', 'facebook-f'], color: '#1877f2' },
      { network: 'odnoklassniki', name: 'Odnoklassniki', icon: ['fab', 'odnoklassniki'], color: '#ed812b' },
      { network: 'telegram', name: 'Telegram', icon: ['fab', 'telegram-plane'], color: '#0088cc' },
      { network: 'twitter', name: 'Twitter', icon: ['fab', 'twitter'], color: '#1da1f2' },
      { network: 'viber', name: 'Viber', icon: ['fab', 'viber'], color: '#59267c' },
      { network: 'vk', name: 'Vk', icon: ['fab', 'vk'], color: '#4a76a8' },
      { network: 'whatsapp', name: 'Whatsapp', icon: ['fab', 'whatsapp'], color: '#25d366' },
    ];

    private shareLink: string = `${this.domainUrl}/`;

    private shareTitle: string = 'ЗабастКом';

    private shareContent: string = 'Общественный инициативный некоммерческий проект по агрегации новостей о забастовках и трудовых конфликтах в России.';

    // eslint-disable-next-line class-methods-use-this
    private get domainUrl(): string {
      const domainUrl: string | undefined = (environmentalVarsMap).get('domain');
      return domainUrl || 'https://www.zabastcom.org';
    }

    private get containerMargin(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 20px';
    }

    private get titlePadding(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 40px 10px';
    }

    private get secondaryFont(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '14px' : '16px';
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private mounted(): void {
      this.$store.commit('SET_MENU', false);
      this.$store.commit('SET_SPINNER', true);
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
    }
}
</script>

<style lang="less">
    .about-container {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        font-family: 'San Francisco Pro';
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        margin: 20px;
        text-align: justify;

        .about-container-inner {
            width: 100%;
            min-height: 1000px;
            display: flex;
            flex-direction: column;
            background-color: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);
            padding: 42px;

            .about-constitution {
                margin: 40px 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .about-constitution-title {
                    max-width: 350px;
                    text-align: right;
                }

                .about-constitution-link {
                    margin: 10px 0px 0px 0px;
                    width: 350px;
                    text-align: right;
                }
            }

            .about-title {
                display: flex;
                flex-direction: column;
                align-items: center;

                .about-title-inner {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: @c-primary;

                    .about-title-imag {
                    }

                    .about-title-label {
                        margin: 0px 0px 0px 8px;
                        font-family: 'Futura New';
                        font-weight: 500;
                        font-size: 24px;
                        font-style: normal;
                    }
                }
            }

            .about-targets {
                margin: 30px 0px 0px 0px;

                .about-targets-offer {
                    text-decoration: none;
                }
            }

            .about-matrix-link {
                color: @c-active;
                text-decoration: none;
            }

            .about-contacts {
                margin: 10px 0px 0px 0px;
                list-style-type: square;

                .about-contacts-item {

                    .about-contacts-link {
                        color: @c-active;
                        text-decoration: none;
                    }
                }
            }

            .about-links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: solid 1px @c-smoke;
                margin: 60px 0 48px 0;
                min-height: 58px;
                align-items: flex-end;
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-style: normal;

                .about-links-share {
                    display: flex;
                    flex-direction: column;

                    .about-links-share-title {
                        font-size: 16px;
                        color: @c-disabled;
                        margin: 21px 0px 17px 0px;
                    }

                    .share-network-list {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: start;
                        max-width: 1000px;
                        margin: auto;
                        align-items: center;

                        .share-network-item {
                            display: flex;
                            color: @c-background-light;
                            height: 35px;
                            border-radius: 3px;
                            overflow: hidden;
                            flex-direction: row;
                            align-content: center;
                            font-size: 14px;
                            align-items: center;
                            cursor: pointer;
                            margin: 0 10px 10px 0;

                            .share-network-icon {
                                background-color: rgba(0, 0, 0, 0.2);
                                padding: 10px;

                                .share-network-icon-inner {
                                    width: 25px;
                                    border-bottom: 2px solid @c-background-light;
                                    padding: 2px;
                                }
                            }

                            .share-network-label {
                                max-width: 0px;
                                transition: 1.5s;
                                display: flex;
                                justify-content: center;
                                overflow: hidden;

                                span {
                                    font-size: 14px;
                                    padding: 0 10px;
                                    font-weight: 500;
                                    margin: 0px 20px;
                                }
                            }


                            &:hover .share-network-label {
                                max-width: 120px;
                            }

                            &:focus .share-network-label {
                                max-width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
</style>
