<template>
  <div class="directory-container" :style="{padding: titlePadding, margin: containerMargin}">
    <div class="directory-container-inner">
      <div class="directory-title">
        <div class="directory-title-inner">
          <h1 class="directory-title-label">
            Справочник
          </h1>
        </div>
      </div>
      <p class="directory-title-1">
        Сбор информации о трудовых конфликтах осуществляется по территории РФ и стран ближнего зарубежья. Акции, носящие общегражданский, а не трудовой характер, и не очерчивающиеся рамками конкретного предприятия или трудового коллектива, не учитываются.
      </p>
      <br>
      <br>
      <p class="directory-title-2">
        Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта. Каждое событие встраивается в хронологическую цепочку с другими событиями в рамках того или иного трудового конфликта. Все события подтверждаются ссылками на источники в СМИ или получены непосредственно из первых рук и подтверждаются фото- и видеоматериалами.
      </p>
      <br>
      <br>
      <ul class="directory-list-1">
        <p>Конфликты классифицируются по следующим критериям:</p>
        <li>Отрасль экономики (добывающая промышленность, строительство и т.п.);</li>
        <li>Форма (тип) конфликта(забастовка, демонстрация, обращение и т.п.);</li>
        <li>Причина (задержка зарплаты, оплата труда, условия труда и т.п.);</li>
        <li>Результат (удовлетворены частично, полностью или не удовлетворены);</li>
        <li>Статус (незавершённое, завершённое);</li>
        <li>Местоположение;</li>
      </ul>
      <br>
      <br>
      <ul class="directory-list-2">
        <p>События классифицируются по следующим критериям:</p>
        <li>Статус (начальное, развитие, завершающее);</li>
        <li>Форма (тип) события (забастовка, демонстрация, обращение и т.п.);</li>
        <li>Местоположение.</li>
      </ul>
      <br>
      <br>
      <ul class="directory-list-3">
        <p>В нашем проекте приняты следующая классификация и определения форм трудовых конфликтов:</p>
        <li>Угроза - угроза трудового коллектива, предъявленная в той или иной форме (зачастую в форме ультиматума), о проведении коллективных действий.</li>
        <li>Ст. 142 ТК РФ - действия трудового коллектива на территории РФ, предусмотренные статьёй 142 ТК РФ, а именно приостановка работы до погашения долгов по заработной плате.</li>
        <li>Переговоры - коммуникация между сторонами трудового конфликта с целью его разрешения.</li>
        <li>Забастовка - добровольный отказ трудового коллектива продолжать работу на прежних условиях, следствием которого стала остановка рабочего процесса предприятия.</li>
        <li>Забастовка частичная - добровольный отказ продолжать работу на прежних условиях части трудового коллектива или в определённые временные интервалы, в том числе сюда же относится забастовка по правилам ("итальянская забастовка").</li>
        <li>Перекрытие магистралей - действия трудового коллектива, обеспечивающие полную или частичную блокировку движения транспорта на участке дорожной сети.</li>
        <li>Суд - участие трудового коллектива в судебном процессе, предметом рассмотрения которого является трудовой конфликт.</li>
        <li>Расследование - та или иная форма вмешательства органов власти в ход трудового конфликта.</li>
        <li>Отказ от переработок - добровольный отказ от сверхурочной работы в будние и выходные дни.</li>
        <li>Массовое увольнение - согласованное добровольное увольнение работников или написание заявления на увольнение.</li>
        <li>Обращение - публичные обращение трудового коллектива в различные органы власти, администрации предприятия, средства массовой информации.</li>
        <li>Демонстрация - форма публичного мероприятия, организованного в рамках трудового конфликта.</li>
        <li>Голодовка - добровольный отказ работников от принятия пищи в рамках трудового конфликта.</li>
        <li>Столкновение - Открытая прямая активная форма противостояния работников в трудовом конфликте.</li>
        <li>Саботаж - умышленный срыв рабочего процесса трудовым коллективом или уничтожение результатов труда.</li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';

// eslint-disable-next-line no-undef
@Component({
  layout: 'onlyEvents',
  head() {
    return {
      title: 'Справочник - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/directory',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Справочник - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/directory',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Справочник - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Directory extends Vue {
  private get titlePadding(): string {
    return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 40px 10px';
  }

  private get containerMargin(): string {
    return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 20px';
  }

  private mounted(): void {
    this.$store.commit('SET_MENU', false);
    this.$store.commit('SET_SPINNER', true);
    // Срабатывает при переходе между страницами
    if (document && (document.readyState === 'complete')) {
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 1000);
    }
    // Срабатывает при первоначальной загрузке сайта
    if (window) {
      window.onload = () => {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 200);
      };
    }
    // Срабатывает в любом случае через 10 сек
    setTimeout(() => {
      this.$store.commit('SET_SPINNER', false);
    }, 10000);
  }
}
</script>

<style lang="less" scoped>
    .directory-container {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        font-family: 'San Francisco Pro';
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        margin: 20px;
        text-align: justify;

        .directory-container-inner {
            width: 100%;
            min-height: 1000px;
            display: flex;
            flex-direction: column;
            background-color: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);
            padding: 42px;

            .directory-title {
                display: flex;
                flex-direction: column;
                align-items: center;

                .directory-title-inner {
                    max-width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: @c-primary;

                    .directory-title-label {
                        max-width: 100%;
                        margin: 0px 0px 0px 8px;
                        font-family: 'Futura New';
                        font-weight: 500;
                        font-size: 24px;
                        font-style: normal;
                        word-wrap: break-word;
                    }
                }
            }

            .directory-title-1 {
                margin-top: 40px;
            }

            .directory-title-2 {
            }

            .directory-list-1 {
                p {
                    margin-bottom: 10px;
                }

                li {
                    display: list-item;
                    list-style-type: square; /* Маркеры в виде квадрата */
                    margin-top: 7px;
                    margin-left: 16px;
                }
            }

            .directory-list-2 {
                 p {
                     margin-bottom: 10px;
                 }

                 li {
                     display: list-item;
                     list-style-type: square; /* Маркеры в виде квадрата */
                     margin-top: 7px;
                     margin-left: 16px;
                 }
             }

            .directory-list-3 {
                p {
                    margin-bottom: 10px;
                }

                li {
                    display: list-item;
                    list-style-type: square; /* Маркеры в виде квадрата */
                    margin-top: 7px;
                    margin-left: 16px;
                }
            }
        }
    }

</style>
