<template>
  <div class="donate-container" :style="{padding: titlePadding, margin: containerMargin}">
    <div class="donate-container-inner" :style="{padding: cardPadding}">
      <div class="donate-title">
        <div class="donate-title-inner">
          <picture>
            <source srcset="@/assets/imag/coins.webp" type="image/webp">
            <img class="donate-title-imag" tabindex="-1" src="@/assets/imag/coins.png" width="50" height="50">
          </picture>
          <h1 class="donate-title-label" :style="{'font-size': titleFont}">
            Помощь проекту
          </h1>
        </div>
      </div>
      <div class="donate-content">
        <p class="donate-content-inner" :style="{'font-size': contentFont}">
          Если вам нравится наша работа, вы можете поддержать проект финансово. Для этого мы создали <a :href="donateLink" class="donate-link">отдельную страницу</a> в платежном сервисе Liberapay.
          Liberapay часто используется для поддержки open source разработчиков, позволяя проводить как разовые, так и регулярные платежи в пользу того или иного проекта.
          <br>
          Все вырученные средства пойдут на оплату используемый серверов и сертификатов безопасности, а также позволят нам покрыть издержки на дальнейшее развитие сайта.
        </p>
      </div>
      <a :href="donateLink" class="donate-image-container" :style="{margin: imageMargin}">
        <picture>
          <source srcset="/imag/liberapay.webp" type="image/webp">
          <img alt="" tabindex="-1" class="donate-image" src="/imag/liberapay.jpg">
        </picture>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';

@Component({
  layout: 'sidebarOff',
  head() {
    return {
      title: 'Помощь проекту - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: '@nuxt_js' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/donate',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Помощь проекту - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/donate',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Помощь проекту - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Donate extends Vue {
    private donateLink: string = '';

    private get cardPadding(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '20px 20px 20px 20px' : '42px 42px 42px 42px';
    }

    private get containerMargin(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 20px';
    }

    private get titlePadding(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 40px 10px';
    }

    private get imageMargin(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '20px 5px 10px 5px' : '50px 10px 20px 10px';
    }

    private get contentFont(): string {
      return (this.$mq === 'xsm') ? '12px' : '16px';
    }

    private get titleFont(): string {
      return (this.$mq === 'xsm') ? '18px' : '24px';
    }

    private mounted(): void {
      this.$router.push('/');
      this.$store.commit('SET_MENU', false);
      this.$store.commit('SET_SPINNER', true);
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
      this.donateLink = 'http://liberapay.com/Zabastcom/donate';
    }
}
</script>

<style lang="less">
    .donate-container {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px 40px 10px;
        font-family: 'San Francisco Pro';
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        margin: 20px;
        text-align: justify;

        .donate-container-inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);
            padding: 42px;

            .donate-link {
                text-decoration: none;
                color: @c-royal-blue;
            }

            .donate-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 50px;

                .donate-title-inner {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: @c-primary;

                    .donate-title-imag {
                    }

                    .donate-title-label {
                        margin: 0px 0px 0px 8px;
                        font-family: 'Futura New';
                        font-weight: 500;
                        font-size: 24px;
                        font-style: normal;
                    }
                }
            }

            .donate-image-container {
                padding: 10px 0px 40px 0px;
                margin: 50px 10px 10px 10px;
                max-width: 600px;
                width: 100%; /* Ширина изображений */
                -o-object-fit: contain;
                object-fit: contain;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: all .6s ease-out;
                box-shadow: 0px 5px 25px @c-dark-shadow-color;
                border: 1px solid rgba(1, 1, 1, 0);

                .donate-image {
                    width: 100%;
                }

                &:hover {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }

            .donate-content {
                .donate-content-inner {
                    font-size: 16px;
                    font-style: italic;
                    font-family: 'Futura New';
                }
            }
        }
    }
</style>
