<template>
  <div class="index-container">
    <section class="index-container-inner">
      <h1 class="event-title" :style="{'font-size': titleFont, margin: titleMargin}">
        Главная лента событий по рабочему движению
      </h1>
      <div v-if="$mq !== 'xsm' && $mq !== 'msm'" class="event-switcher" :style="{'max-width': eventSwitcherWidth}">
        <strikecom-button
          v-for="switchButton of switchButtons"
          :key="switchButton.key"
          class="switch-button"
          :is-opened="(currentKey === switchButton.title)"
          @mousedown="switchEvents(switchButton.title)"
        >
          <p>
            {{ switchButton.title }}
          </p>
        </strikecom-button>
      </div>
      <div class="event-list">
        <div v-for="eventItem of eventItemArr" :key="eventItem.id" class="view-block">
          <event-card :i-event="eventItem" type="events" :card-size="cardSize" />
        </div>
      </div>
      <div v-if="!endLoading && (pagesLoaded % 2 === 0)" class="event-some-more">
        <strikecom-button class="some-more-button" @mousedown="addSomeMore">
          <p>
            Загрузить еще
          </p>
        </strikecom-button>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import qs from 'qs';
import {
  AutocompleteItem,
  EventFilters,
  EventRequest,
  EventSort,
  IEvent,
  SwitchButton,
} from '@/components/api/index';
import { eventStatusesMap } from '@/components/maps/index';
import EventCard from '@/components/EventCard.vue';
import StrikecomButton from '@/components/StrikecomButton.vue';

@Component({
  components: { EventCard, StrikecomButton },
  head() {
    return {
      title: 'Забастком агрегатор новостей о трудовых конфликтах - рабочие забастовки в России и СНГ 2021',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Проект нацелен на поддержку рабочего движения и освещение новостей о событиях, причиной которых послужил конфликт интересов работодателя и наемных работников.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: '@nuxt_js' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Забастком агрегатор новостей о трудовых конфликтах - рабочие забастовки в России и СНГ 2021',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Проект нацелен на поддержку рабочего движения и освещение новостей о событиях, причиной которых послужил конфликт интересов работодателя и наемных работников.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/index-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Забастком агрегатор новостей о трудовых конфликтах - рабочие забастовки в России и СНГ 2021',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Проект нацелен на поддержку рабочего движения и освещение новостей о событиях, причиной которых послужил конфликт интересов работодателя и наемных работников.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/index-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/index-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Index extends Vue {
    private eventItemArr: IEvent[] = [];

    private type: string = 'events';

    private currentKey: string = 'all';

    private perPage: number = 7;

    private pagesLoaded: number = 1;

    private language: string = 'Ru';

    private endLoading: boolean = false;

    private scrollLoading = false;

    private filters: EventFilters = {
      published: true,
    };

    private sort: EventSort = {
      field: 'createdAt',
      order: 'desc',
    };

    private switchButtons: SwitchButton[] = [
      {
        key: 'new',
        title: 'Новые конфликты',
      },
      {
        key: 'intermediate',
        title: 'Конфликты в развитии',
      },
      {
        key: 'final',
        title: 'Завершенные конфликты',
      },
    ];

    private eventStatuses: AutocompleteItem [] = Array.from(eventStatusesMap.keys()).map((item) => {
      return {
        text: item,
        value: eventStatusesMap.get(item),
      };
    });

    private get cardSize(): string {
      if (this.$mq === 'lg') return 'large';
      if (this.$mq === 'xsm' || this.$mq === 'msm') return 'small';
      return 'middle';
    }

    private get eventSwitcherWidth(): string {
      return (this.$mq === 'lg') ? '855px' : '500px';
    }

    private get titleFont(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '20px' : '24px';
    }

    private get titleMargin(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 5px 0px 5px' : ' 37px 5px 0px 5px';
    }

    private async switchEvents(key: string): Promise<void> {
      this.clearFocus();
      this.filters.eventStatusIds = [];
      if (this.currentKey !== key) {
        this.filters.eventStatusIds.push(eventStatusesMap.get(key) as number);
        this.currentKey = key;
      } else {
        this.currentKey = 'all';
      }
      this.pagesLoaded = 1;
      this.endLoading = false;
      const eventRequest: EventRequest = {
        page: '1',
        perPage: this.perPage.toString(),
        filters: this.filters,
        sort: this.sort,
      };
      const newItems: IEvent[] = await this.itemRequest(eventRequest);
      this.eventItemArr = [];
      this.eventItemArr.push(...newItems);
      if (newItems.length < this.perPage) {
        this.endLoading = true;
      }
    }

    private async itemRequest(eventRequest: EventRequest, type: string = this.type, language: string = this.language): Promise<IEvent[]> {
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      return (await this.$axios.$get(url, {
        params: eventRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      })).data as IEvent[];
    }

    private async addSomeMore(): Promise<void> {
      this.pagesLoaded += 1;
      const eventRequest: EventRequest = {
        page: this.pagesLoaded.toString(),
        perPage: this.perPage.toString(),
        filters: this.filters,
        sort: this.sort,
      };

      this.itemRequest(eventRequest).then((newItems: IEvent[]) => {
        this.eventItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
        window.scrollBy(0, 1);
        window.scrollBy(0, -1);
      });
    }

    private async scrollEvents(): Promise<void> {
      this.scrollLoading = true;
      window.onscroll = () => {
        const bottomOfWindow = document.documentElement.scrollTop + window.innerHeight > document.documentElement.offsetHeight - 2000;
        if (!this.endLoading && this.scrollLoading && bottomOfWindow && (this.pagesLoaded % 4 !== 0)) {
          this.pagesLoaded += 1;
          const eventRequest: EventRequest = {
            page: this.pagesLoaded.toString(),
            perPage: this.perPage.toString(),
            filters: this.filters,
            sort: this.sort,
          };

          this.scrollLoading = false;
          this.itemRequest(eventRequest).then((newItems: IEvent[]) => {
            this.eventItemArr.push(...newItems);
            if (newItems.length < this.perPage) {
              this.endLoading = true;
            }
            setTimeout(() => {
              this.scrollLoading = true;
            }, 1000);
            window.scrollBy(0, 1);
            window.scrollBy(0, -1);
          });
        }
      };
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private async fetch(): Promise<void> {
      this.pagesLoaded = 1;
      this.endLoading = false;
      const eventRequest: EventRequest = {
        page: '1',
        perPage: this.perPage.toString(),
        filters: this.filters,
        sort: this.sort,
      };
      try {
        const newItems: IEvent[] = await this.itemRequest(eventRequest);
        this.eventItemArr = [];
        this.eventItemArr.push(...newItems);
        if (!this.eventItemArr.length) {
          this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
        }
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } catch (e) {
        this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
        this.endLoading = true;
      }
    }

    private mounted(): void {
      this.$store.commit('SET_MENU', false);
      this.$store.commit('SET_SPINNER', true);
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
      this.scrollEvents();
    }
}
</script>

<style lang="less" scoped>
    .index-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 0px;
    }

    .index-container-inner {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .event-title {
        margin: 37px 5px 0px 5px;
        font-family: 'San Francisco Pro';
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }

    .view-block {
        margin: 30px 0px 30px 0px;
    }

    .event-switcher {
        width: 100%;
        margin: 20px 0px 10px 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .switch-button {
            width: 198px;
            margin: 10px 5px 5px 10px;
            font-size: 14px;
        }
    }

    .event-some-more {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        .some-more-button{
            font-size: 16px;
            min-width: 150px;
            width: 50%;
            min-height: 50px;
            padding: 0px;
        }
    }
</style>
