<template>
  <div class="map-container">
    <event-map
      class="event-map"
      :i-events="conflictItemArr"
      :style="{
        'height': mapHeight,
      }"
    />
    <div class="map-filter">
      <h2 class="map-filter-title">
        Фильтры
      </h2>
      <div
        class="map-filter-inner"
        :style="{
          'flex-direction': filterFlexDirection,
        }"
      >
        <div
          class="map-filter-first"
          :class="{
            'first-border-right': filterFirstBorderRight,
          }"
        >
          <div class="map-filter-reason">
            <h3 class="map-filter-reason-title">
              Причина конфликта:
            </h3>
            <div class="conflict-switcher" :style="{ 'max-width': conflictSwitcherWidth }">
              <strikecom-button
                v-for="switchButton of conflictReasonButtons"
                :key="switchButton.key"
                class="switch-button"
                :is-opened="currentReasonKey.includes(conflictReasonMapKey(switchButton.key))"
                @mousedown="switchConflictReasons(switchButton.key)"
              >
                <p>
                  {{ switchButton.title }}
                </p>
              </strikecom-button>
            </div>
          </div>
          <div class="map-filter-result">
            <h3 class="map-filter-result-title">
              Требования:
            </h3>
            <div class="map-filter-result-buttons conflict-switcher" :style="{ 'max-width': conflictSwitcherWidth }">
              <strikecom-button
                v-for="switchButton of conflictResultButtons"
                :key="switchButton.key"
                class="switch-button"
                :is-opened="currentResultKey.includes(conflictResultMapKey(switchButton.key))"
                @mousedown="switchConflictResults(switchButton.key)"
              >
                <p>
                  {{ switchButton.title }}
                </p>
              </strikecom-button>
            </div>
          </div>
        </div>
        <div
          class="map-filter-date"
          :class="{ 'datepicker-vertical': datepickerVertical, 'datepicker-horizontal': !datepickerVertical }"
        >
          <h3 class="map-filter-date-title">
            Период конфликта:
          </h3>
          <div class="map-filter-inner">
            <date-picker
              v-model="conflictPeriod"
              class="map-filter-date-picker"
              :open="true"
              value-type="format"
              :popup-style="{ top: '100%', left: 0, right: 0}"
              :append-to-body="false"
              range
              @change="switchConflictPeriod()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import EventMap from '@/components/EventMap.vue';
import { ConflictFilters, ConflictRequest, IConflict, SwitchButton } from '@/components/api/index';
import qs from 'qs';
import { conflictReasonMap, conflictResultMap } from '@/components/maps';

@Component({
  components: { EventMap },
  layout: 'onlyEvents',
  head() {
    return {
      title: 'Карта событий - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Портал позволяет просматривать распределение трудовых конфликтов по регионам на карте.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/map',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Карта событий - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Портал позволяет просматривать распределение трудовых конфликтов по регионам на карте.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/map-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/map',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Карта событий - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Портал позволяет просматривать распределение трудовых конфликтов по регионам на карте.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/map-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/map-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Map extends Vue {
    private newItems: IConflict[] = [];

    private conflictItemArr: IConflict[] = [];

    private conflictPeriod: any = null;

    private perPage: number = 800;

    private timeoutArr: any[] = [];

    private type: string = 'conflicts';

    private language: string = 'Ru';

    private currentReasonKey: number[] = [];

    private currentResultKey: number[] = [];

    private filters: ConflictFilters = {};

    private conflictReasonButtons: SwitchButton[] = Array.from(conflictReasonMap.keys()).map((item: string) => {
      return {
        key: item,
        title: item,
      };
    });

    private conflictResultButtons: SwitchButton[] = Array.from(conflictResultMap.keys()).map((item: string) => {
      return {
        key: item,
        title: item,
      };
    });

    private get mapHeight(): string {
      if (this.$mq === 'xsm') {
        return '350px';
      }
      if (this.$mq === 'msm') {
        return '350px';
      }
      if (this.$mq === 'sm') {
        return '450px';
      }
      if (this.$mq === 'md') {
        return '600px';
      }
      return '800px';
    }

    private get datepickerVertical(): boolean {
      return (this.$mq !== 'lg');
    }

    private get filterFlexDirection(): string {
      return (this.$mq === 'lg' || this.$mq === 'md' || this.$mq === 'sm') ? 'row' : 'column';
    }

    private get filterFirstBorderRight(): boolean {
      return (this.$mq === 'lg' || this.$mq === 'md' || this.$mq === 'sm');
    }

    private get conflictSwitcherWidth(): string {
      return (this.$mq === 'lg') ? '855px' : '500px';
    }


    // eslint-disable-next-line class-methods-use-this
    private conflictReasonMapKey(key: string): number | undefined {
      return conflictReasonMap.get(key);
    }

    // eslint-disable-next-line class-methods-use-this
    private conflictResultMapKey(key: string): number | undefined {
      return conflictResultMap.get(key);
    }

    private async switchConflictReasons(key: string): Promise<void> {
      this.clearFocus();
      this.timeoutArr.forEach((item: any) => {
        clearTimeout(item);
      });
      this.timeoutArr = [];
      const conflictReasonMapKey = this.conflictReasonMapKey(key);
      if (conflictReasonMapKey) {
        if (this.currentReasonKey.includes(conflictReasonMapKey)) {
          this.currentReasonKey.splice(this.currentReasonKey.indexOf(conflictReasonMapKey), 1);
        } else if (conflictReasonMapKey) {
          this.currentReasonKey.push(conflictReasonMapKey);
        }
      }
      this.filters.conflictReasonIds = this.currentReasonKey;
      const conflictRequest: ConflictRequest = {
        page: '1',
        perPage: '100000',
        filters: this.filters,
      };
      const newItems: IConflict[] = await this.itemRequest(conflictRequest);
      this.conflictItemArr = [];
      this.conflictItemArr.push(...newItems);
    }

    private async switchConflictResults(key: string): Promise<void> {
      this.clearFocus();
      this.timeoutArr.forEach((item: any) => {
        clearTimeout(item);
      });
      this.timeoutArr = [];
      const conflictResultMapKey = this.conflictResultMapKey(key);
      if (conflictResultMapKey) {
        if (this.currentResultKey.includes(conflictResultMapKey)) {
          this.currentResultKey.splice(this.currentResultKey.indexOf(conflictResultMapKey), 1);
        } else {
          this.currentResultKey.push(conflictResultMapKey);
        }
      }
      this.filters.conflictResultIds = this.currentResultKey;
      const conflictRequest: ConflictRequest = {
        page: '1',
        perPage: '100000',
        filters: this.filters,
      };
      const newItems: IConflict[] = await this.itemRequest(conflictRequest);
      this.conflictItemArr = [];
      this.conflictItemArr.push(...newItems);
    }

    private async switchConflictPeriod(): Promise<void> {
      this.clearFocus();
      this.timeoutArr.forEach((item: any) => {
        clearTimeout(item);
      });
      this.timeoutArr = [];
      this.filters.dateFrom = undefined;
      this.filters.dateTo = undefined;
      if (this.conflictPeriod) {
        this.filters.dateFrom = this.$moment(new Date(this.conflictPeriod[0])).unix() ? this.$moment(new Date(this.conflictPeriod[0])).unix() : undefined;
        this.filters.dateTo = this.$moment(new Date(this.conflictPeriod[1])).unix() ? this.$moment(new Date(this.conflictPeriod[1])).unix() : undefined;
      }
      const conflictRequest: ConflictRequest = {
        page: '1',
        perPage: '100000',
        filters: this.filters,
      };
      const newItems: IConflict[] = await this.itemRequest(conflictRequest);
      this.conflictItemArr = [];
      this.conflictItemArr.push(...newItems);
    }

    private async itemRequest(
      conflictRequest: ConflictRequest,
      type: string = this.type,
      language: string = this.language,
    ): Promise<IConflict[]> {
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      return (
            await this.$axios.$get(url, {
              params: conflictRequest,
              paramsSerializer: (params) => {
                return qs.stringify(params, { allowDots: true });
              },
            })
        ).data as IConflict[];
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private async fetch(): Promise<void> {
      this.timeoutArr.forEach((item: any) => {
        clearTimeout(item);
      });
      this.timeoutArr = [];
      this.conflictItemArr = [];
      const conflictRequest: ConflictRequest = {
        page: '1',
        perPage: '100000',
      };
      this.newItems = await this.itemRequest(conflictRequest);
    }

    private mounted(): void {
      this.$store.commit('SET_MENU', false);
      this.$store.commit('SET_SPINNER', true);
      let pagesAdded = 1;
      let pagesLoaded = 0;
      for (let i = 1; i < 20; i++) {
        // eslint-disable-next-line no-loop-func
        const timeoutId = setTimeout(() => {
          pagesAdded *= 2;
          this.conflictItemArr.push(...this.newItems.slice(pagesLoaded, pagesLoaded + pagesAdded));
          pagesLoaded += pagesAdded;
        }, i * 500);
        this.timeoutArr.push(timeoutId);
      }
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
    }
}
</script>

<style lang="less" scoped>
.first-border-right {
    border-right: dashed 2px @c-active;
}

.datepicker-vertical {
    min-height: 650px;

    .map-filter-date-picker {
        max-width: 280px;
        min-width: 210px;

        /deep/ .mx-datepicker-main {
            z-index: 900;
        }

        /deep/ .mx-datepicker-content {
            z-index: 900;


            .mx-range-wrapper {
                flex-direction: column;
                z-index: 900;

                .mx-calendar-panel-date {
                    width: 100%;
                    z-index: 900;
                }

            }
        }
    }
}

.datepicker-horizontal {
    min-height: 480px;

    .map-filter-date-picker {
        min-width: 450px;
        max-width: 500px;

        /deep/ .mx-range-wrapper {
            flex-direction: row;
        }
    }
}

.map-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    font-family: 'San Francisco Pro';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    padding: 0px;

    .map-filter {
        display: flex;
        flex-direction: column;
        margin: 30px 0px 30px 0px;
        width: 100%;
        padding: 20px 0px 20px 0px;
        border: solid 3px @c-active;

        .map-filter-title {
            font-size: 18px;
            margin: 0px 0px 0px 25px;
        }

        .map-filter-inner {
            display: flex;
            flex-direction: row;

            .map-filter-first {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex-grow: 0;

                .map-filter-reason {
                    display: flex;
                    max-width: 444px;
                    flex-direction: column;
                    margin: 0px 0px 0px 15px;
                    padding: 10px 10px 10px 0px;

                    .map-filter-reason-title {
                        padding: 0px 0px 0px 10px;
                    }
                }

                .map-filter-result {
                    display: flex;
                    flex-direction: column;
                    width: 240px;
                    padding: 10px 10px 10px 15px;

                    .map-filter-result-title {
                        padding: 0px 0px 0px 10px;
                    }

                    .map-filter-result-buttons {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                    }
                }
            }

            .map-filter-date {
                display: flex;
                flex-direction: column;
                height: 500px;
                padding: 10px;
                flex-grow: 1;

                .map-filter-date-title {
                    padding: 0px 0px 0px 10px;
                }

                .map-filter-inner {
                    padding: 30px 0px 0px 10px;

                    .map-filter-date-picker {
                        width: 100%;
                    }
                }
            }
        }
        .conflict-switcher {
            width: 100%;
            margin: 20px 0px 10px 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;

            .switch-button {
                width: 198px;
                margin: 10px 5px 5px 10px;
                font-size: 14px;
            }
        }
    }

    .event-map {
        width: 100%;
        height: 800px;
    }
}
</style>
