<template>
  <v-app class="offer-container" height="50%">
    <v-container class="offer-container-inner" fluid>
      <v-item-group mandatory class="offer-item-group" @change="switchItem">
        <v-container fluid>
          <v-row class="offer-item-group-inner">
            <v-col
              v-for="(offerType, index) in offerTypes.filter((item) => {
                return (item.value !== 'success') && (item.value !== 'error');
              })"
              :key="offerType.value"
              cols="12"
              md="4"
            >
              <v-item>
                <v-card
                  :color="getColor(itemSelected,index)"
                  class="d-flex align-center"
                  dark
                  height="50"
                  @click="index ? itemSelected=index : itemSelected=itemSelected"
                >
                  <v-scroll-y-transition>
                    <div
                      class="flex-grow-1 text-center"
                    >
                      {{ offerType.text }}
                    </div>
                  </v-scroll-y-transition>
                </v-card>
              </v-item>
            </v-col>
          </v-row>
        </v-container>
      </v-item-group>
      <offer-info
        v-if="!checkUser"
        class="offer-conflict"
      />
      <offer-conflict
        v-else-if="itemSelected === 0"
        class="offer-conflict"
        @change-submit-status="changeSubmitStatus"
      />
      <offer-event
        v-else-if="itemSelected === 1"
        class="offer-conflict"
        @change-submit-status="changeSubmitStatus"
      />
      <offer-news
        v-else-if="itemSelected === 2"
        class="offer-conflict"
        @change-submit-status="changeSubmitStatus"
      />
      <offer-success
        v-else-if="itemSelected === 3"
        class="offer-conflict"
      />
      <offer-error
        v-else-if="itemSelected === 4"
        class="offer-conflict"
      />
    </v-container>
  </v-app>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import OfferConflict from '@/components/OfferConflict.vue';
import OfferEvent from '@/components/OfferEvent.vue';
import OfferNews from '@/components/OfferNews.vue';
import OfferError from '@/components/OfferError.vue';
import OfferSuccess from '@/components/OfferSuccess.vue';
import colorVariables from '@/components/maps/color';
import { OfferTypeItem } from '@/components/api';
import { offerTypesMap } from '@/components/maps';

@Component({
  components: { OfferConflict, OfferEvent, OfferNews, OfferSuccess, OfferError },
  layout: 'sidebarOff',
  head() {
    return {
      title: 'Предложить публикацию - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Опубликуйте интересующее вас событие или конфликт заполнив форму \'Предложить публикацию\'.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/offer',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Предложить публикацию - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Опубликуйте интересующее вас событие или конфликт заполнив форму \'Предложить публикацию\'.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/offer-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/offer',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Предложить публикацию - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Опубликуйте интересующее вас событие или конфликт заполнив форму \'Предложить публикацию\'.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/offer-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/offer-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Offer extends Vue {
        private activeItemColor: string = colorVariables['c-active'];

        private baseItemColor: string = colorVariables['c-grey'];

        private disabledItemColor: string = colorVariables['c-disabled'];

        private itemSelected: number = 1;

        // eslint-disable-next-line class-methods-use-this
        private get offerTypes(): OfferTypeItem [] {
          const offerTypes = Array.from(offerTypesMap.keys()).map((item) => {
            const value: string | undefined = offerTypesMap.get(item);
            return {
              text: item,
              value: value || '',
            };
          });
          offerTypes.push({
            text: 'success',
            value: 'success',
          });
          offerTypes.push({
            text: 'error',
            value: 'error',
          });
          return offerTypes;
        }

        private changeSubmitStatus(status: string): void {
          if (status === 'OK') {
            this.switchItem(3);
          } else if (status === 'ERROR') {
            this.switchItem(4);
          }
        }

        private getColor(itemSelected: number, index: number): string {
          if (index === 0) {
            return this.disabledItemColor;
          }
          if (index === itemSelected) {
            return this.activeItemColor;
          }
          return this.baseItemColor;
        }

        private switchItem(index: number): void {
          this.itemSelected = index;
        }

        private get checkUser(): boolean {
          return this.$store.getters.checkUser;
        }

        private mounted(): void {
          this.$store.commit('SET_MENU', false);
          this.switchItem(1);
          this.$store.commit('SET_SPINNER', true);
          // Срабатывает при переходе между страницами
          if (document && (document.readyState === 'complete')) {
            setTimeout(() => {
              this.$store.commit('SET_SPINNER', false);
            }, 1000);
          }
          // Срабатывает при первоначальной загрузке сайта
          if (window) {
            window.onload = () => {
              setTimeout(() => {
                this.$store.commit('SET_SPINNER', false);
              }, 200);
            };
          }

          // Срабатывает в любом случае через 10 сек
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 10000);
        }
}
</script>

<style lang="less">
    .offer-container {
        width: 100%;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'San Francisco Pro' !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        font-style: normal !important;
        margin: 4px;
        padding: 4px;
        background: inherit !important;

        .offer-container-inner {
            width: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .v-application--wrap {
                background: @c-background;
            }

            .offer-item-group {
                width: 100%;
                font-size: 18px;
                margin: 0px;
                padding: 0px;

                .offer-item-group-inner {
                    width: 100%;
                    margin: 10px 0px;
                }
            }

        }

        .offer-conflict{
            width: 100%;
        }
    }
</style>
