<template>
  <div class="personal-account">
    <div class="personal-account-card" :style="{'margin-left': personalAccountImgMargin }">
      <div v-if="checkUser == true" :style="{'justify-content': personalAccountMediaJustify , 'flex-direction': personalAccountMedia, 'min-height': personalAccountMediaHeight}" class="personal-account-all">
        <div :style="{'flex-direction': personalAccountMedia}" class="personal-account-left">
          <div class="personal-account-img">
            <img width="100px" height="100px" :src="downloadUserImg" class="uploading-image">
            <div class="download-img">
              <input type="file" @change="onChange">
              <p>Загрузить фото</p>
            </div>
          </div>
          <div :style="{'padding-left': personalAccountImgPadding}" class="personal-account-name">
            <p>{{ emailUser }}</p>
          </div>
        </div>
        <div class="personal-account-exit">
          <button @click.prevent="logoutUser">
            Выйти
          </button>
        </div>
      </div>
      <h1 class="personal-account-title">
        Отслеживаемые публикации
      </h1>
    </div>
    <v-app
      class="personal-input-container"
    >
      <div class="personal-container">
        <section class="personal-container-inner">
          <v-row
            class="personal-item-group-inner"
            :style="{
              'max-width': switcherMaxWidth
            }"
          >
            <v-col
              v-for="(searchType, index) in searchTypes"
              :key="searchType.value"
              cols="12"
              md="4"
            >
              <v-item>
                <v-card
                  :color="itemSelected===index ? activeItemColor : baseItemColor"
                  class="d-flex align-center"
                  dark
                  height="50"
                  @click="itemSelected=index"
                >
                  <v-scroll-y-transition>
                    <div
                      class="flex-grow-1 text-center"
                    >
                      {{ searchType.text }}
                    </div>
                  </v-scroll-y-transition>
                </v-card>
              </v-item>
            </v-col>
          </v-row>
          <event-filter class="event-filter-block" :filter-type="type" :opened="false" :size="eventFilterSize" @on-search="changeSearch" />
          <div v-if="itemSelected !== 0" class="event-list">
            <div v-for="eventItem of eventItemArr" :key="eventItem.id" class="view-block">
              <event-card :i-event="eventItem" :type="type" :card-size="eventCardSize" />
            </div>
            <div v-if="eventItemArr.length === 0" class="empty-search">
              Нет данных по вашему запросу
            </div>
          </div>
          <div v-else class="conflict-list">
            <div v-for="conflictItem of conflictItemArr" :key="conflictItem.id" class="view-block">
              <conflict-card :i-conflict="conflictItem" :card-size="conflictCardSize" />
            </div>
            <div v-if="conflictItemArr.length === 0" class="empty-search">
              Нет данных по вашему запросу
            </div>
          </div>
          <div v-if="!endLoading && (pagesLoaded % 4 === 0)" class="event-some-more">
            <strikecom-button class="some-more-button" @mousedown="addSomeMore">
              <p>
                Загрузить еще
              </p>
            </strikecom-button>
          </div>
        </section>
      </div>
    </v-app>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import firebase from 'firebase';
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import qs from 'qs';
import {
  ConflictFilters,
  ConflictRequest,
  EventFilters,
  EventRequest,
  IConflict,
  IEvent,
  NewsFilters,
  SearchTypeItem,
} from '@/components/api/index';
import colorVariables from '@/components/maps/color';
import { searchTypesMap } from '@/components/maps/index';
import EventCard from '@/components/EventCard.vue';
import EventFilter from '@/components/EventFilter.vue';
import StrikecomButton from '@/components/StrikecomButton.vue';


@Component({
  components: { EventCard, StrikecomButton, EventFilter },
  layout: 'sidebarOff',
  head() {
    return {
      title: 'Личный кабинет - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Вы можете просмотреть избранные новости в личном кабинете.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/personal-account',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Личный кабинет - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Вы можете просмотреть избранные новости в личном кабинете.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/index-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/personal-account',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Личный кабинет - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Вы можете просмотреть избранные новости в личном кабинете.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/index-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/index-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class personalAccount extends Vue {
    private previewImage = null;

    private userImage = null;

    private activeItemColor: string = colorVariables['c-active'];

    private baseItemColor: string = colorVariables['c-primary'];

    private searchInput: string = '';

    private endLoading: boolean = false;

    private itemSelected: number = 1;

    private eventItemArr: IEvent[] = [];

    private conflictItemArr: IConflict[] = [];

    private perPage: number = 7;

    private pagesLoaded: number = 1;

    private language: string = 'Ru';

    private filters: EventFilters = {
      favourites: true,
      published: true,
    };

    private searchTypes: SearchTypeItem [] = Array.from(searchTypesMap.keys()).map((item) => {
      const value: string | undefined = searchTypesMap.get(item);
      return {
        text: item,
        value: value || '',
      };
    });

    private searchInputRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов'];

    private get emailUser(): string {
      return this.$store.state.email ? this.$store.state.email : '';
    }

    private get checkUser(): boolean {
      return this.$store.getters.checkUser;
    }

    private get type(): string {
      if (this.itemSelected === 0) return 'conflicts';
      if (this.itemSelected === 1) return 'events';
      return 'news';
    }

    private get eventCardSize(): string {
      if (this.$mq === 'lg') return 'large';
      if (this.$mq === 'xsm') return 'small';
      return 'middle';
    }

    private get eventFilterSize(): string {
      if ((this.$mq === 'lg') || (this.$mq === 'md')) return 'large';
      if ((this.$mq === 'xsm') || (this.$mq === 'msm')) return 'small';
      return 'middle';
    }

    private get conflictCardSize(): string {
      return this.$mq.toString();
    }

    private get authorizationToken(): string {
      return this.$store.getters.authorizationToken;
    }

    private get switcherMaxWidth(): string {
      return (this.eventCardSize === 'large') ? '855px' : '100%';
    }

    private get downloadUserImg(): string {
      return this.$store.state.userImg;
    }

    private get personalAccountMedia() {
      return ((this.$mq !== 'lg') && (this.$mq !== 'md')) ? 'column' : 'row';
    }

    private get personalAccountMediaHeight() {
      return ((this.$mq !== 'lg') && (this.$mq !== 'md')) ? '300px' : '200px';
    }

    private get personalAccountImgPadding() {
      return ((this.$mq !== 'lg') && (this.$mq !== 'md')) ? '0px' : '20px';
    }

    private get personalAccountMediaJustify() {
      return ((this.$mq !== 'lg') && (this.$mq !== 'md')) ? 'space-around' : 'space-between';
    }

    private get personalAccountImgMargin() {
      return ((this.$mq !== 'lg') && (this.$mq !== 'md')) ? '0px' : '20px';
    }

    private logoutUser(): void {
      this.$router.push('/');
      this.$store.dispatch('logoutUser');
    }

    private async changeSearch(filters: EventFilters | ConflictFilters | NewsFilters): Promise<void> {
      this.filters = filters;
      this.filters.favourites = true;
      this.filters.published = true;
      this.pagesLoaded = 1;
      this.endLoading = false;
      if (this.itemSelected === 0) {
        const conflictRequest: ConflictRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
        };
        const newItems: IConflict[] = await this.conflictItemRequest(conflictRequest);
        this.conflictItemArr = [];
        this.conflictItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } else {
        const eventRequest: EventRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
        };
        const newItems: IEvent[] = await this.eventItemRequest(eventRequest);
        this.eventItemArr = [];
        this.eventItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      }
    }

    @Watch('type')
    private async switchType(): Promise<void> {
      this.pagesLoaded = 1;
      this.endLoading = false;
      if (this.itemSelected === 0) {
        const conflictRequest: ConflictRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
        };
        const newItems: IConflict[] = await this.conflictItemRequest(conflictRequest);
        this.conflictItemArr = [];
        this.conflictItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } else {
        const eventRequest: EventRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
        };
        const newItems: IEvent[] = await this.eventItemRequest(eventRequest);
        this.eventItemArr = [];
        this.eventItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      }
    }

    private async eventItemRequest(eventRequest: EventRequest, type: string = this.type, language: string = this.language): Promise<IEvent[]> {
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      let source = this.$axios.CancelToken.source();
      // Прерывание запроса через 10 секунд
      setTimeout(() => {
        source.cancel();
        source = this.$axios.CancelToken.source();
      }, 10000);
      return ((await this.$axios.$get(url, {
        cancelToken: source.token,
        headers: this.authorizationToken ? {
          Authorization: `Bearer ${this.authorizationToken}`,
        } : null,
        params: eventRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      }))).data as IEvent[];
    }

    private async conflictItemRequest(conflictRequest: ConflictRequest, type: string = this.type, language: string = this.language): Promise<IConflict[]> {
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      let source = this.$axios.CancelToken.source();
      // Прерывание запроса через 10 секунд
      setTimeout(() => {
        source.cancel();
        source = this.$axios.CancelToken.source();
      }, 10000);
      return ((await this.$axios.$get(url, {
        cancelToken: source.token,
        headers: this.authorizationToken ? {
          Authorization: `Bearer ${this.authorizationToken}`,
        } : null,
        params: conflictRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      }))).data as IConflict[];
    }

    private async addSomeMore(): Promise<void> {
      this.pagesLoaded += 1;
      if (this.itemSelected === 0) {
        const conflictRequest: ConflictRequest = {
          page: this.pagesLoaded.toString(),
          perPage: this.perPage.toString(),
          filters: this.filters,
        };

        this.conflictItemRequest(conflictRequest).then((newItems: IConflict[]) => {
          this.conflictItemArr.push(...newItems);
          if (newItems.length < this.perPage) {
            this.endLoading = true;
          }
        });
      } else {
        const eventRequest: EventRequest = {
          page: this.pagesLoaded.toString(),
          perPage: this.perPage.toString(),
          filters: this.filters,
        };

        this.eventItemRequest(eventRequest).then((newItems: IEvent[]) => {
          this.eventItemArr.push(...newItems);
          if (newItems.length < this.perPage) {
            this.endLoading = true;
          }
        });
      }
    }

    private async scrollEvents(): Promise<void> {
      window.onscroll = () => {
        const bottomOfWindow = document.documentElement.scrollTop + window.innerHeight > document.documentElement.offsetHeight - 5;
        if (!this.endLoading && bottomOfWindow && (this.pagesLoaded % 4 !== 0)) {
          this.pagesLoaded += 1;
          if (this.itemSelected === 0) {
            const conflictRequest: ConflictRequest = {
              page: this.pagesLoaded.toString(),
              perPage: this.perPage.toString(),
              filters: this.filters,
            };

            this.conflictItemRequest(conflictRequest).then((newItems: IConflict[]) => {
              this.conflictItemArr.push(...newItems);
              if (newItems.length < this.perPage) {
                this.endLoading = true;
              }
            });
          } else {
            const eventRequest: EventRequest = {
              page: this.pagesLoaded.toString(),
              perPage: this.perPage.toString(),
              filters: this.filters,
            };

            this.eventItemRequest(eventRequest).then((newItems: IEvent[]) => {
              this.eventItemArr.push(...newItems);
              if (newItems.length < this.perPage) {
                this.endLoading = true;
              }
            });
          }
        }
      };
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private async onChange(event: any): Promise<void> {
      const file = event.target ? event.target.files[0] : null;
      if (file) {
        this.$store.commit('SET_SPINNER', true);
        await firebase.auth().onAuthStateChanged((user) => {
          if (user) {
            firebase.storage().ref(`users/${user.uid}/profile.jpg`).put(file);
            firebase.storage().ref(`users/${user.uid}/profile.jpg`).getDownloadURL()
              .then((imgUrl) => {
                this.$store.commit('SET_USER_IMG', imgUrl);
                setTimeout(() => {
                  // eslint-disable-next-line no-restricted-globals
                  location.reload();
                }, 1000);
                this.$store.commit('SET_SPINNER', false);
              })
              .catch(() => {
                this.$store.commit('SET_SPINNER', false);
              });
          }
        });
      }
    }

    @Watch('authorizationToken')
    private async itemLoading(): Promise<void> {
      this.pagesLoaded = 1;
      this.endLoading = false;
      if (this.itemSelected === 0) {
        const conflictRequest: ConflictRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
        };
        const newItems: IConflict[] = await this.conflictItemRequest(conflictRequest);
        this.conflictItemArr = [];
        this.conflictItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } else {
        const eventRequest: EventRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
        };
        const newItems: IEvent[] = await this.eventItemRequest(eventRequest);
        this.eventItemArr = [];
        this.eventItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      }
    }

    private async saveUser(): Promise<void> {
      await this.$store.dispatch('saveUser');
    }


    private async mounted(): Promise<void> {
      this.$store.commit('SET_MENU', false);
      await this.saveUser();
      setTimeout(() => {
        if (!this.checkUser) {
          this.$router.push('/');
        }
      }, 2000);
      this.$store.commit('SET_SPINNER', true);
      this.itemLoading();
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
    }
}
</script>

<style lang="less" scoped>
    .personal-account {
        display: flex;
        flex-direction: column;

        input::-webkit-file-upload-button { /* chromes and blink button */
            cursor: pointer;
        }

        .personal-account-all {
            font-family: 'San Francisco Pro';
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1000px;
            height: 200px;
            box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            margin-top: 50px;
            margin-bottom: 50px;

            .personal-account-left {
                display: flex;
                justify-content: center;
                align-items: center;

                .personal-account-img {
                    padding-top: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;

                    img {
                        border-radius: 50px;
                        display: flex;
                        object-fit: cover;
                    }

                    .download-img {
                        padding-top: 12px;
                        display: flex;
                        justify-content: center;
                        width: 120px;

                        input {
                            z-index: 2;
                            opacity: 0;
                            transition: 0.5s all;

                            &:hover + p {
                                transform: scale(1.1, 1.1);
                                color: @aut-icon-color-hover;
                            }
                        }

                        p {
                            z-index: 1;
                            position: absolute;
                            font-weight: bold;
                            transition: 0.5s all;
                        }
                    }

                }

                .personal-account-name {
                    padding-left: 50px;
                    font-size: 24px;
                    font-weight: bold;

                }
            }

            .personal-account-exit {
                margin-left: 50px;
                cursor: pointer;
                background-color: @c-primary;
                padding: 15px;
                border-radius: 7px;
                color: @c-background;
                margin-right: 50px;
                transition: 0.5s all;

                &:hover {
                    background-color: @c-grey;
                }
            }


        }

        .personal-account-title {
            font-family: 'San Francisco Pro';
            font-weight: 600;
            font-size: 18px;
            padding-bottom: 10px;
            font-style: italic;
            border-bottom: 1px solid @c-primary;
        }

        .personal-input-container {
            background: inherit !important;
            width: 100%;
            font-family: 'San Francisco Pro';
            font-weight: 400;
            font-size: 14px;
            font-style: normal;

            .personal-container {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                margin: 10px 0px;

                .personal-container-inner {
                    width: 100%;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0px;
                    margin: 24px 0px 0px 0px;

                    .empty-search {
                        margin: 70px;
                        font-size: 24px;
                        font-weight: 500;
                        color: @c-disabled;
                        text-align: center;
                    }

                    .personal-item-group-inner {
                        width: 100%;
                        margin: 0px 0px;
                        font-size: 18px;
                    }
                }
            }

            .view-block {
                margin: 30px 0px 30px 0px;
            }

            .event-switcher {
                margin: 20px 0px 10px 0px;
                padding: 0px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                .switch-button {
                    width: 198px;
                    margin: 10px 5px 5px 10px;
                    font-size: 14px;
                }
            }

            .event-filter-block {
                margin: 0px 0px 20px 0px;
                max-width: 900px;
            }

            .event-some-more {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;

                .some-more-button {
                    font-size: 16px;
                    min-width: 150px;
                    width: 50%;
                    min-height: 50px;
                    padding: 0px;
                }
            }
        }
    }
</style>
