<template>
  <div class="privacy-policy-container" :style="{padding: titlePadding, margin: containerMargin}">
    <div class="privacy-policy-container-inner">
      <div class="privacy-policy-title">
        <div class="privacy-policy-title-inner">
          <h1 class="privacy-policy-title-label">
            Политика конфиденциальности
          </h1>
        </div>
      </div>
      <p class="privacy-policy-title-0">
        1. Введение
      </p>
      <p class="privacy-policy-title-1">
        1.1. Настоящая политика в области обработки персональных данных и конфиденциальности персональной информации
        (далее — Политика) действует в отношении всей информации, которую группа разработчиков «Забастком» и/или ее
        аффилированные лица, могут получить о пользователе во время использования программного продукта «Забастком»
        (далее — Сервис), а также в ходе исполнения любых соглашений и договоров, заключенных с пользователем в
        связи с использованием Сервиса. Согласие пользователя на предоставление персональных данных (персональной
        информации), данное им в соответствии с настоящей Политикой в рамках отношений с одним из лиц, входящих в
        группу разработчиков «Забастком», распространяется на все лица, входящие в данную группу лиц.
      </p>
      <p class="privacy-policy-title-2">
        1.2. Использование Сервиса означает безоговорочное согласие пользователя с настоящей Политикой и указанными
        в ней условиями обработки его персональной информации, а именно на совершение действий, предусмотренных п. 3
        ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных" как без, так и с
        использованием средств автоматизации, и подтверждает, что, давая такое согласие, он действует свободно,
        своей волей и в своем интересе; в случае несогласия с этими условиями пользователь должен воздержаться от
        использования Сервиса.
      </p>
      <p class="privacy-policy-title-4">
        2. Персональная информация пользователей, которую получает и обрабатывает Сервис
      </p>
      <p class="privacy-policy-title-5">
        2.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
      </p>
      <p class="privacy-policy-title-4">
        2.1.1. Данные, которые автоматически передаются Сервисом в процессе их использования с помощью
        установленного на устройстве пользователя программного обеспечения, в том числе время доступа, адрес
        запрашиваемой страницы;
      </p>
      <p class="privacy-policy-title-5">
        2.1.2. Информация аккаунта email, Google+, Twitter или VK;
      </p>
      <p class="privacy-policy-title-6">
        2.1.3. Иная информация о пользователе, в случае, если ее сбор и/или предоставление определено в регулирующих
        документах отдельных Сервисов.
      </p>
      <p class="privacy-policy-title-7">
        2.2. Настоящая Политика применима только к Сервису. Администрация Сервиса не контролирует и не несет
        ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным в Сервисе.
        На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также
        могут совершаться иные действия.
      </p>
      <p class="privacy-policy-title-8">
        2.3. Согласие пользователя на обработку персональных данных действует бессрочно с момента осуществления
        регистрации пользователя на сайте, и не требует периодического подтверждения. Сервис будет хранить
        персональную информацию столько времени, сколько это необходимо для достижения цели, для которой она была
        собрана, или для соблюдения требований законодательства и нормативных актов.
      </p>
      <p class="privacy-policy-title-9">
        3. Цели сбора и обработки персональной информации пользователей
      </p>
      <p class="privacy-policy-title-10">
        3.2. Персональную информацию пользователя Сервис может использовать в следующих целях:
      </p>
      <p class="privacy-policy-title-11">
        3.2.1. Идентификация стороны в рамках соглашений с Сервисом;
      </p>
      <p class="privacy-policy-title-12">
        3.2.2. Обработка необходима для формирования индивидуальной информационной подборки пользователем;
      </p>
      <p class="privacy-policy-title-13">
        3.2.3. Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся
        использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;
      </p>
      <p class="privacy-policy-title-14">
        3.2.4. Улучшение качества Сервиса, удобства их использования, разработка новых возможностей Сервиса;
      </p>
      <p class="privacy-policy-title-15">
        3.2.5. Координаты устройства только при использовании функционала по созданию самостоятельно контента с
        использованием сервиса. Пользователю разрешается запретить отдавать данный вид данных, при условии согласия
        с ограничением в функционале приложения.
      </p>
      <p class="privacy-policy-title-16">
        3.2.6. Проведение статистических и иных исследований на основе обезличенных данных.
      </p>
      <p class="privacy-policy-title-17">
        4. Условия обработки персональной информации пользователя и ее передачи третьим лицам
      </p>
      <p class="privacy-policy-title-18">
        4.1. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного
        предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании сторонних
        сервисов (например, блога), пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.
      </p>
      <p class="privacy-policy-title-19">
        4.2. Сервис вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
      </p>
      <p class="privacy-policy-title-20">
        4.2.1. Пользователь выразил свое согласие на такие действия;
      </p>
      <p class="privacy-policy-title-21">
        4.2.2. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
      </p>
      <p class="privacy-policy-title-22">
        4.2.3. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят
        все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации.
      </p>
      <p class="privacy-policy-title-23">
        5. Изменение пользователем персональной информации
      </p>
      <p class="privacy-policy-title-24">
        5.1. Пользователь может в любой момент изменить (обновить, дополнить) либо удалить предоставленную им персональную информацию или ее часть,
        а также параметры ее конфиденциальности, воспользовавшись функцией редактирования персональных данных в разделе «Настройки».
      </p>
      <p class="privacy-policy-title-25">
        6. Меры, применяемые для защиты персональной информации пользователей
      </p>
      <p class="privacy-policy-title-26">
        6.1. Сервис принимает необходимые и достаточные организационные и технические меры для защиты персональной информации
        пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения,
        а также от иных неправомерных действий с ней третьих лиц.
      </p>
      <p class="privacy-policy-title-27">
        7. Изменение Политики конфиденциальности. Применимое законодательство
      </p>
      <p class="privacy-policy-title-28">
        7.1. Сервис имеет право вносить изменения в настоящую Политику конфиденциальности.
        При внесении изменений в актуальной редакции указывается дата последнего обновления.
        Новая редакция Политики вступает в силу с момента ее опубликования в Сервисе, если иное не предусмотрено новой редакцией Политики.
        Действующая редакция всегда находится и доступна на разделе Сервиса «Настройки».
      </p>
      <p class="privacy-policy-title-29">
        7.2. К настоящей Политике и отношениям между пользователем и Сервисом, возникающим в связи с применением Политики конфиденциальности,
        подлежит применению право Российской Федерации.
      </p>
      <p class="privacy-policy-title-30">
        7.3. При обработке персональных данных пользователей Сервис руководствуется Федеральным законом от 27.07.2006 N 152-ФЗ «О персональных данных».
      </p>
      <p class="privacy-policy-title-31">
        8. Обратная связь. Вопросы и предложения
      </p>
      <p class="privacy-policy-title-32">
        8.1. Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки пользователей - Zabastrikecom@gmail.com.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';

@Component({
  head() {
    return {
      title: 'Политика конфиденциальности - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Настоящая политика в области обработки персональных данных и конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую группа разработчиков «Забастком» и/или ее аффилированные лица, могут получить о пользователе во время использования программного продукта «Забастком»...',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/privacy-policy',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Политика конфиденциальности - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Настоящая политика в области обработки персональных данных и конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую группа разработчиков «Забастком» и/или ее аффилированные лица, могут получить о пользователе во время использования программного продукта «Забастком»...',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/privacy-policy',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Политика конфиденциальности - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Настоящая политика в области обработки персональных данных и конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую группа разработчиков «Забастком» и/или ее аффилированные лица, могут получить о пользователе во время использования программного продукта «Забастком»...',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class PrivacyPolicy extends Vue {
  private get titlePadding(): string {
    return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 40px 10px';
  }

  private get containerMargin(): string {
    return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 20px';
  }

  private mounted(): void {
    this.$store.commit('SET_MENU', false);
    this.$store.commit('SET_SPINNER', true);
    // Срабатывает при переходе между страницами
    if (document && (document.readyState === 'complete')) {
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 1000);
    }
    // Срабатывает при первоначальной загрузке сайта
    if (window) {
      window.onload = () => {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 200);
      };
    }
    // Срабатывает в любом случае через 10 сек
    setTimeout(() => {
      this.$store.commit('SET_SPINNER', false);
    }, 10000);
  }
}
</script>

<style lang="less" scoped>
    .privacy-policy-container {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        font-family: 'San Francisco Pro';
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        margin: 20px;
        text-align: justify;

        .privacy-policy-container-inner {
            width: 100%;
            min-height: 1000px;
            display: flex;
            flex-direction: column;
            background-color: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);
            padding: 42px;

            .privacy-policy-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 40px;

                .privacy-policy-title-inner {
                    max-width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: @c-primary;

                    .privacy-policy-title-label {
                        max-width: 100%;
                        margin: 0px 0px 0px 8px;
                        font-family: 'Futura New';
                        font-weight: 500;
                        font-size: 24px;
                        font-style: normal;
                        word-wrap: break-word;
                    }
                }
            }

            p {
                margin-top: 25px;
            }
        }
    }
</style>
