<template>
  <v-app
    class="search-input-container"
  >
    <div class="search-container">
      <section class="search-container-inner">
        <v-row
          class="search-item-group-inner"
          :style="{
            'max-width': switcherMaxWidth
          }"
        >
          <v-col
            v-for="(searchType, index) in searchTypes"
            :key="searchType.value"
            cols="12"
            md="4"
          >
            <v-item>
              <v-card
                :color="itemSelected===index ? activeItemColor : baseItemColor"
                class="d-flex align-center"
                dark
                height="50"
                @click="itemSelected=index"
              >
                <v-scroll-y-transition>
                  <div
                    class="flex-grow-1 text-center"
                  >
                    {{ searchType.text }}
                  </div>
                </v-scroll-y-transition>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
        <event-filter class="event-filter-block" :filter-type="type" :opened="!!(eventFilterSize === 'large')" :size="eventFilterSize" @on-search="changeSearch" />
        <div v-if="itemSelected !== 0" class="event-list">
          <div v-for="eventItem of eventItemArr" :key="eventItem.id" class="view-block">
            <event-card :i-event="eventItem" :type="type" :card-size="eventCardSize" />
          </div>
          <div v-if="eventItemArr.length === 0" class="empty-search">
            Нет данных по вашему запросу
          </div>
        </div>
        <div v-else class="conflict-list">
          <div v-for="conflictItem of conflictItemArr" :key="conflictItem.id" class="view-block">
            <conflict-card :i-conflict="conflictItem" :card-size="conflictCardSize" />
          </div>
          <div v-if="conflictItemArr.length === 0" class="empty-search">
            Нет данных по вашему запросу
          </div>
        </div>
        <div v-if="!endLoading && (pagesLoaded % 4 === 0)" class="event-some-more">
          <strikecom-button class="some-more-button" @mousedown="addSomeMore">
            <p>
              Загрузить еще
            </p>
          </strikecom-button>
        </div>
      </section>
    </div>
  </v-app>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import qs from 'qs';
import {
  ConflictFilters,
  ConflictRequest,
  EventFilters,
  EventRequest, EventSort,
  IConflict,
  IEvent,
  NewsFilters,
  SearchTypeItem,
} from '@/components/api/index';
import colorVariables from '@/components/maps/color';
import { searchTypesMap } from '@/components/maps/index';
import EventCard from '@/components/EventCard.vue';
import EventFilter from '@/components/EventFilter.vue';
import StrikecomButton from '@/components/StrikecomButton.vue';

@Component({
  components: { EventCard, StrikecomButton, EventFilter },
  layout: 'sidebarOff',
  head() {
    return {
      title: 'Поиск - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Вы можете использовать фильтры и строку поиска, чтобы выбрать интересующие вас новости.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/search',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Поиск - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Вы можете использовать фильтры и строку поиска, чтобы выбрать интересующие вас новости.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/search-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/search',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Поиск - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Вы можете использовать фильтры и строку поиска, чтобы выбрать интересующие вас новости.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/search-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/search-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Search extends Vue {
    private activeItemColor: string = colorVariables['c-active'];

    private baseItemColor: string = colorVariables['c-primary'];

    private searchInput: string = '';

    private endLoading: boolean = false;

    private itemSelected: number = 1;

    private eventItemArr: IEvent[] = [];

    private conflictItemArr: IConflict[] = [];

    private perPage: number = 7;

    private pagesLoaded: number = 1;

    private language: string = 'Ru';

    private filters: EventFilters = {
      published: true,
    };

    private sort: EventSort = {
      field: 'createdAt',
      order: 'desc',
    };

    private searchTypes: SearchTypeItem [] = Array.from(searchTypesMap.keys()).map((item) => {
      const value: string | undefined = searchTypesMap.get(item);
      return {
        text: item,
        value: value || '',
      };
    });

    private searchInputRules: any = [(v: string) => v.length <= 200 || 'Не более 200 символов'];

    private get type(): string {
      if (this.itemSelected === 0) return 'conflicts';
      if (this.itemSelected === 1) return 'events';
      return 'news';
    }

    private get eventCardSize(): string {
      if (this.$mq === 'lg') return 'large';
      if (this.$mq === 'xsm') return 'small';
      return 'middle';
    }

    private get eventFilterSize(): string {
      if ((this.$mq === 'lg') || (this.$mq === 'md')) return 'large';
      if ((this.$mq === 'xsm') || (this.$mq === 'msm')) return 'small';
      return 'middle';
    }

    private get conflictCardSize(): string {
      return this.$mq.toString();
    }

    private get switcherMaxWidth(): string {
      return (this.eventCardSize === 'large') ? '855px' : '100%';
    }

    private async changeSearch(filters: EventFilters | ConflictFilters | NewsFilters): Promise<void> {
      this.filters = filters;
      this.filters.published = true;
      this.pagesLoaded = 1;
      this.endLoading = false;
      if (this.itemSelected === 0) {
        const conflictRequest: ConflictRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
          sort: this.sort,
        };
        const newItems: IConflict[] = await this.conflictItemRequest(conflictRequest);
        this.conflictItemArr = [];
        this.conflictItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } else {
        const eventRequest: EventRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
          sort: this.sort,
        };
        const newItems: IEvent[] = await this.eventItemRequest(eventRequest);
        this.eventItemArr = [];
        this.eventItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      }
    }

    @Watch('type')
    private async switchType(): Promise<void> {
      this.pagesLoaded = 1;
      this.endLoading = false;
      if (this.itemSelected === 0) {
        const conflictRequest: ConflictRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
          sort: this.sort,
        };
        const newItems: IConflict[] = await this.conflictItemRequest(conflictRequest);
        this.conflictItemArr = [];
        this.conflictItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } else {
        const eventRequest: EventRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
          sort: this.sort,
        };
        const newItems: IEvent[] = await this.eventItemRequest(eventRequest);
        this.eventItemArr = [];
        this.eventItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      }
    }

    private async eventItemRequest(eventRequest: EventRequest, type: string = this.type, language: string = this.language): Promise<IEvent[]> {
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      return (await this.$axios.$get(url, {
        params: eventRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      })).data as IEvent[];
    }

    private async conflictItemRequest(conflictRequest: ConflictRequest, type: string = this.type, language: string = this.language): Promise<IConflict[]> {
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      return (await this.$axios.$get(url, {
        params: conflictRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      })).data as IConflict[];
    }

    private async addSomeMore(): Promise<void> {
      this.pagesLoaded += 1;
      if (this.itemSelected === 0) {
        const conflictRequest: ConflictRequest = {
          page: this.pagesLoaded.toString(),
          perPage: this.perPage.toString(),
          filters: this.filters,
          sort: this.sort,
        };

        this.conflictItemRequest(conflictRequest).then((newItems: IConflict[]) => {
          this.conflictItemArr.push(...newItems);
          if (newItems.length < this.perPage) {
            this.endLoading = true;
          }
        });
      } else {
        const eventRequest: EventRequest = {
          page: this.pagesLoaded.toString(),
          perPage: this.perPage.toString(),
          filters: this.filters,
          sort: this.sort,
        };

        this.eventItemRequest(eventRequest).then((newItems: IEvent[]) => {
          this.eventItemArr.push(...newItems);
          if (newItems.length < this.perPage) {
            this.endLoading = true;
          }
        });
      }
    }

    private async scrollEvents(): Promise<void> {
      window.onscroll = () => {
        const bottomOfWindow = document.documentElement.scrollTop + window.innerHeight > document.documentElement.offsetHeight - 5;
        if (!this.endLoading && bottomOfWindow && (this.pagesLoaded % 4 !== 0)) {
          this.pagesLoaded += 1;
          if (this.itemSelected === 0) {
            const conflictRequest: ConflictRequest = {
              page: this.pagesLoaded.toString(),
              perPage: this.perPage.toString(),
              filters: this.filters,
              sort: this.sort,
            };

            this.conflictItemRequest(conflictRequest).then((newItems: IConflict[]) => {
              this.conflictItemArr.push(...newItems);
              if (newItems.length < this.perPage) {
                this.endLoading = true;
              }
            });
          } else {
            const eventRequest: EventRequest = {
              page: this.pagesLoaded.toString(),
              perPage: this.perPage.toString(),
              filters: this.filters,
              sort: this.sort,
            };

            this.eventItemRequest(eventRequest).then((newItems: IEvent[]) => {
              this.eventItemArr.push(...newItems);
              if (newItems.length < this.perPage) {
                this.endLoading = true;
              }
            });
          }
        }
      };
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private async fetch(): Promise<void> {
      this.pagesLoaded = 1;
      this.endLoading = false;
      if (this.itemSelected === 0) {
        const conflictRequest: ConflictRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
          sort: this.sort,
        };
        const newItems: IConflict[] = await this.conflictItemRequest(conflictRequest);
        this.conflictItemArr = [];
        this.conflictItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } else {
        const eventRequest: EventRequest = {
          page: '1',
          perPage: this.perPage.toString(),
          filters: this.filters,
          sort: this.sort,
        };
        const newItems: IEvent[] = await this.eventItemRequest(eventRequest);
        this.eventItemArr = [];
        this.eventItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      }
    }

    private mounted(): void {
      this.$store.commit('SET_MENU', false);
      this.$store.commit('SET_SPINNER', true);
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
      this.scrollEvents();
    }
}
</script>

<style lang="less" scoped>
    .search-input-container {
        background: inherit !important;
        width: 100%;
        font-family: 'San Francisco Pro';
        font-weight: 400;
        font-size: 14px;
        font-style: normal;

        .search-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            margin: 10px 0px;

            .search-container-inner {
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                margin: 24px 0px 0px 0px;

                .empty-search {
                    margin: 70px;
                    font-size: 24px;
                    font-weight: 500;
                    color: @c-disabled;
                    text-align: center;
                }

                .search-item-group-inner {
                    width: 100%;
                    margin: 0px 0px;
                    font-size: 18px;
                }
            }
        }

        .view-block {
            margin: 30px 0px 30px 0px;
        }

        .event-switcher {
            margin: 20px 0px 10px 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            .switch-button {
                width: 198px;
                margin: 10px 5px 5px 10px;
                font-size: 14px;
            }
        }

        .event-filter-block {
            margin: 0px 0px 20px 0px;
            max-width: 900px;
        }

        .event-some-more {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;

            .some-more-button {
                font-size: 16px;
                min-width: 150px;
                width: 50%;
                min-height: 50px;
                padding: 0px;
            }
        }
    }
</style>
