<template>
  <div class="share-api-container" :style="{padding: titlePadding, margin: containerMargin}">
    <div class="share-api-container-inner">
      <div class="share-api-title">
        <div class="share-api-title-inner">
          <h1 class="share-api-title-label">
            API
          </h1>
        </div>
      </div>
      <p class="share-api-title-1">
        Предоставляем всем желающим свободный доступ к базе данных проекта с помощью API ZabastCom.
        API ZabastCom - это программный интерфейс взаимодействия, который предоставляет доступ к полной версии базы данных проекта и позволяет без ограничений получать актуальные данные.
      </p>
      <br>
      <p class="share-api-title-2">
        Использование API ZabastCom может осуществляться всеми желающими свободно и бесплатно, но без целей извлечения прибыли.
      </p>
      <br>
      <br>
      <p class="share-api-title-3">
        С документацией по использованию API ZabastCom можно ознакомиться по ссылке: <a href="https://zabastcom.org/apk/docs/">https://zabastcom.org/apk/docs/</a>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';

@Component({
  layout: 'onlyNews',
  head() {
    return {
      title: 'API - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Предоставляем всем желающим свободный доступ к базе данных проекта с помощью API ZabastCom.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/share-api',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'API - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Предоставляем всем желающим свободный доступ к базе данных проекта с помощью API ZabastCom.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/share-api',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'API - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Предоставляем всем желающим свободный доступ к базе данных проекта с помощью API ZabastCom.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/about-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class ShareApi extends Vue {
  private get titlePadding(): string {
    return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 40px 10px';
  }

  private get containerMargin(): string {
    return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px' : ' 20px';
  }

  private mounted(): void {
    this.$store.commit('SET_MENU', false);
    this.$store.commit('SET_SPINNER', true);
    // Срабатывает при переходе между страницами
    if (document && (document.readyState === 'complete')) {
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 1000);
    }
    // Срабатывает при первоначальной загрузке сайта
    if (window) {
      window.onload = () => {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 200);
      };
    }
    // Срабатывает в любом случае через 10 сек
    setTimeout(() => {
      this.$store.commit('SET_SPINNER', false);
    }, 10000);
  }
}
</script>

<style lang="less" scoped>
    .share-api-container {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        font-family: 'San Francisco Pro';
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        margin: 20px;
        text-align: justify;

        .share-api-container-inner {
            width: 100%;
            min-height: 1000px;
            display: flex;
            flex-direction: column;
            background-color: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);
            padding: 42px;

            .share-api-title {
                display: flex;
                flex-direction: column;
                align-items: center;

                .share-api-title-inner {
                    max-width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: @c-primary;

                    .share-api-title-label {
                        max-width: 100%;
                        margin: 0px 0px 0px 8px;
                        font-family: 'Futura New';
                        font-weight: 500;
                        font-size: 24px;
                        font-style: normal;
                        word-wrap: break-word;
                    }
                }
            }

            .share-api-title-1 {
                margin-top: 40px;
            }
        }
    }

</style>
