<template>
  <div class="statistics-container">
    <article v-if="reportTotal" class="statistics-container-inner">
      <strikecom-chart-overlay />
      <section v-if="conflictsByIndustries" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по отраслям
        </h2>
        <strikecom-pie-chart
          v-if="loadingMap.charts.conflictsByIndustries <= loadingMap.loadingIndex"
          key="conflictsByIndustries"
          class="statistics-pie-chart"
          :data="conflictsByIndustries"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByReasons" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по причинам возникновения
        </h2>
        <strikecom-pie-chart
          v-if="loadingMap.charts.conflictsByReasons <= loadingMap.loadingIndex"
          key="conflictsByReasons"
          class="statistics-pie-chart"
          :data="conflictsByReasons"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByResults" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по результатам завершения
        </h2>
        <strikecom-pie-chart
          v-if="loadingMap.charts.conflictsByResults <= loadingMap.loadingIndex"
          key="conflictsByResults"
          class="statistics-pie-chart"
          :data="conflictsByResults"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByTypes" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по типам противодействия
        </h2>
        <strikecom-pie-chart
          v-if="loadingMap.charts.conflictsByTypes <= loadingMap.loadingIndex"
          key="conflictsByTypes"
          class="statistics-pie-chart"
          :data="conflictsByTypes"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByReasonsByIndustries" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по причинам возникновения для каждой отрасли
        </h2>
        <strikecom-stacked-column-chart
          v-if="loadingMap.charts.conflictsByReasonsByIndustries <= loadingMap.loadingIndex"
          key="conflictsByReasonsByIndustries"
          class="statistics-stacked-column-chart"
          :data="conflictsByReasonsByIndustries"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByResultsByIndustries" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по результатам завершения для каждой отрасли
        </h2>
        <strikecom-stacked-column-chart
          v-if="loadingMap.charts.conflictsByResultsByIndustries <= loadingMap.loadingIndex"
          key="conflictsByResultsByIndustries"
          class="statistics-stacked-column-chart"
          :data="conflictsByResultsByIndustries"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByTypesByIndustries" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по типам противодействия для каждой отрасли
        </h2>
        <strikecom-stacked-column-chart
          v-if="loadingMap.charts.conflictsByTypesByIndustries <= loadingMap.loadingIndex"
          key="conflictsByTypesByIndustries"
          class="statistics-stacked-column-chart"
          :data="conflictsByTypesByIndustries"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByResultsByTypes" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по результатам для каждого типа противодействия
        </h2>
        <strikecom-stacked-column-chart
          v-if="loadingMap.charts.conflictsByResultsByTypes <= loadingMap.loadingIndex"
          key="conflictsByResultsByTypes"
          class="statistics-stacked-column-chart"
          :data="conflictsByResultsByTypes"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByReasonsByYears" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по причинам возникновения за каждый год
        </h2>
        <strikecom-stacked-column-chart
          v-if="loadingMap.charts.conflictsByReasonsByYears <= loadingMap.loadingIndex"
          key="conflictsByReasonsByYears"
          class="statistics-stacked-column-chart"
          :legend-hidden="true"
          :data="conflictsByReasonsByYears"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByResultsByYears" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по результатам за каждый год
        </h2>
        <strikecom-stacked-column-chart
          v-if="loadingMap.charts.conflictsByResultsByYears <= loadingMap.loadingIndex"
          key="conflictsByResultsByYears"
          class="statistics-stacked-column-chart"
          :legend-hidden="true"
          :data="conflictsByResultsByYears"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByTypesByYears" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по типам противодействия за каждый год
        </h2>
        <strikecom-stacked-column-chart
          v-if="loadingMap.charts.conflictsByTypesByYears <= loadingMap.loadingIndex"
          key="conflictsByTypesByYears"
          class="statistics-stacked-column-chart"
          :legend-hidden="true"
          :data="conflictsByTypesByYears"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>

      <section v-if="conflictsByRegions && statisticsCountryEnabled" class="statistics-section">
        <h2 class="statistics-section-title" :style="{'font-size': `${titleFontSize}px`}">
          Распределение конфликтов по регионам
        </h2>
        <strikecom-map-chart
          v-if="loadingMap.charts.conflictsByRegions <= loadingMap.loadingIndex"
          key="conflictsByRegions"
          class="statistics-pie-chart"
          :data="conflictsByRegions"
          :country="statisticsCountry"
        />
        <chart-skeleton v-else class="statistics-skeleton" />
      </section>
    </article>
    <div v-else class="statistics-container-inner">
      <h2 v-if="!spinnerOn" class="statistics-container-no-access">
        Чтобы просматривать отчеты по трудовым конфликтам, пожалуйста,
        <button class="statistics-container-no-access-button" @click.prevent="signInModalOn">
          авторизуйтесь в системе.
        </button>
      </h2>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import qs from 'qs';
import {
  PieChartItem, ReasonCount, ReasonCountByIndustry, RegionCount,
  ReportRequest,
  ReportResult, ResultCount,
  ResultCountByIndustry, ResultCountByType,
  StackedColumnChartItem, TypeCount, TypeCountByIndustry,
} from '@/components/api/index';
import StrikecomPieChart from '@/components/StrikecomPieChart.vue';
import ChartSkeleton from '@/components/ChartSkeleton.vue';
import StrikecomChartOverlay from '@/components/StrikecomChartOverlay.vue';
import {
  conflictReasonMap,
  conflictResultMap, conflictTypesMap,
  countriesMap, industriesMap,
} from '@/components/maps';

@Component({
  components: {
    StrikecomPieChart,
    StrikecomChartOverlay,
    ChartSkeleton,
    StrikecomStackedColumnChart: () => import('@/components/StrikecomStackedColumnChart.vue'),
    StrikecomMapChart: () => import('@/components/StrikecomMapChart.vue'),
  },
  layout: 'sidebarOff',
  head() {
    return {
      title: 'Отчеты - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Портал позволяет просматривать статистику, анализируя причины и результаты трудовых конфликтов.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/statistics',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Отчеты - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Портал позволяет просматривать статистику, анализируя причины и результаты трудовых конфликтов.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/map-image.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/statistics',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Отчеты - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Портал позволяет просматривать статистику, анализируя причины и результаты трудовых конфликтов.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/map-image.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/map-image.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Statistics extends Vue {
    private language: string = 'Ru';

    private loadingTimeoutId: NodeJS.Timeout | null = null;

    private report: ReportResult | null | undefined = null;

    private reportTotal: ReportResult | null = null;

    private statisticYears: string[] = ['2018', '2019', '2020', '2021', '2022', '2023', '2024'];

    private reportsByYears: {year: string, yearReport: ReportResult}[] = [];

    private loadingMap: any = {
      loadingIndex: 0,
      charts: {
        conflictsByIndustries: 0,
        conflictsByReasons: 1,
        conflictsByResults: 2,
        conflictsByTypes: 3,
        conflictsByReasonsByIndustries: 4,
        conflictsByResultsByIndustries: 5,
        conflictsByTypesByIndustries: 6,
        conflictsByResultsByTypes: 7,
        conflictsByReasonsByYears: 8,
        conflictsByResultsByYears: 9,
        conflictsByTypesByYears: 10,
        conflictsByRegions: 11,
      },
    };

    private get statisticsCountryEnabled(): boolean {
      return !!this.statisticsCountry
      && this.statisticsCountry !== 'Украина'
      && this.statisticsCountry !== 'Россия';
    }

    private get statisticsCountry(): string {
      return this.$store.state.statisticsCountry;
    }

    private get statisticsPeriod(): string {
      return this.$store.state.statisticsPeriod;
    }

    private get titleFontSize(): number {
      switch (this.$mq) {
        case 'lg':
        case 'md':
        case 'sm':
          return 18;
        case 'msm':
          return 14;
        default:
          return 14;
      }
    }

    private get authorizationToken(): string {
      return this.$store.getters.authorizationToken;
    }

    // eslint-disable-next-line class-methods-use-this
    private get allCountryIds(): number[] {
      const countryIds: number[] = [];
      Array.from(countriesMap.keys()).forEach((countryName) => {
        const countryId = countriesMap.get(countryName);
        if (countryId) {
          countryIds.push(countryId);
        }
      });
      const additionalCountryIds: number[] = [20, 21, 38];
      countryIds.push(...additionalCountryIds);
      return countryIds;
    }

    private get conflictsByIndustries(): PieChartItem[] {
      const conflictsByIndustries: PieChartItem[] = [];
      if (this.report && this.report.countByIndustries) {
        this.report.countByIndustries.forEach((item) => {
          let industryName: string | null = 'Прочее';
          if (item.industryId !== null) {
            industryName = this.getNameFromMapById(industriesMap, item.industryId);
          }
          if (industryName) {
            const pieChartSector: PieChartItem = {
              name: industryName,
              value1: item.count,
            };
            conflictsByIndustries.push(pieChartSector);
          }
        });
      }
      return conflictsByIndustries;
    }

    private get conflictsByReasons(): PieChartItem[] {
      const conflictsByReasons: PieChartItem[] = [];
      if (this.report && this.report.countByReasons) {
        this.report.countByReasons.forEach((item) => {
          const reasonName: string | null = this.getNameFromMapById(conflictReasonMap, item.reasonId);
          if (reasonName) {
            const pieChartSector: PieChartItem = {
              name: reasonName,
              value1: item.count,
            };
            conflictsByReasons.push(pieChartSector);
          }
        });
      }
      return conflictsByReasons;
    }

    private get conflictsByResults(): PieChartItem[] {
      const conflictsByResults: PieChartItem[] = [];
      if (this.report && this.report.countByResults) {
        this.report.countByResults.forEach((item) => {
          const resultName: string | null = this.getNameFromMapById(conflictResultMap, item.resultId);
          if (resultName) {
            const pieChartSector: PieChartItem = {
              name: resultName,
              value1: item.count,
            };
            conflictsByResults.push(pieChartSector);
          }
        });
      }
      return conflictsByResults;
    }

    private get conflictsByTypes(): PieChartItem[] {
      const conflictsByTypes: PieChartItem[] = [];
      if (this.report && this.report.countByTypes) {
        this.report.countByTypes.forEach((item) => {
          const typeName: string | null = this.getNameFromMapById(conflictTypesMap, item.typeId);
          if (typeName) {
            const pieChartSector: PieChartItem = {
              name: typeName,
              value1: item.count,
            };
            conflictsByTypes.push(pieChartSector);
          }
        });
      }
      return conflictsByTypes;
    }

    private get conflictsByRegions(): RegionCount[] {
      return this.report?.countByRegions ?? [];
    }

    private get conflictsByResultsByIndustries(): StackedColumnChartItem[] {
      const conflictsByResultsByIndustries: StackedColumnChartItem[] = [];
      if (this.report && this.report.countByResultsByIndustries) {
        this.report.countByResultsByIndustries.forEach((item: ResultCountByIndustry, index: number) => {
          let industry: string | null = 'Прочее';
          if (item.industryId !== null) {
            industry = this.getNameFromMapById(industriesMap, item.industryId);
          }
          const industryName: string | null = `${index + 1}-${industry}`;
          if (industry) {
            const stackedChartColumn: StackedColumnChartItem = {
              name: industryName,
            };
            item.countByResult.forEach((result: ResultCount) => {
              const resultName: string | null = this.getNameFromMapById(conflictResultMap, result.resultId);
              if (resultName) {
                stackedChartColumn[resultName] = result.count;
              }
            });
            conflictsByResultsByIndustries.push(stackedChartColumn);
          }
        });
      }
      return conflictsByResultsByIndustries;
    }

    private get conflictsByReasonsByIndustries(): StackedColumnChartItem[] {
      const conflictsByReasonsByIndustries: StackedColumnChartItem[] = [];
      if (this.report && this.report.countByReasonsByIndustries) {
        this.report.countByReasonsByIndustries.forEach((item: ReasonCountByIndustry, index: number) => {
          let industry: string | null = 'Прочее';
          if (item.industryId !== null) {
            industry = this.getNameFromMapById(industriesMap, item.industryId);
          }
          const industryName: string | null = `${index + 1}-${industry}`;
          if (industry) {
            const stackedChartColumn: StackedColumnChartItem = {
              name: industryName,
            };
            item.countByReason.forEach((reason: ReasonCount) => {
              const reasonName: string | null = this.getNameFromMapById(conflictReasonMap, reason.reasonId);
              if (reasonName) {
                stackedChartColumn[reasonName] = reason.count;
              }
            });
            conflictsByReasonsByIndustries.push(stackedChartColumn);
          }
        });
      }
      return conflictsByReasonsByIndustries;
    }

    private get conflictsByReasonsByYears(): StackedColumnChartItem[] {
      const conflictsByReasonsByYears: StackedColumnChartItem[] = [];
      this.reportsByYears?.forEach((item) => {
        const report = item.yearReport;
        const stackedChartColumn: StackedColumnChartItem = {
          name: item.year,
        };
        Array.from(conflictReasonMap.keys()).forEach((reasonName: string) => {
          const reason: ReasonCount | undefined = report?.countByReasons?.find(reasonItem => reasonItem.reasonId === conflictReasonMap.get(reasonName));
          stackedChartColumn[reasonName] = reason ? reason?.count : 0;
        });
        conflictsByReasonsByYears.push(stackedChartColumn);
      });
      return conflictsByReasonsByYears;
    }

    private get conflictsByTypesByYears(): StackedColumnChartItem[] {
      const conflictsByTypesByYears: StackedColumnChartItem[] = [];
      this.reportsByYears?.forEach((item) => {
        const report = item.yearReport;
        const stackedChartColumn: StackedColumnChartItem = {
          name: item.year,
        };
        Array.from(conflictTypesMap.keys()).forEach((typeName: string) => {
          const type: TypeCount | undefined = report?.countByTypes?.find(typeItem => typeItem.typeId === conflictTypesMap.get(typeName));
          stackedChartColumn[typeName] = type ? type?.count : 0;
        });
        conflictsByTypesByYears.push(stackedChartColumn);
      });
      return conflictsByTypesByYears;
    }

    private get conflictsByResultsByYears(): StackedColumnChartItem[] {
      const conflictsByResultsByYears: StackedColumnChartItem[] = [];
      this.reportsByYears?.forEach((item) => {
        const report = item.yearReport;
        const stackedChartColumn: StackedColumnChartItem = {
          name: item.year,
        };
        Array.from(conflictResultMap.keys()).forEach((resultName: string) => {
          const result: ResultCount | undefined = report?.countByResults?.find(resultItem => resultItem.resultId === conflictResultMap.get(resultName));
          stackedChartColumn[resultName] = result ? result?.count : 0;
        });
        conflictsByResultsByYears.push(stackedChartColumn);
      });
      return conflictsByResultsByYears;
    }

    private get conflictsByTypesByIndustries(): StackedColumnChartItem[] {
      const conflictsByTypesByIndustries: StackedColumnChartItem[] = [];
      if (this.report && this.report.countByTypesByIndustries) {
        this.report.countByTypesByIndustries.forEach((item: TypeCountByIndustry, index: number) => {
          let industry: string | null = 'Прочее';
          if (item.industryId !== null) {
            industry = this.getNameFromMapById(industriesMap, item.industryId);
          }
          const industryName: string | null = `${index + 1}-${industry}`;
          if (industry) {
            const stackedChartColumn: StackedColumnChartItem = {
              name: industryName,
            };
            item.countByType.forEach((type: TypeCount) => {
              const typeName: string | null = this.getNameFromMapById(conflictTypesMap, type.typeId);
              if (typeName) {
                stackedChartColumn[typeName] = type.count;
              }
            });
            conflictsByTypesByIndustries.push(stackedChartColumn);
          }
        });
      }
      return conflictsByTypesByIndustries;
    }

    private get conflictsByResultsByTypes(): StackedColumnChartItem[] {
      const conflictsByResultsByTypes: StackedColumnChartItem[] = [];
      if (this.report && this.report.countByResultsByTypes) {
        this.report.countByResultsByTypes.forEach((item: ResultCountByType, index: number) => {
          const typeName: string | null = `${index + 1}-${this.getNameFromMapById(conflictTypesMap, item.typeId)}`;
          if (typeName) {
            const stackedChartColumn: StackedColumnChartItem = {
              name: typeName,
            };
            item.countByResult.forEach((result: ResultCount) => {
              const resultName: string | null = this.getNameFromMapById(conflictResultMap, result.resultId);
              if (resultName) {
                stackedChartColumn[resultName] = result.count;
              }
            });
            conflictsByResultsByTypes.push(stackedChartColumn);
          }
        });
      }
      return conflictsByResultsByTypes;
    }

    private get spinnerOn(): boolean {
      return this.$store.state.spinnerOn;
    }

    @Watch('statisticsCountry')
    private updateAfterCountrySwitch(): void {
      this.$store.commit('SET_SPINNER', true);
      setTimeout(() => this.reportLoading(), 100);
    }

    @Watch('statisticsPeriod')
    private updateAfterPeriodSwitch(): void {
      this.$store.commit('SET_SPINNER', true);
      setTimeout(() => this.reportLoading(), 100);
    }

    @Watch('authorizationToken')
    private async initReport(): Promise<void> {
      this.reportTotal = null;
      await this.reportLoading();
    }

    private setReport(): void {
      const report: ReportResult | null | undefined = this.reportTotal;
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      this.report = report;
      this.lazyLoading();
    }

    // eslint-disable-next-line class-methods-use-this
    private getNameFromMapById(pieChartMap: Map<string, number>, id: number): string | null {
      const pieChartArray: [string, number][] = Array.from(pieChartMap).filter((pieChartItem) => pieChartItem[1] === id);
      const pieChartItem: [string, number] | null = pieChartArray.length ? pieChartArray[0] : null;
      const pieChartName: string | null = pieChartItem && pieChartItem.length ? pieChartItem[0] : null;
      return pieChartName;
    }

    private signInModalOn(): void {
      this.$store.commit('SIGN_IN_MODAL_ON', true);
    }

    private lazyLoading(): void {
      if (this.loadingTimeoutId) {
        clearInterval(this.loadingTimeoutId);
      }
      this.loadingMap.loadingIndex = 0;
      this.loadingTimeoutId = setInterval(() => this.loadingMap.loadingIndex++, 3000);
    }

    private async reportItemRequest(reportRequest: ReportRequest, language: string = this.language): Promise<ReportResult> {
      const url: string = `https://zabastcom.org/api/v2/${language}/conflicts/report`;
      let source = this.$axios.CancelToken.source();
      // Прерывание запроса через 10 секунд
      setTimeout(() => {
        source.cancel();
        source = this.$axios.CancelToken.source();
      }, 10000);
      return ((await this.$axios.$get(url, {
        cancelToken: source.token,
        headers: this.authorizationToken ? {
          Authorization: `Bearer ${this.authorizationToken}`,
        } : null,
        params: reportRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      }))).data as ReportResult;
    }

    private async reportLoading(): Promise<void> {
      this.reportsByYears = [];
      let reportRequest: ReportRequest = {
        countriesIds: this.allCountryIds,
        from: this.statisticsPeriod && this.statisticsPeriod[0] ? this.$moment(new Date(this.statisticsPeriod[0])).unix().toString() : undefined,
        to: this.statisticsPeriod && this.statisticsPeriod[1] ? this.$moment(new Date(this.statisticsPeriod[1])).unix().toString() : undefined,
      };
      if (this.statisticsCountry) {
        const countryId = countriesMap.get(this.statisticsCountry);
        reportRequest.countriesIds = countryId ? [countryId] : [];
      }
      try {
        this.reportTotal = await this.reportItemRequest(reportRequest);
      } catch {
        this.reportTotal = null;
      }
      // Additional years report lazy loading
      const requestPromises: Promise<ReportResult | number>[] = [];
      this.statisticYears.forEach((year) => {
        let countryIds: number[] = [];
        if (this.statisticsCountry) {
          const countryId: number | undefined = countriesMap.get(this.statisticsCountry);
          countryIds = countryId ? [countryId] : [];
        } else {
          countryIds = this.allCountryIds;
        }
        if (countryIds.length) {
          reportRequest = {
            countriesIds: countryIds,
            from: this.$moment(new Date(`${year}-01-01`)).unix().toString(),
            to: this.$moment(new Date(`${year}-12-31`)).unix().toString(),
          };
          const requestPromise: Promise<ReportResult | number> = this.reportItemRequest(reportRequest).then((yearReport) => this.reportsByYears.push({ year, yearReport }));
          requestPromises.push(requestPromise);
        }
      });
      // Draw charts than all requests are finished
      Promise.all(requestPromises).then(() => {
        this.reportsByYears = this.reportsByYears?.sort((a, b) => parseInt(a.year, 10) - parseInt(b.year, 10));
        this.setReport();
      });
    }

    private async mounted(): Promise<void> {
      this.$store.commit('SET_MENU', false);
      this.$store.commit('SET_SPINNER', true);
      if (this.authorizationToken) {
        await this.initReport();
      }
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete') && !!this.report) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window && !!this.report) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
    }

    private beforeDestroy() {
      if (this.loadingTimeoutId) {
        clearInterval(this.loadingTimeoutId);
      }
    }
}
</script>

<style lang="less" scoped>
.statistics-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    font-family: 'San Francisco Pro';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    padding: 0px;

    .statistics-container-inner {
        width: 100%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .statistics-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin: 20px 10px 50px 10px;

            @media @lg {
                margin-bottom: 100px;
            }

            &-title {
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }

            .statistics-pie-chart {
                width: 100%;
                max-width: 1000px;
            }

            .statistics-stacked-column-chart {
                width: 100%;
                max-width: 1000px;
            }
        }

        .statistics-skeleton {
          max-width: 1000px;
          width: 100%;
          height: 600px;
          max-height: 50vh;
        }

        .statistics-container-no-access {
            text-align: center;
            max-width: 700px;
            font-family: 'San Francisco Pro';
            font-weight: 700;
            font-size: 30px;
            font-style: italic;
            margin: 150px 10px;
            color: @c-primary;

            .statistics-container-no-access-button {
                color: @c-royal-blue;
            }
        }
    }
}
</style>
