@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Regular Italic'), local('San-Francisco-Pro-Display-Regular-Italic'),
        url('SFProDisplay-RegularItalic.woff2') format('woff2'), url('SFProDisplay-RegularItalic.woff') format('woff'),
        url('SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
