@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Light'), local('San-Francisco-Pro-Display-Light'),
        url('SFProDisplay-Light.woff2') format('woff2'), url('SFProDisplay-Light.woff') format('woff'),
        url('SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
