@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Semibold Italic'), local('San-Francisco-Pro-Display-Semibold-Italic'),
        url('SFProDisplay-SemiboldItalic.woff2') format('woff2'), url('SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
