<template>
  <div class="conflict-container" :style="{padding: cardPadding}">
    <section class="conflict-container-inner">
      <article class="conflict-main-block" :style="{margin: mainBlockMargin}">
        <div class="conflict-description-section">
          <div class="conflict-description-section-inner">
            <div class="conflict-description-date">
              {{ conflictCreatedAt }}
            </div>
            <conflict-attributes :conflict="conflictDetailed" />
            <nuxt-link v-if="parentEventLink" :to="parentEventLink" class="conflict-description-parent" @click="clearFocus">
              <p>
                Исходит из события
              </p>
            </nuxt-link>
          </div>
          <div class="conflict-description-bookmark">
            <div tabindex="0" :class="bookmarkStatus" @click.prevent="switchBookmark">
              <div class="conflict-description-bookmark-top" />
              <font-awesome-icon
                class="conflict-description-bookmark-icon"
                icon="bookmark"
                size="2x"
              />
            </div>
          </div>
        </div>
        <div class="conflict-title-section" :style="{'font-size': titleFont}">
          {{ conflictTitle }}
        </div>
        <div
          class="conflict-image-section"
          :style="{
            'height': imageHeight,
          }"
        >
          <img tabindex="-1" class="conflict-image" :src="conflictPhotoLink" alt="" @error="onPhotoLoadError">
        </div>
      </article>
      <div
        class="conflict-chronology"
        :style="{padding: mainBlockMargin}"
      >
        <nuxt-link :to="offerLink" class="conflict-chronology-offer-link" @click="clearFocus">
          <strikecom-button :is-opened="true" class="conflict-chronology-offer-button">
            Сообщить о новом событии
          </strikecom-button>
        </nuxt-link>
        <chronology-diagram
          v-if="firstEventDetailed"
          class="conflict-chronology-inner"
          :relatives="firstEventDetailed.relatives"
          type="events"
          :diagram-key="conflictDetailed.id"
          :size="(cardSize === 'small') ? 'small' : 'large'"
        />
      </div>
      <div class="conflict-links" :style="{margin: mainBlockMargin}">
        <div class="conflict-links-share">
          <p class="conflict-links-share-title" :style="{'font-size': secondaryFont}">
            Поделиться
          </p>
          <div class="share-network-list">
            <ShareNetwork
              v-for="network of networkSharedList"
              :key="network.network"
              :network="network.network"
              :url="domainUrl+conflictLink"
              :media="conflictPhotoUrl"
              :title="conflictTitle"
              :style="{backgroundColor: network.color}"
              class="share-network-item"
              quote=""
              hashtags=""
              @click="clearFocus"
            >
              <div class="share-network-icon">
                <font-awesome-icon :icon="network.icon" size="2x" class="share-network-icon-inner" />
              </div>
              <div v-if="($mq === 'lg') || ($mq === 'md')" class="share-network-label">
                <span>{{ network.name }}</span>
              </div>
            </ShareNetwork>
          </div>
        </div>
      </div>
      <div class="conflict-map-container" :style="{height: mapHeight, padding: mainBlockMargin}">
        <event-map v-if="conflictDetailed" :key="mapKey" :class="`conflict-map ${mapKey}`" :center="[conflictDetailed.latitude,conflictDetailed.longitude]" :i-events="[conflictDetailed]" />
      </div>
    </section>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import qs from 'qs';
import {
  EventFilters,
  EventRequest,
  IConflict,
  IDetailedEvent,
  IEvent,
} from '@/components/api/index';
import ConflictCard from '@/components/ConflictCard.vue';
import EventMap from '@/components/EventMap.vue';
import StrikecomButton from '@/components/StrikecomButton.vue';
import { environmentalVarsMap } from '@/components/maps';

const ChronologyDiagram = () => import('~/components/ChronologyDiagram.vue');

@Component({
  components: { ConflictCard, StrikecomButton, ChronologyDiagram, EventMap },
  head() {
    return {
      // eslint-disable-next-line no-use-before-define
      title: (this as unknown as DetailedConflict).conflictTitle,
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedConflict).domainUrl + (this as unknown as DetailedConflict).conflictLink,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedConflict).conflictTitle,
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedConflict).conflictPhotoUrl,
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedConflict).domainUrl + (this as unknown as DetailedConflict).conflictLink,
        },
        {
          hid: 'og:title',
          property: 'og:title',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedConflict).conflictTitle,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedConflict).conflictPhotoUrl,
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          // eslint-disable-next-line no-use-before-define
          content: (this as unknown as DetailedConflict).conflictPhotoUrl,
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class DetailedConflict extends Vue {
        private conflictDetailed: IConflict | null = null;

        private type: string = 'conflicts';

        private defaultImag: string = '/imag/strikecom-conflict-red.webp';

        private photoErrorSrc: string | null = null;

        private mapKey: string = this.conflictDetailed ? `map-${this.conflictDetailed.id}` : 'map';

        private language: string = 'Ru';

        private relatedEvents: IEvent[] = [];

        private firstEventDetailed: IDetailedEvent | null = null;

        private networkSharedList: Object[] = [
          { network: 'email', name: 'Email', icon: ['far', 'envelope'], color: '#333333' },
          { network: 'facebook', name: 'Facebook', icon: ['fab', 'facebook-f'], color: '#1877f2' },
          { network: 'odnoklassniki', name: 'Odnoklassniki', icon: ['fab', 'odnoklassniki'], color: '#ed812b' },
          { network: 'telegram', name: 'Telegram', icon: ['fab', 'telegram-plane'], color: '#0088cc' },
          { network: 'twitter', name: 'Twitter', icon: ['fab', 'twitter'], color: '#1da1f2' },
          { network: 'viber', name: 'Viber', icon: ['fab', 'viber'], color: '#59267c' },
          { network: 'vk', name: 'Vk', icon: ['fab', 'vk'], color: '#4a76a8' },
          { network: 'whatsapp', name: 'Whatsapp', icon: ['fab', 'whatsapp'], color: '#25d366' },
        ]

        private get mapHeight(): string {
          if (this.cardSize === 'small') {
            return '300px';
          }
          return (this.cardSize === 'large') ? '600px' : '400px';
        }

        private get cardPadding(): string {
          return (this.cardSize === 'small') ? '20px 0px 20px 0px' : '20px 0px 20px 20px';
        }

        private get mainBlockMargin(): string {
          return (this.cardSize === 'small') ? '0px 25px 0px 25px' : '0px 42px 0px 42px';
        }

        private get titleFont(): string {
          return (this.cardSize === 'small') ? '18px' : '22px';
        }

        private get secondaryFont(): string {
          return (this.cardSize === 'small') ? '14px' : '16px';
        }

        private get conflictId(): number {
          return this.conflictDetailed && this.conflictDetailed.id ? this.conflictDetailed.id : 0;
        }

        private get cardInBookmarks(): boolean {
          return this.$store.state.userConflictBookmarks.includes(this.conflictId);
        }

        private get bookmarkStatus(): string {
          return this.cardInBookmarks ? 'conflict-description-bookmark-inner-red' : 'conflict-description-bookmark-inner';
        }

        private get conflictCreatedAt(): string {
          return this.conflictDetailed && this.conflictDetailed.createdAt ? this.timestampParse(this.conflictDetailed.createdAt) : '';
        }

        private get conflictLink(): string {
          return this.conflictDetailed && this.conflictDetailed.id ? `/conflicts/${this.conflictDetailed.id.toString()}` : '';
        }

        private get offerLink(): string {
          return this.conflictDetailed && this.conflictDetailed.id ? `/offer?conflict=${this.conflictDetailed.id.toString()}` : '/offer';
        }

        private get parentEventLink(): string {
          return this.conflictDetailed && this.conflictDetailed.parentEventId ? `/events/${this.conflictDetailed.parentEventId.toString()}` : '';
        }

        private get conflictTitle(): string {
          if (this.conflictDetailed && this.conflictDetailed.title) {
            return (this.cardSize === 'large') ? this.stringLimit(this.conflictDetailed.title, 100) : this.stringLimit(this.conflictDetailed.title, 70);
          }
          return '';
        }

        // eslint-disable-next-line class-methods-use-this
        private get domainUrl(): string {
          const domainUrl: string | undefined = (environmentalVarsMap).get('domain');
          return domainUrl || 'https://www.zabastcom.org';
        }

        private get cardSize(): string {
          if (this.$mq === 'lg') return 'large';
          if (this.$mq === 'xsm') return 'small';
          return 'middle';
        }

        // eslint-disable-next-line class-methods-use-this
        private stringLimit(str: string, limit: number): string {
          if (!str) {
            return str;
          }
          if (str.length < limit) {
            return str;
          }
          const spaceChar = ' ';
          let lastIndex = 0;
          let currentIndex = str.indexOf(spaceChar);
          while ((currentIndex !== -1) && (currentIndex < limit)) {
            lastIndex = currentIndex;
            currentIndex = str.indexOf(spaceChar, currentIndex + 1);
          }
          if (lastIndex === 0) {
            lastIndex = limit;
          }
          return `${str.substr(0, lastIndex)} ...`;
        }

        private async conflictDetailedRequest(id: number, language: string = this.language, withRelatives: boolean = true): Promise<IConflict> {
          const url: string = `https://zabastcom.org/api/v2/${language}/${this.type}/${id}`;
          return (await this.$axios.$get(url, {
            params: { withRelatives },
            paramsSerializer: params => {
              return qs.stringify(params, { allowDots: true });
            },
          })).data as IConflict;
        }

        private timestampParse(timestamp: number): string {
          return timestamp ? this.$moment(new Date(timestamp * 1000)).format('D MMMM, YYYY') : '';
        }

        private get conflictPhotoLink(): string {
          if (this.photoErrorSrc) {
            return this.photoErrorSrc;
          }
          let numberOfPhotoEvent: number = 0;
          let relatedItem: boolean = false;
          while (this.relatedEvents[numberOfPhotoEvent] && (!relatedItem) && (numberOfPhotoEvent < 49)) {
            const currentItem: IEvent = this.relatedEvents[numberOfPhotoEvent];
            if (!(currentItem.photoUrls && currentItem.photoUrls[0]) && !(currentItem.videos && currentItem.videos[0])) {
              numberOfPhotoEvent++;
            } else {
              relatedItem = true;
            }
          }
          if (relatedItem) {
            const currentItem = this.relatedEvents[numberOfPhotoEvent];
            if (currentItem.photoUrls && currentItem.photoUrls[0]) {
              return currentItem.photoUrls[0];
            }
            if (currentItem.videos && currentItem.videos[0]) {
              if (currentItem.videos[0].previewUrl) {
                return currentItem.videos[0].previewUrl;
              }
              if (currentItem.videos[0].url && (currentItem.videos[0].url.search('https://www.youtube.com/watch') !== -1)) {
                return `https://img.youtube.com/vi/${currentItem.videos[0].url.slice(32)}/0.jpg`;
              }
            }
          }
          return this.defaultImag;
        }

        private get conflictPhotoUrl(): string {
          if (this.photoErrorSrc || (this.conflictPhotoLink === this.defaultImag)) {
            return this.domainUrl + this.conflictPhotoLink;
          }
          return this.conflictPhotoLink;
        }

        private onPhotoLoadError(): void {
          this.photoErrorSrc = this.defaultImag;
        }

        private get imageHeight(): string {
          if (this.$mq === 'xsm') {
            return '130px';
          }
          if (this.$mq === 'msm') {
            return '160px';
          }
          if (this.$mq === 'sm') {
            return '280px';
          }
          if (this.$mq === 'md') {
            return '280px';
          }
          return '400px';
        }

        private async getRelatedEvents(conflictId: number, type: string = 'events', language: string = this.language): Promise<IEvent[]> {
          const filters: EventFilters = {
            conflictIds: [conflictId],
          };
          const eventRequest: EventRequest = {
            page: '1',
            perPage: '50',
            filters,
          };
          const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
          return (await this.$axios.$get(url, {
            params: eventRequest,
            paramsSerializer: params => {
              return qs.stringify(params, { allowDots: true });
            },
          })).data as IEvent[];
        }

        private async eventDetailedRequest(id: number, language: string = this.language, withRelatives: boolean = true): Promise<IDetailedEvent> {
          const url: string = `https://zabastcom.org/api/v2/${language}/events/${id}`;
          return (await this.$axios.$get(url, {
            params: { withRelatives },
            paramsSerializer: params => {
              return qs.stringify(params, { allowDots: true });
            },
          })).data as IDetailedEvent;
        }

        private switchBookmark(): void {
          this.clearFocus();
          if (!this.cardInBookmarks) {
            this.$store.dispatch('addBookmark', { type: this.type, id: this.conflictId });
          } else {
            this.$store.dispatch('deleteBookmark', { type: this.type, id: this.conflictId });
          }
        }

        // eslint-disable-next-line class-methods-use-this
        private clearFocus(): void {
          if (document.activeElement) {
            (document.activeElement as HTMLElement).blur();
          }
        }

        private rerenderMap(): void {
          this.mapKey = this.conflictDetailed ? `map-${this.conflictDetailed.id}-modified` : 'map-modified';
        }

        private async fetch(): Promise<void> {
          try {
            this.conflictDetailed = await this.conflictDetailedRequest(parseInt(this.$route.params.id, 10), 'ru', true);
            if (!this.conflictDetailed) {
              this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
            } else {
              this.relatedEvents = await this.getRelatedEvents(this.conflictDetailed.id);
            }
            if (this.relatedEvents.length) {
              this.firstEventDetailed = await this.eventDetailedRequest(this.relatedEvents[0].id, 'ru', true);
            }
          } catch (e) {
            this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
          }
        }

        private mounted(): void {
          this.$store.commit('SET_MENU', false);
          this.$store.commit('SET_SPINNER', true);
          // Срабатывает при переходе между страницами
          if (document && (document.readyState === 'complete')) {
            setTimeout(() => {
              this.rerenderMap();
              this.$store.commit('SET_SPINNER', false);
            }, 1000);
          }
          // Срабатывает при первоначальной загрузке сайта
          if (window) {
            window.onload = () => {
              setTimeout(() => {
                this.rerenderMap();
                this.$store.commit('SET_SPINNER', false);
              }, 200);
            };
          }
          // Срабатывает в любом случае через 10 сек
          setTimeout(() => {
            this.rerenderMap();
            this.$store.commit('SET_SPINNER', false);
          }, 10000);
        }
}
</script>

<style lang="less" scoped>
    /* сброс стилей */
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .conflict-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        max-width: 895px;
        width: 100%;
        padding: 20px;
        margin: 0px;

        .conflict-container-inner {
            background: @c-background-light;
            box-shadow: 0px 5px 25px @c-light-shadow-color;
            border: 1px solid rgba(1, 1, 1, 0);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            flex-grow: 1;
            padding: 0px;
            margin: 0px;

            .conflict-main-block {
                display: flex;
                flex-direction: column;
                min-height: 255px;
                flex-grow: 1;
                margin: 0px 42px 0px 42px;

                .conflict-image-section {
                    background: @c-primary;
                    display: flex;
                    flex-grow: 1;
                    overflow: hidden;
                    height: 155px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    margin: 0px 0px 0px 0px;

                    .conflict-image {
                        width: 100%; /* Ширина изображений */
                        //height: 100%;
                        //object-fit: contain;
                    }
                }

                .conflict-description-section {
                    display: flex;
                    flex-direction: row;
                    font-family: 'San Francisco Pro';
                    font-weight: 400;
                    font-size: 14px;
                    font-style: normal;
                    align-items: flex-start;
                    color: @c-disabled;

                    .conflict-description-section-inner {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin: 20px 20px 20px 0px;
                        align-items: center;

                        .conflict-description-date {
                            margin-right: 4px;
                        }

                        .conflict-description-parent {
                            outline: none;
                            text-decoration: none;
                            font-family: 'San Francisco Pro';
                            font-weight: 400;
                            font-size: 14px;
                            font-style: normal;
                            color: @c-disabled;
                            margin: 0px 20px 0px 0px;
                            transition: color ease-in-out 0.5s;
                            cursor: pointer;

                            &:hover {
                                color: @c-active;
                            }

                            &:focus {
                                color: @c-active;
                            }
                        }
                    }

                    .conflict-description-bookmark {
                        display: flex;
                        height: 100%;
                        margin: 0px 0px 0px auto;
                        flex-direction: column;
                        justify-content: flex-start;
                        cursor: pointer;

                        .conflict-description-bookmark-inner {
                            &:focus {
                                border: none;
                                outline: none !important;
                            }

                            &:hover .conflict-description-bookmark-top {
                                height: 22px;
                                background-color: @c-hover;
                            }

                            &:hover .conflict-description-bookmark-icon {
                                color: @c-hover;
                            }

                            &:focus .conflict-description-bookmark-top {
                                height: 22px;
                                background-color: @c-hover;
                            }

                            &:focus .conflict-description-bookmark-icon {
                                color: @c-hover;
                            }

                            .conflict-description-bookmark-top {
                                height: 12px;
                                background: @c-smoke;
                                transition: 0.5s;
                            }

                            .conflict-description-bookmark-icon {
                                color: @c-smoke;
                                margin-top: -10px;
                                height: 30px;
                                transition: 0.5s;
                            }
                        }

                        .conflict-description-bookmark-inner-red {
                            .conflict-description-bookmark-top {
                                height: 22px;
                                background-color: @c-active;
                                transition: 0.5s;
                            }

                            .conflict-description-bookmark-icon {
                                margin-top: -10px;
                                height: 30px;
                                transition: 0.5s;
                                color: @c-active;
                            }

                            &:focus {
                                border: none;
                                outline: none !important;
                            }

                            &:hover .conflict-description-bookmark-top {
                            }

                            &:hover .conflict-description-bookmark-icon {
                            }

                            &:focus .conflict-description-bookmark-top {
                            }

                            &:focus .conflict-description-bookmark-icon {
                            }
                        }
                    }
                }

                .conflict-title-section {
                    margin: 0px 0px 0px 0px;
                    display: flex;
                    flex-direction: row;
                    font-family: 'San Francisco Pro';
                    font-size: 22px;
                    font-weight: 700;
                    font-style: normal;
                    align-items: center;
                    color: @c-primary;
                    padding: 0px 0px 20px 0px;
                    text-align: right; //a

                    h2 {
                    }
                }

                .conflict-main-section {
                    width: 100%;
                    margin: 18px 0px 21px 0px;
                    min-height: 100px;
                    font-family: 'San Francisco Pro';
                    font-weight: 400;
                    font-size: 18px;
                    font-style: normal;
                }
            }

            .conflict-links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: solid 1px @c-smoke;
                margin: 0px 0 48px 0;
                min-height: 58px;
                align-items: flex-start;
                font-family: 'San Francisco Pro';
                font-weight: 400;
                font-style: normal;

                .conflict-links-share {
                    display: flex;
                    flex-direction: column;

                    .conflict-links-share-title {
                        font-size: 16px;
                        color: @c-disabled;
                        margin: 21px 0px 17px 0px;
                    }

                    .share-network-list {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: start;
                        max-width: 1000px;
                        margin: auto;
                        align-items: center;

                        .share-network-item {
                            display: flex;
                            color: @c-background-light;
                            height: 35px;
                            border-radius: 3px;
                            overflow: hidden;
                            flex-direction: row;
                            align-content: center;
                            font-size: 14px;
                            align-items: center;
                            cursor: pointer;
                            margin: 0 10px 10px 0;

                            .share-network-icon {
                                background-color: rgba(0, 0, 0, 0.2);
                                padding: 10px;

                                .share-network-icon-inner {
                                    width: 25px;
                                    border-bottom: 2px solid @c-background-light;
                                    padding: 2px;
                                }
                            }

                            .share-network-label {
                                max-width: 0px;
                                transition: 1.5s;
                                display: flex;
                                justify-content: center;
                                overflow: hidden;

                                span {
                                    font-size: 14px;
                                    padding: 0 10px;
                                    font-weight: 500;
                                    margin: 0px 20px;
                                }
                            }


                            &:hover .share-network-label {
                                max-width: 120px;
                            }

                            &:focus .share-network-label {
                                max-width: 120px;
                            }
                        }
                    }

                }

                .conflict-links-source {
                    font-size: 16px;
                    margin-top: 21px;
                }
            }
        }

        .conflict-chronology {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 20px 0px 20px 0px;
            padding: 0px 42px 0px 42px;

            .conflict-chronology-offer-link {
                outline: none;
                text-decoration: none;

                .conflict-chronology-offer-button {
                    height: 34px;
                }
            }

            .conflict-chronology-inner {
                margin: 0px 0px 0px 0px;
                width: 100%;
            }
        }

        .conflict-map-container {
            width: 100%;
            height: 600px;
            margin: 20px 0px 0px 0px;

            .conflict-map {
                width: 100%;
                height: 100%;
                padding: 0px 0px 10px 0px;
            }
        }
    }
</style>
