<template>
  <div class="conflicts-container">
    <section class="conflicts-container-inner">
      <h1 class="conflicts-title" :style="{'font-size': titleFont, margin: titleMargin}">
        Трудовые конфликты
      </h1>
      <div v-if="$mq !== 'xsm' && $mq !== 'msm'" class="conflict-switcher" :style="{'max-width': conflictSwitcherWidth}">
        <strikecom-button
          v-for="switchButton of switchButtons"
          :key="switchButton.key"
          class="switch-button"
          :is-opened="(currentKey === switchButton.key)"
          @mousedown="switchConflicts(switchButton.key)"
        >
          <p>
            {{ switchButton.title }}
          </p>
        </strikecom-button>
      </div>
      <div class="conflict-list">
        <div v-for="conflictItem of conflictItemArr" :key="conflictItem.id" class="view-block">
          <conflict-card :i-conflict="conflictItem" :card-size="cardSize" />
        </div>
      </div>
      <div v-if="!endLoading && (pagesLoaded % 2 === 0)" class="conflict-some-more">
        <strikecom-button class="some-more-button" @mousedown="addSomeMore">
          <p>
            Загрузить еще
          </p>
        </strikecom-button>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { Component, Vue } from 'nuxt-property-decorator';
import qs from 'qs';
import { ConflictRequest, ConflictFilters, IConflict, SwitchButton, ConflictSort } from '@/components/api/index';
import { conflictReasonMap } from '@/components/maps/index';
import ConflictCard from '@/components/ConflictCard.vue';
import StrikecomButton from '@/components/StrikecomButton.vue';

@Component({
  components: { ConflictCard, StrikecomButton },
  head() {
    return {
      title: 'Конфликты - сервис агрегации новостей Забастком',
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        {
          hid: 'description',
          name: 'description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        // Twitter
        // Test on: https://cards-dev.twitter.com/validator
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { hid: 'twitter:site', name: 'twitter:site', content: 'Zabastcom' },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://www.zabastcom.org/conflicts',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Конфликты - сервис агрегации новостей Забастком',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.zabastcom.org/imag/strikecom-conflict-red.jpg',
        },
        // Open Graph
        // Test on: https://developers.facebook.com/tools/debug/
        { hid: 'og:site_name', property: 'og:site_name', content: 'Zabastcom' },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.zabastcom.org/conflicts',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Конфликты - сервис агрегации новостей Забастком',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Сущность трудового конфликта (ТК) включает в себя одно или несколько событий связанных местом, субъектом и объектом конфликта.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.zabastcom.org/imag/strikecom-conflict-red.jpg',
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://www.zabastcom.org/imag/strikecom-conflict-red.jpg',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Strikecom',
        },
      ],
    };
  },
})
export default class Conflicts extends Vue {
    private conflictItemArr: IConflict[] = [];

    private type: string = 'conflicts';

    private currentKey: string = 'all';

    private perPage: number = 10;

    private pagesLoaded: number = 1;

    private endLoading: boolean = false;

    private scrollLoading = false;

    private language: string = 'Ru';

    private filters: ConflictFilters = {
    };

    private sort: ConflictSort = {
      field: 'createdAt',
      order: 'desc',
    };

    private switchButtons: SwitchButton[] = Array.from(conflictReasonMap.keys()).map((item: string) => {
      return {
        key: item,
        title: item,
      };
    });

    private get cardSize(): string {
      return this.$mq.toString();
    }

    private get titleFont(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '20px' : '24px';
    }

    private get titleMargin(): string {
      return (this.$mq === 'xsm' || this.$mq === 'msm') ? '10px 0px 0px 0px' : ' 37px 0px 0px 0px';
    }

    private get conflictSwitcherWidth(): string {
      return (this.$mq === 'lg') ? '855px' : '500px';
    }

    private async switchConflicts(key: string): Promise<void> {
      this.clearFocus();
      this.filters.conflictReasonIds = [];
      if (this.currentKey !== key) {
        this.filters.conflictReasonIds.push(conflictReasonMap.get(key) as number);
        this.currentKey = key;
      } else {
        this.currentKey = 'all';
      }
      this.pagesLoaded = 1;
      this.endLoading = false;
      const conflictRequest: ConflictRequest = {
        page: '1',
        perPage: this.perPage.toString(),
        filters: this.filters,
        sort: this.sort,
      };
      const newItems: IConflict[] = await this.itemRequest(conflictRequest);
      if (newItems.length < this.perPage) {
        this.endLoading = true;
      }
      this.conflictItemArr = [];
      this.conflictItemArr.push(...newItems);
    }

    private async itemRequest(conflictRequest: ConflictRequest, type: string = this.type, language: string = this.language): Promise<IConflict[]> {
      const url: string = `https://zabastcom.org/api/v2/${language}/${type}`;
      return (await this.$axios.$get(url, {
        params: conflictRequest,
        paramsSerializer: params => {
          return qs.stringify(params, { allowDots: true });
        },
      })).data as IConflict[];
    }

    private async addSomeMore(): Promise<void> {
      this.pagesLoaded += 1;
      const conflictRequest: ConflictRequest = {
        page: this.pagesLoaded.toString(),
        perPage: this.perPage.toString(),
        filters: this.filters,
        sort: this.sort,
      };

      this.itemRequest(conflictRequest).then((newItems: IConflict[]) => {
        this.conflictItemArr.push(...newItems);
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
        window.scrollBy(0, 1);
        window.scrollBy(0, -1);
      });
    }

    private async scrollConflicts(): Promise<void> {
      this.scrollLoading = true;
      window.onscroll = () => {
        const bottomOfWindow = document.documentElement.scrollTop + window.innerHeight > document.documentElement.offsetHeight - 2000;
        if (!this.endLoading && this.scrollLoading && bottomOfWindow && (this.pagesLoaded % 4 !== 0)) {
          this.pagesLoaded += 1;
          const conflictRequest: ConflictRequest = {
            page: this.pagesLoaded.toString(),
            perPage: this.perPage.toString(),
            filters: this.filters,
            sort: this.sort,
          };

          this.scrollLoading = false;
          this.itemRequest(conflictRequest).then((newItems: IConflict[]) => {
            this.conflictItemArr.push(...newItems);
            if (newItems.length < this.perPage) {
              this.endLoading = true;
            }
            setTimeout(() => {
              this.scrollLoading = true;
            }, 1000);
            window.scrollBy(0, 1);
            window.scrollBy(0, -1);
          });
        }
      };
    }

    // eslint-disable-next-line class-methods-use-this
    private clearFocus(): void {
      if (document.activeElement) {
        (document.activeElement as HTMLElement).blur();
      }
    }

    private async fetch(): Promise<void> {
      this.pagesLoaded = 1;
      this.endLoading = false;
      const conflictRequest: ConflictRequest = {
        page: '1',
        perPage: this.perPage.toString(),
        filters: this.filters,
        sort: this.sort,
      };
      try {
        const newItems: IConflict[] = await this.itemRequest(conflictRequest);
        this.conflictItemArr = [];
        this.conflictItemArr.push(...newItems);
        if (!this.conflictItemArr.length) {
          this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
        }
        if (newItems.length < this.perPage) {
          this.endLoading = true;
        }
      } catch (e) {
        this.$nuxt.error({ statusCode: 404, message: 'The page does not exist' });
        this.endLoading = true;
      }
    }

    private mounted(): void {
      this.$store.commit('SET_MENU', false);
      this.$store.commit('SET_SPINNER', true);
      // Срабатывает при переходе между страницами
      if (document && (document.readyState === 'complete')) {
        setTimeout(() => {
          this.$store.commit('SET_SPINNER', false);
        }, 1000);
      }
      // Срабатывает при первоначальной загрузке сайта
      if (window) {
        window.onload = () => {
          setTimeout(() => {
            this.$store.commit('SET_SPINNER', false);
          }, 200);
        };
      }
      // Срабатывает в любом случае через 10 сек
      setTimeout(() => {
        this.$store.commit('SET_SPINNER', false);
      }, 10000);
      this.scrollConflicts();
    }
}
</script>

<style lang="less" scoped>
    .conflicts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 0px;
    }

    .conflicts-container-inner {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .conflicts-title {
        margin: 37px 0px 0px 0px;
        font-family: 'San Francisco Pro';
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }

    .view-block {
        margin: 30px 0px 30px 0px;
    }

    .conflict-switcher {
        margin: 20px 0px 10px 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .switch-button {
            width: 198px;
            margin: 10px 5px 5px 10px;
            font-size: 14px;
        }
    }

    .conflict-some-more {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        .some-more-button{
            font-size: 16px;
            min-width: 150px;
            width: 50%;
            min-height: 50px;
            padding: 0px;
        }
    }
</style>
